IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwppbXBvcnQgYmFzZTY0CmltcG9ydCBoYXNobGliCmltcG9y
dCBobWFjCmltcG9ydCBodHRwLmNvb2tpZXMKaW1wb3J0IGpzb24KaW1wb3J0IG9zCmltcG9ydCBy
ZQppbXBvcnQgc2VjcmV0cwppbXBvcnQgdGhyZWFkaW5nCmltcG9ydCB0aW1lCmltcG9ydCB1cmxs
aWIuZXJyb3IKaW1wb3J0IHVybGxpYi5wYXJzZQppbXBvcnQgdXJsbGliLnJlcXVlc3QKZnJvbSBo
dHRwLnNlcnZlciBpbXBvcnQgQmFzZUhUVFBSZXF1ZXN0SGFuZGxlciwgVGhyZWFkaW5nSFRUUFNl
cnZlcgpmcm9tIHBhdGhsaWIgaW1wb3J0IFBhdGgKClZFUlNJT04gPSAiMC4xLjAtYmV0YS4xMiIK
QVBQX1JPT1QgPSBQYXRoKG9zLmVudmlyb24uZ2V0KCJGT1JHRUNPUkVfQVBQX1JPT1QiLCAiL2Rh
dGEiKSkKU1RPUkFHRV9ST09UID0gUGF0aChvcy5lbnZpcm9uLmdldCgiRk9SR0VDT1JFX1NUT1JB
R0VfUk9PVCIsICIvc3RvcmFnZSIpKQpJTkRFWF9GSUxFID0gUGF0aChvcy5lbnZpcm9uLmdldCgi
Rk9SR0VDT1JFX0lOREVYX0ZJTEUiLCAiL3RtcC9mb3JnZWNvcmUtaW5kZXguaHRtbCIpKQpDT05G
SUdfRElSID0gQVBQX1JPT1QgLyAiY29uZmlnIgpTVEFURV9ESVIgPSBBUFBfUk9PVCAvICJzdGF0
ZSIKU0VTU0lPTlNfRElSID0gU1RBVEVfRElSIC8gInNlc3Npb25zIgpQRU5ESU5HX0RJUiA9IFNU
QVRFX0RJUiAvICJnaXRodWItcGVuZGluZyIKUlVOTkVSX1JFUVVFU1RfRElSID0gU1RBVEVfRElS
IC8gInJ1bm5lci1yZXF1ZXN0cyIKUlVOTkVSX1JFU0VUX0RJUiA9IFNUQVRFX0RJUiAvICJydW5u
ZXItcmVzZXRzIgpSVU5ORVJfUkVTVEFSVF9ESVIgPSBTVEFURV9ESVIgLyAicnVubmVyLXJlc3Rh
cnRzIgpSVU5ORVJfU1RBUlRfRElSID0gU1RBVEVfRElSIC8gInJ1bm5lci1zdGFydHMiClJVTk5F
Ul9TVE9QX0RJUiA9IFNUQVRFX0RJUiAvICJydW5uZXItc3RvcHMiClJVTk5FUl9ST09UID0gU1RP
UkFHRV9ST09UIC8gInJ1bm5lcnMiCkxPR19ESVIgPSBTVE9SQUdFX1JPT1QgLyAibG9ncyIKCkFV
VEhfRklMRSA9IENPTkZJR19ESVIgLyAiYXV0aC5qc29uIgpBVVRIX1NFQ1JFVF9GSUxFID0gU1RB
VEVfRElSIC8gIi5hdXRoLXNlY3JldCIKR0lUSFVCX0FQUF9GSUxFID0gQ09ORklHX0RJUiAvICJn
aXRodWItYXBwLmpzb24iCkdJVEhVQl9BQ0NPVU5UX0ZJTEUgPSBDT05GSUdfRElSIC8gImdpdGh1
Yi1hY2NvdW50Lmpzb24iCkdJVEhVQl9UT0tFTl9GSUxFID0gU1RBVEVfRElSIC8gIi5naXRodWIt
dXNlci10b2tlbi5qc29uIgpJTlNUQU5DRV9GSUxFID0gU1RBVEVfRElSIC8gImluc3RhbmNlLWlk
IgpSVU5ORVJfT0JTRVJWQVRJT05TX0ZJTEUgPSBTVEFURV9ESVIgLyAicnVubmVyLW9ic2VydmF0
aW9ucy5qc29uIgpSVU5ORVJfT0JTRVJWQVRJT05TX0xPQ0sgPSB0aHJlYWRpbmcuTG9jaygpCgpT
RVNTSU9OX0NPT0tJRSA9ICJmb3JnZWNvcmVfc2Vzc2lvbiIKU0VTU0lPTl9UVEwgPSA3ICogMjQg
KiAzNjAwClJFUE9fUkUgPSByZS5jb21waWxlKHIiXltBLVphLXowLTlfLi1dKy9bQS1aYS16MC05
Xy4tXSskIikKU0xVR19SRSA9IHJlLmNvbXBpbGUociJeW2EtejAtOV0rKD86LVthLXowLTldKykq
JCIpClJVTk5FUl9OQU1FX1JFID0gcmUuY29tcGlsZShyIl5bQS1aYS16MC05XVtBLVphLXowLTku
XyAtXXswLDYzfSQiKQpSVU5ORVJfTEFCRUxfUkUgPSByZS5jb21waWxlKHIiXltBLVphLXowLTld
W0EtWmEtejAtOS5fLV17MCwzMX0kIikKV09SS0ZMT1dfTkFNRV9SRSA9IHJlLmNvbXBpbGUociJe
W15cclxuXXsxLDEwMH0kIikKCkdJVEhVQl9BUEkgPSAiaHR0cHM6Ly9hcGkuZ2l0aHViLmNvbSIK
R0lUSFVCX0FQSV9WRVJTSU9OID0gIjIwMjYtMDMtMTAiCkdJVEhVQl9IT01FUEFHRSA9ICJodHRw
czovL2dpdGh1Yi5jb20vSm9qamU4NC9Gb3JnZUNvcmUiCgoKZGVmIG5vd19lcG9jaCgpOgogICAg
cmV0dXJuIGludCh0aW1lLnRpbWUoKSkKCgpkZWYgdXRjX25vdygpOgogICAgcmV0dXJuIHRpbWUu
c3RyZnRpbWUoIiVZLSVtLSVkVCVIOiVNOiVTWiIsIHRpbWUuZ210aW1lKCkpCgoKZGVmIGVuc3Vy
ZV9kaXJzKCk6CiAgICBmb3IgcGF0aCBpbiAoQ09ORklHX0RJUiwgU1RBVEVfRElSLCBTRVNTSU9O
U19ESVIsIFBFTkRJTkdfRElSLCBSVU5ORVJfUkVRVUVTVF9ESVIsIFJVTk5FUl9SRVNFVF9ESVIs
IFJVTk5FUl9SRVNUQVJUX0RJUiwgUlVOTkVSX1NUQVJUX0RJUiwgUlVOTkVSX1NUT1BfRElSLCBS
VU5ORVJfUk9PVCwgTE9HX0RJUik6CiAgICAgICAgcGF0aC5ta2RpcihwYXJlbnRzPVRydWUsIGV4
aXN0X29rPVRydWUpCiAgICBpZiBub3QgSU5TVEFOQ0VfRklMRS5leGlzdHMoKToKICAgICAgICB3
cml0ZV90ZXh0X3ByaXZhdGUoSU5TVEFOQ0VfRklMRSwgc2VjcmV0cy50b2tlbl9oZXgoNCkgKyAi
XG4iKQoKCmRlZiB3cml0ZV90ZXh0X3ByaXZhdGUocGF0aCwgdGV4dCk6CiAgICBwYXRoLnBhcmVu
dC5ta2RpcihwYXJlbnRzPVRydWUsIGV4aXN0X29rPVRydWUpCiAgICB0bXAgPSBwYXRoLndpdGhf
c3VmZml4KHBhdGguc3VmZml4ICsgIi50bXAiKQogICAgd2l0aCBvcGVuKHRtcCwgInciLCBlbmNv
ZGluZz0idXRmLTgiKSBhcyBmaDoKICAgICAgICBmaC53cml0ZSh0ZXh0KQogICAgICAgIGZoLmZs
dXNoKCkKICAgICAgICBvcy5mc3luYyhmaC5maWxlbm8oKSkKICAgIG9zLmNobW9kKHRtcCwgMG82
MDApCiAgICBvcy5yZXBsYWNlKHRtcCwgcGF0aCkKCgpkZWYgd3JpdGVfanNvbl9wcml2YXRlKHBh
dGgsIHZhbHVlKToKICAgIHdyaXRlX3RleHRfcHJpdmF0ZShwYXRoLCBqc29uLmR1bXBzKHZhbHVl
LCBlbnN1cmVfYXNjaWk9RmFsc2UsIGluZGVudD0yLCBzb3J0X2tleXM9VHJ1ZSkgKyAiXG4iKQoK
CmRlZiByZWFkX2pzb24ocGF0aCwgZGVmYXVsdD1Ob25lKToKICAgIHRyeToKICAgICAgICB3aXRo
IG9wZW4ocGF0aCwgInIiLCBlbmNvZGluZz0idXRmLTgiKSBhcyBmaDoKICAgICAgICAgICAgcmV0
dXJuIGpzb24ubG9hZChmaCkKICAgIGV4Y2VwdCAoT1NFcnJvciwgVmFsdWVFcnJvciwgVHlwZUVy
cm9yKToKICAgICAgICByZXR1cm4gZGVmYXVsdAoKCmRlZiBzbHVnKHZhbHVlKToKICAgIHJlc3Vs
dCA9IHJlLnN1YihyIlteYS16MC05XSsiLCAiLSIsIHN0cih2YWx1ZSkubG93ZXIoKSkuc3RyaXAo
Ii0iKQogICAgcmV0dXJuIHJlc3VsdCBvciAicnVubmVyIgoKCmRlZiBhdXRoX3NlY3JldCgpOgog
ICAgaWYgbm90IEFVVEhfU0VDUkVUX0ZJTEUuZXhpc3RzKCk6CiAgICAgICAgd3JpdGVfdGV4dF9w
cml2YXRlKEFVVEhfU0VDUkVUX0ZJTEUsIHNlY3JldHMudG9rZW5faGV4KDMyKSArICJcbiIpCiAg
ICByZXR1cm4gQVVUSF9TRUNSRVRfRklMRS5yZWFkX3RleHQoZW5jb2Rpbmc9InV0Zi04Iikuc3Ry
aXAoKS5lbmNvZGUoKQoKCmRlZiBwYXNzd29yZF9oYXNoKHBhc3N3b3JkLCBzYWx0PU5vbmUpOgog
ICAgc2FsdF9ieXRlcyA9IGJhc2U2NC51cmxzYWZlX2I2NGRlY29kZShzYWx0LmVuY29kZSgpKSBp
ZiBzYWx0IGVsc2Ugc2VjcmV0cy50b2tlbl9ieXRlcygxOCkKICAgIGRpZ2VzdCA9IGhhc2hsaWIu
cGJrZGYyX2htYWMoInNoYTI1NiIsIHBhc3N3b3JkLmVuY29kZSgpLCBzYWx0X2J5dGVzLCAyNjAw
MDApCiAgICByZXR1cm4gYmFzZTY0LnVybHNhZmVfYjY0ZW5jb2RlKHNhbHRfYnl0ZXMpLmRlY29k
ZSgpLCBiYXNlNjQudXJsc2FmZV9iNjRlbmNvZGUoZGlnZXN0KS5kZWNvZGUoKQoKCmRlZiB2ZXJp
ZnlfcGFzc3dvcmQocGFzc3dvcmQsIHNhbHQsIGV4cGVjdGVkKToKICAgIF8sIGFjdHVhbCA9IHBh
c3N3b3JkX2hhc2gocGFzc3dvcmQsIHNhbHQpCiAgICByZXR1cm4gaG1hYy5jb21wYXJlX2RpZ2Vz
dChhY3R1YWwsIGV4cGVjdGVkKQoKCmRlZiBzZXNzaW9uX3BhdGgodG9rZW4pOgogICAgdG9rZW5f
aGFzaCA9IGhhc2hsaWIuc2hhMjU2KHRva2VuLmVuY29kZSgpKS5oZXhkaWdlc3QoKQogICAgcmV0
dXJuIFNFU1NJT05TX0RJUiAvICh0b2tlbl9oYXNoICsgIi5qc29uIikKCgpkZWYgY3JlYXRlX3Nl
c3Npb24odXNlcm5hbWUpOgogICAgdG9rZW4gPSBzZWNyZXRzLnRva2VuX3VybHNhZmUoMzIpCiAg
ICB3cml0ZV9qc29uX3ByaXZhdGUoc2Vzc2lvbl9wYXRoKHRva2VuKSwgewogICAgICAgICJ1c2Vy
bmFtZSI6IHVzZXJuYW1lLAogICAgICAgICJjcmVhdGVkIjogbm93X2Vwb2NoKCksCiAgICAgICAg
ImV4cGlyZXMiOiBub3dfZXBvY2goKSArIFNFU1NJT05fVFRMLAogICAgfSkKICAgIHJldHVybiB0
b2tlbgoKCmRlZiBzZXNzaW9uX3VzZXIodG9rZW4pOgogICAgaWYgbm90IHRva2VuOgogICAgICAg
IHJldHVybiBOb25lCiAgICB2YWx1ZSA9IHJlYWRfanNvbihzZXNzaW9uX3BhdGgodG9rZW4pKQog
ICAgaWYgbm90IGlzaW5zdGFuY2UodmFsdWUsIGRpY3QpOgogICAgICAgIHJldHVybiBOb25lCiAg
ICBpZiBpbnQodmFsdWUuZ2V0KCJleHBpcmVzIikgb3IgMCkgPCBub3dfZXBvY2goKToKICAgICAg
ICBzZXNzaW9uX3BhdGgodG9rZW4pLnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAgcmV0
dXJuIE5vbmUKICAgIHJldHVybiBzdHIodmFsdWUuZ2V0KCJ1c2VybmFtZSIpIG9yICIiKSBvciBO
b25lCgoKZGVmIGdpdGh1Yl9oZWFkZXJzKHRva2VuPU5vbmUpOgogICAgaGVhZGVycyA9IHsKICAg
ICAgICAiQWNjZXB0IjogImFwcGxpY2F0aW9uL3ZuZC5naXRodWIranNvbiIsCiAgICAgICAgIlVz
ZXItQWdlbnQiOiAiRm9yZ2VDb3JlLUNsZWFuLUJldGEiLAogICAgICAgICJYLUdpdEh1Yi1BcGkt
VmVyc2lvbiI6IEdJVEhVQl9BUElfVkVSU0lPTiwKICAgIH0KICAgIGlmIHRva2VuOgogICAgICAg
IGhlYWRlcnNbIkF1dGhvcml6YXRpb24iXSA9ICJCZWFyZXIgIiArIHRva2VuCiAgICByZXR1cm4g
aGVhZGVycwoKCmRlZiBnaXRodWJfanNvbihtZXRob2QsIHVybCwgZGF0YT1Ob25lLCB0b2tlbj1O
b25lLCBmb3JtPUZhbHNlKToKICAgIGJvZHkgPSBOb25lCiAgICBoZWFkZXJzID0gZ2l0aHViX2hl
YWRlcnModG9rZW4pCiAgICBpZiBkYXRhIGlzIG5vdCBOb25lOgogICAgICAgIGlmIGZvcm06CiAg
ICAgICAgICAgIGJvZHkgPSB1cmxsaWIucGFyc2UudXJsZW5jb2RlKGRhdGEpLmVuY29kZSgpCiAg
ICAgICAgICAgIGhlYWRlcnNbIkNvbnRlbnQtVHlwZSJdID0gImFwcGxpY2F0aW9uL3gtd3d3LWZv
cm0tdXJsZW5jb2RlZCIKICAgICAgICAgICAgaGVhZGVyc1siQWNjZXB0Il0gPSAiYXBwbGljYXRp
b24vanNvbiIKICAgICAgICBlbHNlOgogICAgICAgICAgICBib2R5ID0ganNvbi5kdW1wcyhkYXRh
KS5lbmNvZGUoKQogICAgICAgICAgICBoZWFkZXJzWyJDb250ZW50LVR5cGUiXSA9ICJhcHBsaWNh
dGlvbi9qc29uIgogICAgcmVxdWVzdCA9IHVybGxpYi5yZXF1ZXN0LlJlcXVlc3QodXJsLCBkYXRh
PWJvZHksIG1ldGhvZD1tZXRob2QsIGhlYWRlcnM9aGVhZGVycykKICAgIHRyeToKICAgICAgICB3
aXRoIHVybGxpYi5yZXF1ZXN0LnVybG9wZW4ocmVxdWVzdCwgdGltZW91dD0yMCkgYXMgcmVzcG9u
c2U6CiAgICAgICAgICAgIHJhdyA9IHJlc3BvbnNlLnJlYWQoKS5kZWNvZGUoInV0Zi04IikKICAg
ICAgICAgICAgcmV0dXJuIGpzb24ubG9hZHMocmF3KSBpZiByYXcuc3RyaXAoKSBlbHNlIHt9CiAg
ICBleGNlcHQgdXJsbGliLmVycm9yLkhUVFBFcnJvciBhcyBleGM6CiAgICAgICAgcmF3ID0gZXhj
LnJlYWQoKS5kZWNvZGUoInV0Zi04IiwgZXJyb3JzPSJyZXBsYWNlIikKICAgICAgICB0cnk6CiAg
ICAgICAgICAgIHBheWxvYWQgPSBqc29uLmxvYWRzKHJhdykKICAgICAgICAgICAgbWVzc2FnZSA9
IHBheWxvYWQuZ2V0KCJtZXNzYWdlIikgb3IgcGF5bG9hZC5nZXQoImVycm9yX2Rlc2NyaXB0aW9u
Iikgb3IgcGF5bG9hZC5nZXQoImVycm9yIikKICAgICAgICBleGNlcHQgVmFsdWVFcnJvcjoKICAg
ICAgICAgICAgbWVzc2FnZSA9IHJhdy5zdHJpcCgpCiAgICAgICAgcmFpc2UgUnVudGltZUVycm9y
KG1lc3NhZ2Ugb3IgKCJHaXRIdWIgSFRUUCAiICsgc3RyKGV4Yy5jb2RlKSkpIGZyb20gZXhjCiAg
ICBleGNlcHQgdXJsbGliLmVycm9yLlVSTEVycm9yIGFzIGV4YzoKICAgICAgICByYWlzZSBSdW50
aW1lRXJyb3IoIkNvdWxkIG5vdCByZWFjaCBHaXRIdWI6ICIgKyBzdHIoZXhjLnJlYXNvbikpIGZy
b20gZXhjCgoKZGVmIGNsZWFuX29yaWdpbih2YWx1ZSk6CiAgICB0cnk6CiAgICAgICAgcGFyc2Vk
ID0gdXJsbGliLnBhcnNlLnVybHBhcnNlKHN0cih2YWx1ZSkpCiAgICBleGNlcHQgVmFsdWVFcnJv
cjoKICAgICAgICByZXR1cm4gTm9uZQogICAgaWYgcGFyc2VkLnNjaGVtZSBub3QgaW4gKCJodHRw
IiwgImh0dHBzIikgb3Igbm90IHBhcnNlZC5uZXRsb2M6CiAgICAgICAgcmV0dXJuIE5vbmUKICAg
IHJldHVybiBwYXJzZWQuc2NoZW1lICsgIjovLyIgKyBwYXJzZWQubmV0bG9jCgoKZGVmIHBlbmRp
bmdfcGF0aChzdGF0ZSk6CiAgICByZXR1cm4gUEVORElOR19ESVIgLyAoc3RhdGUgKyAiLmpzb24i
KQoKCmRlZiBnaXRodWJfYXBwX2NvbmZpZygpOgogICAgdmFsdWUgPSByZWFkX2pzb24oR0lUSFVC
X0FQUF9GSUxFKQogICAgcmV0dXJuIHZhbHVlIGlmIGlzaW5zdGFuY2UodmFsdWUsIGRpY3QpIGVs
c2Uge30KCgpkZWYgZ2l0aHViX2FjY291bnQoKToKICAgIHZhbHVlID0gcmVhZF9qc29uKEdJVEhV
Ql9BQ0NPVU5UX0ZJTEUpCiAgICByZXR1cm4gdmFsdWUgaWYgaXNpbnN0YW5jZSh2YWx1ZSwgZGlj
dCkgZWxzZSB7fQoKCmRlZiBnaXRodWJfdG9rZW5fcmVjb3JkKCk6CiAgICB2YWx1ZSA9IHJlYWRf
anNvbihHSVRIVUJfVE9LRU5fRklMRSkKICAgIHJldHVybiB2YWx1ZSBpZiBpc2luc3RhbmNlKHZh
bHVlLCBkaWN0KSBlbHNlIHt9CgoKZGVmIHNhdmVfZ2l0aHViX3Rva2VuKHBheWxvYWQpOgogICAg
Y3JlYXRlZCA9IG5vd19lcG9jaCgpCiAgICByZWNvcmQgPSB7CiAgICAgICAgImFjY2Vzc190b2tl
biI6IHN0cihwYXlsb2FkLmdldCgiYWNjZXNzX3Rva2VuIikgb3IgIiIpLAogICAgICAgICJyZWZy
ZXNoX3Rva2VuIjogc3RyKHBheWxvYWQuZ2V0KCJyZWZyZXNoX3Rva2VuIikgb3IgIiIpLAogICAg
ICAgICJ0b2tlbl90eXBlIjogc3RyKHBheWxvYWQuZ2V0KCJ0b2tlbl90eXBlIikgb3IgImJlYXJl
ciIpLAogICAgICAgICJzY29wZSI6IHN0cihwYXlsb2FkLmdldCgic2NvcGUiKSBvciAiIiksCiAg
ICAgICAgImNyZWF0ZWRfZXBvY2giOiBjcmVhdGVkLAogICAgICAgICJleHBpcmVzX2Vwb2NoIjog
Y3JlYXRlZCArIGludChwYXlsb2FkLmdldCgiZXhwaXJlc19pbiIpIG9yIDApIGlmIHBheWxvYWQu
Z2V0KCJleHBpcmVzX2luIikgZWxzZSAwLAogICAgICAgICJyZWZyZXNoX2V4cGlyZXNfZXBvY2gi
OiBjcmVhdGVkICsgaW50KHBheWxvYWQuZ2V0KCJyZWZyZXNoX3Rva2VuX2V4cGlyZXNfaW4iKSBv
ciAwKSBpZiBwYXlsb2FkLmdldCgicmVmcmVzaF90b2tlbl9leHBpcmVzX2luIikgZWxzZSAwLAog
ICAgfQogICAgaWYgbm90IHJlY29yZFsiYWNjZXNzX3Rva2VuIl06CiAgICAgICAgcmFpc2UgUnVu
dGltZUVycm9yKCJHaXRIdWIgZGlkIG5vdCByZXR1cm4gYSB1c2VyIGFjY2VzcyB0b2tlbi4iKQog
ICAgd3JpdGVfanNvbl9wcml2YXRlKEdJVEhVQl9UT0tFTl9GSUxFLCByZWNvcmQpCiAgICByZXR1
cm4gcmVjb3JkCgoKZGVmIGdpdGh1Yl91c2VyX3Rva2VuKCk6CiAgICByZWNvcmQgPSBnaXRodWJf
dG9rZW5fcmVjb3JkKCkKICAgIHRva2VuID0gc3RyKHJlY29yZC5nZXQoImFjY2Vzc190b2tlbiIp
IG9yICIiKQogICAgaWYgbm90IHRva2VuOgogICAgICAgIHJhaXNlIFJ1bnRpbWVFcnJvcigiR2l0
SHViIGlzIG5vdCBjb25uZWN0ZWQuIikKICAgIGV4cGlyZXMgPSBpbnQocmVjb3JkLmdldCgiZXhw
aXJlc19lcG9jaCIpIG9yIDApCiAgICBpZiBub3QgZXhwaXJlcyBvciBleHBpcmVzIC0gbm93X2Vw
b2NoKCkgPiAzMDA6CiAgICAgICAgcmV0dXJuIHRva2VuCgogICAgYXBwID0gZ2l0aHViX2FwcF9j
b25maWcoKQogICAgcmVmcmVzaCA9IHN0cihyZWNvcmQuZ2V0KCJyZWZyZXNoX3Rva2VuIikgb3Ig
IiIpCiAgICBpZiBub3QgcmVmcmVzaCBvciBub3QgYXBwLmdldCgiY2xpZW50X2lkIikgb3Igbm90
IGFwcC5nZXQoImNsaWVudF9zZWNyZXQiKToKICAgICAgICByYWlzZSBSdW50aW1lRXJyb3IoIkdp
dEh1YiBhdXRob3JpemF0aW9uIGV4cGlyZWQuIFJlY29ubmVjdCBHaXRIdWIuIikKCiAgICBwYXls
b2FkID0gZ2l0aHViX2pzb24oIlBPU1QiLCAiaHR0cHM6Ly9naXRodWIuY29tL2xvZ2luL29hdXRo
L2FjY2Vzc190b2tlbiIsIHsKICAgICAgICAiY2xpZW50X2lkIjogYXBwWyJjbGllbnRfaWQiXSwK
ICAgICAgICAiY2xpZW50X3NlY3JldCI6IGFwcFsiY2xpZW50X3NlY3JldCJdLAogICAgICAgICJn
cmFudF90eXBlIjogInJlZnJlc2hfdG9rZW4iLAogICAgICAgICJyZWZyZXNoX3Rva2VuIjogcmVm
cmVzaCwKICAgIH0sIGZvcm09VHJ1ZSkKICAgIHJldHVybiBzYXZlX2dpdGh1Yl90b2tlbihwYXls
b2FkKVsiYWNjZXNzX3Rva2VuIl0KCgpkZWYgZ2l0aHViX2luc3RhbGxhdGlvbnModG9rZW4pOgog
ICAgcmVzdWx0ID0gW10KICAgIHBhZ2UgPSAxCiAgICB3aGlsZSBwYWdlIDw9IDEwOgogICAgICAg
IHBheWxvYWQgPSBnaXRodWJfanNvbigiR0VUIiwgZiJ7R0lUSFVCX0FQSX0vdXNlci9pbnN0YWxs
YXRpb25zP3Blcl9wYWdlPTEwMCZwYWdlPXtwYWdlfSIsIHRva2VuPXRva2VuKQogICAgICAgIGl0
ZW1zID0gcGF5bG9hZC5nZXQoImluc3RhbGxhdGlvbnMiKSBpZiBpc2luc3RhbmNlKHBheWxvYWQs
IGRpY3QpIGVsc2UgTm9uZQogICAgICAgIGlmIG5vdCBpc2luc3RhbmNlKGl0ZW1zLCBsaXN0KToK
ICAgICAgICAgICAgYnJlYWsKICAgICAgICByZXN1bHQuZXh0ZW5kKGl0ZW1zKQogICAgICAgIGlm
IGxlbihpdGVtcykgPCAxMDA6CiAgICAgICAgICAgIGJyZWFrCiAgICAgICAgcGFnZSArPSAxCiAg
ICByZXR1cm4gcmVzdWx0CgoKZGVmIGdpdGh1Yl9pbnN0YWxsYXRpb25fcGVybWlzc2lvbnMoKToK
ICAgIGFjY291bnQgPSBnaXRodWJfYWNjb3VudCgpCiAgICBpbnN0YWxsYXRpb25faWQgPSBzdHIo
YWNjb3VudC5nZXQoImluc3RhbGxhdGlvbl9pZCIpIG9yICIiKQogICAgaWYgbm90IGluc3RhbGxh
dGlvbl9pZDoKICAgICAgICByZXR1cm4ge30KICAgIHRva2VuID0gZ2l0aHViX3VzZXJfdG9rZW4o
KQogICAgZm9yIGl0ZW0gaW4gZ2l0aHViX2luc3RhbGxhdGlvbnModG9rZW4pOgogICAgICAgIGlm
IHN0cihpdGVtLmdldCgiaWQiKSBvciAiIikgIT0gaW5zdGFsbGF0aW9uX2lkOgogICAgICAgICAg
ICBjb250aW51ZQogICAgICAgIHBlcm1pc3Npb25zID0gaXRlbS5nZXQoInBlcm1pc3Npb25zIikK
ICAgICAgICByZXR1cm4gcGVybWlzc2lvbnMgaWYgaXNpbnN0YW5jZShwZXJtaXNzaW9ucywgZGlj
dCkgZWxzZSB7fQogICAgcmV0dXJuIHt9CgoKZGVmIHdvcmtmbG93X3dyaXRlX3JlYWR5KHBlcm1p
c3Npb25zKToKICAgIHJldHVybiBzdHIoKHBlcm1pc3Npb25zIG9yIHt9KS5nZXQoImNvbnRlbnRz
Iikgb3IgIiIpLmxvd2VyKCkgPT0gIndyaXRlIiBhbmQgc3RyKChwZXJtaXNzaW9ucyBvciB7fSku
Z2V0KCJ3b3JrZmxvd3MiKSBvciAiIikubG93ZXIoKSA9PSAid3JpdGUiCgoKZGVmIHdvcmtmbG93
X3dyaXRlX2Vycm9yKGV4Yyk6CiAgICBtZXNzYWdlID0gc3RyKGV4YykKICAgIGxvd2VyZWQgPSBt
ZXNzYWdlLmxvd2VyKCkKICAgIGlmICJyZXNvdXJjZSBub3QgYWNjZXNzaWJsZSIgaW4gbG93ZXJl
ZCBvciAicGVybWlzc2lvbiIgaW4gbG93ZXJlZCBvciAiZm9yYmlkZGVuIiBpbiBsb3dlcmVkIG9y
ICJ3b3JrZmxvdyIgaW4gbG93ZXJlZDoKICAgICAgICByZXR1cm4gUnVudGltZUVycm9yKAogICAg
ICAgICAgICAiRm9yZ2VDb3JlIGNhbm5vdCBjaGFuZ2UgR2l0SHViIEFjdGlvbnMgd29ya2Zsb3cg
ZmlsZXMgeWV0LiAiCiAgICAgICAgICAgICJHcmFudCB0aGlzIEdpdEh1YiBBcHAgQ29udGVudHM6
IFJlYWQgJiB3cml0ZSBhbmQgV29ya2Zsb3dzOiBSZWFkICYgd3JpdGUsICIKICAgICAgICAgICAg
InRoZW4gYXBwcm92ZSB0aGUgdXBkYXRlZCBpbnN0YWxsYXRpb24gcGVybWlzc2lvbnMgaW4gR2l0
SHViLiIKICAgICAgICApCiAgICByZXR1cm4gZXhjCgoKZGVmIGdpdGh1Yl9yZXBvc2l0b3JpZXMo
KToKICAgIHRva2VuID0gZ2l0aHViX3VzZXJfdG9rZW4oKQogICAgYWNjb3VudCA9IGdpdGh1Yl9h
Y2NvdW50KCkKICAgIGluc3RhbGxhdGlvbl9pZCA9IGFjY291bnQuZ2V0KCJpbnN0YWxsYXRpb25f
aWQiKQogICAgaWYgbm90IGluc3RhbGxhdGlvbl9pZDoKICAgICAgICByYWlzZSBSdW50aW1lRXJy
b3IoIkdpdEh1YiBBcHAgaW5zdGFsbGF0aW9uIGlzIG1pc3NpbmcuIikKICAgIHJlcG9zaXRvcmll
cyA9IFtdCiAgICBwYWdlID0gMQogICAgd2hpbGUgcGFnZSA8PSAxMDoKICAgICAgICBwYXlsb2Fk
ID0gZ2l0aHViX2pzb24oIkdFVCIsIGYie0dJVEhVQl9BUEl9L3VzZXIvaW5zdGFsbGF0aW9ucy97
aW5zdGFsbGF0aW9uX2lkfS9yZXBvc2l0b3JpZXM/cGVyX3BhZ2U9MTAwJnBhZ2U9e3BhZ2V9Iiwg
dG9rZW49dG9rZW4pCiAgICAgICAgaXRlbXMgPSBwYXlsb2FkLmdldCgicmVwb3NpdG9yaWVzIikg
aWYgaXNpbnN0YW5jZShwYXlsb2FkLCBkaWN0KSBlbHNlIE5vbmUKICAgICAgICBpZiBub3QgaXNp
bnN0YW5jZShpdGVtcywgbGlzdCk6CiAgICAgICAgICAgIGJyZWFrCiAgICAgICAgZm9yIGl0ZW0g
aW4gaXRlbXM6CiAgICAgICAgICAgIGZ1bGxfbmFtZSA9IHN0cihpdGVtLmdldCgiZnVsbF9uYW1l
Iikgb3IgIiIpCiAgICAgICAgICAgIGlmIG5vdCBSRVBPX1JFLmZ1bGxtYXRjaChmdWxsX25hbWUp
OgogICAgICAgICAgICAgICAgY29udGludWUKICAgICAgICAgICAgcmVwb3NpdG9yaWVzLmFwcGVu
ZCh7CiAgICAgICAgICAgICAgICAiZnVsbE5hbWUiOiBmdWxsX25hbWUsCiAgICAgICAgICAgICAg
ICAibmFtZSI6IHN0cihpdGVtLmdldCgibmFtZSIpIG9yIGZ1bGxfbmFtZS5yc3BsaXQoIi8iLCAx
KVstMV0pLAogICAgICAgICAgICAgICAgIm93bmVyIjogc3RyKChpdGVtLmdldCgib3duZXIiKSBv
ciB7fSkuZ2V0KCJsb2dpbiIpIG9yIGZ1bGxfbmFtZS5zcGxpdCgiLyIsIDEpWzBdKSwKICAgICAg
ICAgICAgICAgICJwcml2YXRlIjogYm9vbChpdGVtLmdldCgicHJpdmF0ZSIpKSwKICAgICAgICAg
ICAgICAgICJhcmNoaXZlZCI6IGJvb2woaXRlbS5nZXQoImFyY2hpdmVkIikpLAogICAgICAgICAg
ICAgICAgImRlZmF1bHRCcmFuY2giOiBzdHIoaXRlbS5nZXQoImRlZmF1bHRfYnJhbmNoIikgb3Ig
Im1haW4iKSwKICAgICAgICAgICAgICAgICJodG1sVXJsIjogc3RyKGl0ZW0uZ2V0KCJodG1sX3Vy
bCIpIG9yICgiaHR0cHM6Ly9naXRodWIuY29tLyIgKyBmdWxsX25hbWUpKSwKICAgICAgICAgICAg
ICAgICJydW5uZXJTZXR0aW5nc1VybCI6ICJodHRwczovL2dpdGh1Yi5jb20vIiArIGZ1bGxfbmFt
ZSArICIvc2V0dGluZ3MvYWN0aW9ucy9ydW5uZXJzIiwKICAgICAgICAgICAgfSkKICAgICAgICBp
ZiBsZW4oaXRlbXMpIDwgMTAwOgogICAgICAgICAgICBicmVhawogICAgICAgIHBhZ2UgKz0gMQog
ICAgcmVwb3NpdG9yaWVzLnNvcnQoa2V5PWxhbWJkYSBpdGVtOiBpdGVtWyJmdWxsTmFtZSJdLmxv
d2VyKCkpCiAgICByZXR1cm4gcmVwb3NpdG9yaWVzCgoKZGVmIHBhcnNlX3dvcmtmbG93X3J1bnNf
b24oc291cmNlKToKICAgIHZhbHVlcyA9IFtdCiAgICBmb3IgbWF0Y2ggaW4gcmUuZmluZGl0ZXIo
ciIoP20pXlxzKnJ1bnMtb25ccyo6XHMqKFteI1xyXG5dKykiLCBzb3VyY2UpOgogICAgICAgIHJh
dyA9IG1hdGNoLmdyb3VwKDEpLnN0cmlwKCkKICAgICAgICBpZiByYXcuc3RhcnRzd2l0aCgiWyIp
IGFuZCByYXcuZW5kc3dpdGgoIl0iKToKICAgICAgICAgICAgcGFydHMgPSBbcGFydC5zdHJpcCgp
LnN0cmlwKCInXCIiKSBmb3IgcGFydCBpbiByYXdbMTotMV0uc3BsaXQoIiwiKV0KICAgICAgICBl
bHNlOgogICAgICAgICAgICBwYXJ0cyA9IFtyYXcuc3RyaXAoIidcIiIpXQogICAgICAgIGZvciBw
YXJ0IGluIHBhcnRzOgogICAgICAgICAgICBpZiBwYXJ0IGFuZCBwYXJ0IG5vdCBpbiB2YWx1ZXM6
CiAgICAgICAgICAgICAgICB2YWx1ZXMuYXBwZW5kKHBhcnQpCiAgICByZXR1cm4gdmFsdWVzCgoK
ZGVmIHBhcnNlX3dvcmtmbG93X25hbWUoc291cmNlLCBmYWxsYmFjayk6CiAgICBtYXRjaCA9IHJl
LnNlYXJjaChyIig/bSlebmFtZVxzKjpccyooLis/KVxzKiQiLCBzb3VyY2UpCiAgICBpZiBub3Qg
bWF0Y2g6CiAgICAgICAgcmV0dXJuIGZhbGxiYWNrCiAgICB2YWx1ZSA9IG1hdGNoLmdyb3VwKDEp
LnN0cmlwKCkKICAgIGlmICh2YWx1ZS5zdGFydHN3aXRoKCciJykgYW5kIHZhbHVlLmVuZHN3aXRo
KCciJykpIG9yICh2YWx1ZS5zdGFydHN3aXRoKCInIikgYW5kIHZhbHVlLmVuZHN3aXRoKCInIikp
OgogICAgICAgIHZhbHVlID0gdmFsdWVbMTotMV0KICAgIHJldHVybiB2YWx1ZSBvciBmYWxsYmFj
awoKCmRlZiBwYXJzZV9ydW5zX29uX3ZhbHVlKHJhdyk6CiAgICB2YWx1ZSA9IHN0cihyYXcgb3Ig
IiIpLnN0cmlwKCkKICAgIGlmIHZhbHVlLnN0YXJ0c3dpdGgoIlsiKSBhbmQgdmFsdWUuZW5kc3dp
dGgoIl0iKToKICAgICAgICByZXR1cm4gW3BhcnQuc3RyaXAoKS5zdHJpcCgiJ1wiIikgZm9yIHBh
cnQgaW4gdmFsdWVbMTotMV0uc3BsaXQoIiwiKSBpZiBwYXJ0LnN0cmlwKCldCiAgICByZXR1cm4g
W3ZhbHVlLnN0cmlwKCInXCIiKV0gaWYgdmFsdWUgZWxzZSBbXQoKCmRlZiB3b3JrZmxvd19qb2Jf
YmxvY2tzKHNvdXJjZSk6CiAgICBsaW5lcyA9IHNvdXJjZS5zcGxpdGxpbmVzKCkKICAgIGpvYnNf
aW5kZXggPSBOb25lCiAgICBqb2JzX2luZGVudCA9IDAKICAgIGZvciBpbmRleCwgbGluZSBpbiBl
bnVtZXJhdGUobGluZXMpOgogICAgICAgIG1hdGNoID0gcmUubWF0Y2gociJeKFxzKilqb2JzXHMq
OlxzKig/OiMuKik/JCIsIGxpbmUpCiAgICAgICAgaWYgbWF0Y2g6CiAgICAgICAgICAgIGpvYnNf
aW5kZXggPSBpbmRleAogICAgICAgICAgICBqb2JzX2luZGVudCA9IGxlbihtYXRjaC5ncm91cCgx
KS5leHBhbmR0YWJzKDIpKQogICAgICAgICAgICBicmVhawogICAgaWYgam9ic19pbmRleCBpcyBO
b25lOgogICAgICAgIHJldHVybiBsaW5lcywgW10KCiAgICBqb2JzID0gW10KICAgIGluZGV4ID0g
am9ic19pbmRleCArIDEKICAgIHdoaWxlIGluZGV4IDwgbGVuKGxpbmVzKToKICAgICAgICBsaW5l
ID0gbGluZXNbaW5kZXhdCiAgICAgICAgaWYgbm90IGxpbmUuc3RyaXAoKSBvciBsaW5lLmxzdHJp
cCgpLnN0YXJ0c3dpdGgoIiMiKToKICAgICAgICAgICAgaW5kZXggKz0gMQogICAgICAgICAgICBj
b250aW51ZQogICAgICAgIGluZGVudCA9IGxlbihsaW5lKSAtIGxlbihsaW5lLmxzdHJpcCgiICIp
KQogICAgICAgIGlmIGluZGVudCA8PSBqb2JzX2luZGVudDoKICAgICAgICAgICAgYnJlYWsKICAg
ICAgICBtYXRjaCA9IHJlLm1hdGNoKHIiXihccyopKFtBLVphLXowLTlfLi1dKylccyo6XHMqKD86
Iy4qKT8kIiwgbGluZSkKICAgICAgICBpZiBub3QgbWF0Y2ggb3IgaW5kZW50IDw9IGpvYnNfaW5k
ZW50OgogICAgICAgICAgICBpbmRleCArPSAxCiAgICAgICAgICAgIGNvbnRpbnVlCiAgICAgICAg
am9iX2luZGVudCA9IGluZGVudAogICAgICAgIGpvYl9pZCA9IG1hdGNoLmdyb3VwKDIpCiAgICAg
ICAgZW5kID0gaW5kZXggKyAxCiAgICAgICAgd2hpbGUgZW5kIDwgbGVuKGxpbmVzKToKICAgICAg
ICAgICAgY2FuZGlkYXRlID0gbGluZXNbZW5kXQogICAgICAgICAgICBpZiBjYW5kaWRhdGUuc3Ry
aXAoKSBhbmQgbm90IGNhbmRpZGF0ZS5sc3RyaXAoKS5zdGFydHN3aXRoKCIjIik6CiAgICAgICAg
ICAgICAgICBjYW5kaWRhdGVfaW5kZW50ID0gbGVuKGNhbmRpZGF0ZSkgLSBsZW4oY2FuZGlkYXRl
LmxzdHJpcCgiICIpKQogICAgICAgICAgICAgICAgaWYgY2FuZGlkYXRlX2luZGVudCA8PSBqb2Jz
X2luZGVudDoKICAgICAgICAgICAgICAgICAgICBicmVhawogICAgICAgICAgICAgICAgbmV4dF9q
b2IgPSByZS5tYXRjaChyIl4oXHMqKShbQS1aYS16MC05Xy4tXSspXHMqOlxzKig/OiMuKik/JCIs
IGNhbmRpZGF0ZSkKICAgICAgICAgICAgICAgIGlmIG5leHRfam9iIGFuZCBjYW5kaWRhdGVfaW5k
ZW50ID09IGpvYl9pbmRlbnQ6CiAgICAgICAgICAgICAgICAgICAgYnJlYWsKICAgICAgICAgICAg
ZW5kICs9IDEKCiAgICAgICAgcnVuc19vbl9pbmRleCA9IE5vbmUKICAgICAgICBydW5zX29uID0g
W10KICAgICAgICBkaXNwbGF5X25hbWUgPSBqb2JfaWQKICAgICAgICByZXVzYWJsZSA9IEZhbHNl
CiAgICAgICAgZm9yIGlubmVyIGluIHJhbmdlKGluZGV4ICsgMSwgZW5kKToKICAgICAgICAgICAg
Y2FuZGlkYXRlID0gbGluZXNbaW5uZXJdCiAgICAgICAgICAgIGNhbmRpZGF0ZV9pbmRlbnQgPSBs
ZW4oY2FuZGlkYXRlKSAtIGxlbihjYW5kaWRhdGUubHN0cmlwKCIgIikpCiAgICAgICAgICAgIGlm
IGNhbmRpZGF0ZV9pbmRlbnQgPD0gam9iX2luZGVudDoKICAgICAgICAgICAgICAgIGNvbnRpbnVl
CiAgICAgICAgICAgIG5hbWVfbWF0Y2ggPSByZS5tYXRjaChyIl5ccypuYW1lXHMqOlxzKiguKz8p
XHMqJCIsIGNhbmRpZGF0ZSkKICAgICAgICAgICAgaWYgbmFtZV9tYXRjaCBhbmQgZGlzcGxheV9u
YW1lID09IGpvYl9pZDoKICAgICAgICAgICAgICAgIHBhcnNlZF9uYW1lID0gbmFtZV9tYXRjaC5n
cm91cCgxKS5zdHJpcCgpLnN0cmlwKCInXCIiKQogICAgICAgICAgICAgICAgaWYgcGFyc2VkX25h
bWU6CiAgICAgICAgICAgICAgICAgICAgZGlzcGxheV9uYW1lID0gcGFyc2VkX25hbWUKICAgICAg
ICAgICAgaWYgcmUubWF0Y2gociJeXHMqdXNlc1xzKjoiLCBjYW5kaWRhdGUpOgogICAgICAgICAg
ICAgICAgcmV1c2FibGUgPSBUcnVlCiAgICAgICAgICAgIHJ1bl9tYXRjaCA9IHJlLm1hdGNoKHIi
XihccyopcnVucy1vblxzKjpccyooW14jXHJcbl0rKSIsIGNhbmRpZGF0ZSkKICAgICAgICAgICAg
aWYgcnVuX21hdGNoOgogICAgICAgICAgICAgICAgcnVuc19vbl9pbmRleCA9IGlubmVyCiAgICAg
ICAgICAgICAgICBydW5zX29uID0gcGFyc2VfcnVuc19vbl92YWx1ZShydW5fbWF0Y2guZ3JvdXAo
MikpCiAgICAgICAgICAgICAgICBicmVhawogICAgICAgIGpvYnMuYXBwZW5kKHsKICAgICAgICAg
ICAgImlkIjogam9iX2lkLAogICAgICAgICAgICAibmFtZSI6IGRpc3BsYXlfbmFtZSwKICAgICAg
ICAgICAgInN0YXJ0IjogaW5kZXgsCiAgICAgICAgICAgICJlbmQiOiBlbmQsCiAgICAgICAgICAg
ICJydW5zT25JbmRleCI6IHJ1bnNfb25faW5kZXgsCiAgICAgICAgICAgICJydW5zT24iOiBydW5z
X29uLAogICAgICAgICAgICAiZWRpdGFibGUiOiBydW5zX29uX2luZGV4IGlzIG5vdCBOb25lIGFu
ZCBub3QgcmV1c2FibGUsCiAgICAgICAgICAgICJyZXVzYWJsZSI6IHJldXNhYmxlLAogICAgICAg
IH0pCiAgICAgICAgaW5kZXggPSBlbmQKICAgIHJldHVybiBsaW5lcywgam9icwoKCmRlZiBwYXJz
ZV93b3JrZmxvd19qb2JzKHNvdXJjZSk6CiAgICBfLCBqb2JzID0gd29ya2Zsb3dfam9iX2Jsb2Nr
cyhzb3VyY2UpCiAgICByZXR1cm4gW3sKICAgICAgICAiaWQiOiBpdGVtWyJpZCJdLAogICAgICAg
ICJuYW1lIjogaXRlbVsibmFtZSJdLAogICAgICAgICJydW5zT24iOiBpdGVtWyJydW5zT24iXSwK
ICAgICAgICAiZWRpdGFibGUiOiBib29sKGl0ZW1bImVkaXRhYmxlIl0pLAogICAgICAgICJyZXVz
YWJsZSI6IGJvb2woaXRlbVsicmV1c2FibGUiXSksCiAgICB9IGZvciBpdGVtIGluIGpvYnNdCgoK
ZGVmIHJ1bm5lcl9yb3V0ZV9sYWJlbChydW5uZXIpOgogICAgcmVwb3NpdG9yeSA9IHN0cigocnVu
bmVyIG9yIHt9KS5nZXQoInJlcG9zaXRvcnkiKSBvciAiIikKICAgIHJ1bm5lcl9pZCA9IHN0cigo
cnVubmVyIG9yIHt9KS5nZXQoImlkIikgb3IgIiIpCiAgICBkaWdlc3QgPSBoYXNobGliLnNoYTI1
NigocmVwb3NpdG9yeSArICI6IiArIHJ1bm5lcl9pZCkuZW5jb2RlKCJ1dGYtOCIpKS5oZXhkaWdl
c3QoKVs6MTRdCiAgICByZXR1cm4gImZjLXJvdXRlLSIgKyBkaWdlc3QKCgpkZWYgZ2l0aHViX3dv
cmtmbG93X2ZpbGUocmVwb3NpdG9yeSwgcGF0aCwgYnJhbmNoKToKICAgIGlmIG5vdCBSRVBPX1JF
LmZ1bGxtYXRjaChyZXBvc2l0b3J5KToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlk
IHJlcG9zaXRvcnkuIikKICAgIHBhdGggPSBzdHIocGF0aCBvciAiIikuc3RyaXAoKQogICAgYnJh
bmNoID0gc3RyKGJyYW5jaCBvciAiIikuc3RyaXAoKQogICAgaWYgbm90IHBhdGguc3RhcnRzd2l0
aCgiLmdpdGh1Yi93b3JrZmxvd3MvIikgb3IgIi4uIiBpbiBwYXRoIG9yIG5vdCBwYXRoLmxvd2Vy
KCkuZW5kc3dpdGgoKCIueW1sIiwgIi55YW1sIikpOgogICAgICAgIHJhaXNlIFZhbHVlRXJyb3Io
IkludmFsaWQgd29ya2Zsb3cgcGF0aC4iKQogICAgaWYgbm90IGJyYW5jaCBvciBsZW4oYnJhbmNo
KSA+IDIwMCBvciAiXG4iIGluIGJyYW5jaCBvciAiXHIiIGluIGJyYW5jaDoKICAgICAgICByYWlz
ZSBWYWx1ZUVycm9yKCJJbnZhbGlkIGJyYW5jaC4iKQogICAgdG9rZW4gPSBnaXRodWJfdXNlcl90
b2tlbigpCiAgICB1cmwgPSBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vY29udGVu
dHMve3VybGxpYi5wYXJzZS5xdW90ZShwYXRoLCBzYWZlPScvJyl9IgogICAgcGF5bG9hZCA9IGdp
dGh1Yl9qc29uKCJHRVQiLCB1cmwgKyAiP3JlZj0iICsgdXJsbGliLnBhcnNlLnF1b3RlKGJyYW5j
aCksIHRva2VuPXRva2VuKQogICAgZW5jb2RlZCA9IHN0cihwYXlsb2FkLmdldCgiY29udGVudCIp
IG9yICIiKS5yZXBsYWNlKCJcbiIsICIiKQogICAgaWYgc3RyKHBheWxvYWQuZ2V0KCJlbmNvZGlu
ZyIpIG9yICIiKSAhPSAiYmFzZTY0IiBvciBub3QgZW5jb2RlZCBvciBub3QgcGF5bG9hZC5nZXQo
InNoYSIpOgogICAgICAgIHJhaXNlIFJ1bnRpbWVFcnJvcigiR2l0SHViIGRpZCBub3QgcmV0dXJu
IHRoZSB3b3JrZmxvdyBmaWxlIGNvbnRlbnRzLiIpCiAgICBzb3VyY2UgPSBiYXNlNjQuYjY0ZGVj
b2RlKGVuY29kZWQpLmRlY29kZSgidXRmLTgiLCBlcnJvcnM9InN0cmljdCIpCiAgICByZXR1cm4g
dG9rZW4sIHVybCwgcGF5bG9hZCwgc291cmNlCgoKZGVmIGVuc3VyZV9zcGVjaWZpY19ydW5uZXJf
bGFiZWwocmVwb3NpdG9yeSwgcnVubmVyX2lkKToKICAgIHJ1bm5lciA9IG5leHQoKGl0ZW0gZm9y
IGl0ZW0gaW4gbGlzdF9ydW5uZXJzKCkgaWYgaXRlbS5nZXQoImlkIikgPT0gcnVubmVyX2lkIGFu
ZCBpdGVtLmdldCgicmVwb3NpdG9yeSIpID09IHJlcG9zaXRvcnkpLCBOb25lKQogICAgaWYgbm90
IHJ1bm5lcjoKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJDaG9vc2UgYSBGb3JnZUNvcmUtbWFu
YWdlZCBydW5uZXIgZm9yIHRoaXMgcmVwb3NpdG9yeS4iKQogICAgaW52ZW50b3J5ID0gZ2l0aHVi
X3J1bm5lcnMocmVwb3NpdG9yeSkKICAgIHJlbW90ZSA9IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4g
aW52ZW50b3J5LmdldCgicnVubmVycyIsIFtdKSBpZiBpdGVtLmdldCgibWFuYWdlZEJ5Rm9yZ2VD
b3JlIikgYW5kIGl0ZW0uZ2V0KCJuYW1lIikgPT0gcnVubmVyLmdldCgibmFtZSIpKSwgTm9uZSkK
ICAgIGlmIG5vdCByZW1vdGUgb3IgcmVtb3RlLmdldCgiaWQiKSBpcyBOb25lOgogICAgICAgIHJh
aXNlIFJ1bnRpbWVFcnJvcigiVGhlIEZvcmdlQ29yZS1tYW5hZ2VkIHJ1bm5lciBpcyBub3QgcmVn
aXN0ZXJlZCBpbiBHaXRIdWIgeWV0LiIpCiAgICBsYWJlbCA9IHJ1bm5lcl9yb3V0ZV9sYWJlbChy
dW5uZXIpCiAgICBjdXJyZW50ID0gW3N0cihpdGVtKSBmb3IgaXRlbSBpbiAocmVtb3RlLmdldCgi
bGFiZWxzIikgb3IgW10pXQogICAgaWYgbGFiZWwubG93ZXIoKSBub3QgaW4ge2l0ZW0ubG93ZXIo
KSBmb3IgaXRlbSBpbiBjdXJyZW50fToKICAgICAgICBnaXRodWJfanNvbigKICAgICAgICAgICAg
IlBPU1QiLAogICAgICAgICAgICBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vYWN0
aW9ucy9ydW5uZXJzL3tyZW1vdGVbJ2lkJ119L2xhYmVscyIsCiAgICAgICAgICAgIHsibGFiZWxz
IjogW2xhYmVsXX0sCiAgICAgICAgICAgIHRva2VuPWdpdGh1Yl91c2VyX3Rva2VuKCksCiAgICAg
ICAgKQogICAgbWV0YV9wYXRoID0gUlVOTkVSX1JPT1QgLyBydW5uZXJfaWQgLyAiLmZvcmdlY29y
ZS1ydW5uZXIuanNvbiIKICAgIG1ldGEgPSByZWFkX2pzb24obWV0YV9wYXRoLCB7fSkKICAgIGlm
IGlzaW5zdGFuY2UobWV0YSwgZGljdCk6CiAgICAgICAgbGFiZWxzID0gdmFsaWRhdGVfcnVubmVy
X2xhYmVscyhtZXRhLmdldCgibGFiZWxzIikpCiAgICAgICAgaWYgbGFiZWwubG93ZXIoKSBub3Qg
aW4ge3N0cihpdGVtKS5sb3dlcigpIGZvciBpdGVtIGluIGxhYmVsc306CiAgICAgICAgICAgIGxh
YmVscy5hcHBlbmQobGFiZWwpCiAgICAgICAgbWV0YVsibGFiZWxzIl0gPSBsYWJlbHMKICAgICAg
ICB3cml0ZV9qc29uX3ByaXZhdGUobWV0YV9wYXRoLCBtZXRhKQogICAgcmV0dXJuIGxhYmVsCgoK
ZGVmIGdpdGh1Yl9yb3V0ZV93b3JrZmxvdyhyZXBvc2l0b3J5LCBwYXRoLCBicmFuY2gsIHJvdXRl
cyk6CiAgICBpZiBub3QgaXNpbnN0YW5jZShyb3V0ZXMsIGxpc3QpIG9yIG5vdCByb3V0ZXM6CiAg
ICAgICAgcmFpc2UgVmFsdWVFcnJvcigiQ2hvb3NlIGF0IGxlYXN0IG9uZSBqb2Igcm91dGluZyBj
aGFuZ2UuIikKICAgIHRva2VuLCB1cmwsIHBheWxvYWQsIHNvdXJjZSA9IGdpdGh1Yl93b3JrZmxv
d19maWxlKHJlcG9zaXRvcnksIHBhdGgsIGJyYW5jaCkKICAgIGxpbmVzLCBqb2JzID0gd29ya2Zs
b3dfam9iX2Jsb2Nrcyhzb3VyY2UpCiAgICBieV9pZCA9IHtpdGVtWyJpZCJdOiBpdGVtIGZvciBp
dGVtIGluIGpvYnN9CiAgICByZXBsYWNlbWVudHMgPSB7fQogICAgZm9yIHJvdXRlIGluIHJvdXRl
czoKICAgICAgICBpZiBub3QgaXNpbnN0YW5jZShyb3V0ZSwgZGljdCk6CiAgICAgICAgICAgIHJh
aXNlIFZhbHVlRXJyb3IoIkludmFsaWQgam9iIHJvdXRpbmcgcmVxdWVzdC4iKQogICAgICAgIGpv
Yl9pZCA9IHN0cihyb3V0ZS5nZXQoImpvYiIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgbW9kZSA9
IHN0cihyb3V0ZS5nZXQoIm1vZGUiKSBvciAiIikuc3RyaXAoKS5sb3dlcigpCiAgICAgICAgam9i
ID0gYnlfaWQuZ2V0KGpvYl9pZCkKICAgICAgICBpZiBub3Qgam9iOgogICAgICAgICAgICByYWlz
ZSBWYWx1ZUVycm9yKCJXb3JrZmxvdyBqb2Igbm90IGZvdW5kOiAiICsgam9iX2lkKQogICAgICAg
IGlmIG5vdCBqb2IuZ2V0KCJlZGl0YWJsZSIpIG9yIGpvYi5nZXQoInJ1bnNPbkluZGV4IikgaXMg
Tm9uZToKICAgICAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiUnVubmVyIHJvdXRpbmcgY2Fubm90
IGJlIGVkaXRlZCBhdXRvbWF0aWNhbGx5IGZvciBqb2I6ICIgKyBqb2JfaWQpCiAgICAgICAgaWYg
bW9kZSA9PSAiZ2l0aHViIjoKICAgICAgICAgICAgdmFsdWUgPSAidWJ1bnR1LWxhdGVzdCIKICAg
ICAgICBlbGlmIG1vZGUgPT0gImZvcmdlY29yZSI6CiAgICAgICAgICAgIHZhbHVlID0gIltzZWxm
LWhvc3RlZCwgRm9yZ2VDb3JlXSIKICAgICAgICBlbGlmIG1vZGUgPT0gInJ1bm5lciI6CiAgICAg
ICAgICAgIGxvY2FsX3J1bm5lcl9pZCA9IHN0cihyb3V0ZS5nZXQoInJ1bm5lcklkIikgb3IgIiIp
LnN0cmlwKCkKICAgICAgICAgICAgaWYgbm90IFNMVUdfUkUuZnVsbG1hdGNoKGxvY2FsX3J1bm5l
cl9pZCk6CiAgICAgICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJDaG9vc2UgYSB2YWxpZCBG
b3JnZUNvcmUgcnVubmVyLiIpCiAgICAgICAgICAgIHJvdXRlX2xhYmVsID0gZW5zdXJlX3NwZWNp
ZmljX3J1bm5lcl9sYWJlbChyZXBvc2l0b3J5LCBsb2NhbF9ydW5uZXJfaWQpCiAgICAgICAgICAg
IHZhbHVlID0gIltzZWxmLWhvc3RlZCwgRm9yZ2VDb3JlLCAiICsgcm91dGVfbGFiZWwgKyAiXSIK
ICAgICAgICBlbHNlOgogICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJDaG9vc2UgR2l0SHVi
LWhvc3RlZCwgYW55IEZvcmdlQ29yZSBydW5uZXIsIG9yIGEgc3BlY2lmaWMgRm9yZ2VDb3JlIHJ1
bm5lci4iKQogICAgICAgIGxpbmVfaW5kZXggPSBpbnQoam9iWyJydW5zT25JbmRleCJdKQogICAg
ICAgIGluZGVudCA9IHJlLm1hdGNoKHIiXihccyopIiwgbGluZXNbbGluZV9pbmRleF0pLmdyb3Vw
KDEpCiAgICAgICAgcmVwbGFjZW1lbnRzW2xpbmVfaW5kZXhdID0gaW5kZW50ICsgInJ1bnMtb246
ICIgKyB2YWx1ZQoKICAgIGlmIG5vdCByZXBsYWNlbWVudHM6CiAgICAgICAgcmFpc2UgVmFsdWVF
cnJvcigiTm8gd29ya2Zsb3cgcm91dGVzIHdlcmUgY2hhbmdlZC4iKQogICAgdXBkYXRlZF9saW5l
cyA9IFtyZXBsYWNlbWVudHMuZ2V0KGluZGV4LCBsaW5lKSBmb3IgaW5kZXgsIGxpbmUgaW4gZW51
bWVyYXRlKGxpbmVzKV0KICAgIHVwZGF0ZWQgPSAiXG4iLmpvaW4odXBkYXRlZF9saW5lcykKICAg
IGlmIHNvdXJjZS5lbmRzd2l0aCgiXG4iKToKICAgICAgICB1cGRhdGVkICs9ICJcbiIKICAgIHRy
eToKICAgICAgICByZXN1bHQgPSBnaXRodWJfanNvbigiUFVUIiwgdXJsLCB7CiAgICAgICAgICAg
ICJtZXNzYWdlIjogIlVwZGF0ZSBHaXRIdWIgQWN0aW9ucyBydW5uZXIgcm91dGluZyIsCiAgICAg
ICAgICAgICJjb250ZW50IjogYmFzZTY0LmI2NGVuY29kZSh1cGRhdGVkLmVuY29kZSgidXRmLTgi
KSkuZGVjb2RlKCJhc2NpaSIpLAogICAgICAgICAgICAic2hhIjogcGF5bG9hZFsic2hhIl0sCiAg
ICAgICAgICAgICJicmFuY2giOiBicmFuY2gsCiAgICAgICAgfSwgdG9rZW49dG9rZW4pCiAgICBl
eGNlcHQgUnVudGltZUVycm9yIGFzIGV4YzoKICAgICAgICByYWlzZSB3b3JrZmxvd193cml0ZV9l
cnJvcihleGMpIGZyb20gZXhjCiAgICBjb21taXQgPSByZXN1bHQuZ2V0KCJjb21taXQiKSBpZiBp
c2luc3RhbmNlKHJlc3VsdCwgZGljdCkgZWxzZSB7fQogICAgaWYgbm90IChjb21taXQgb3Ige30p
LmdldCgic2hhIik6CiAgICAgICAgcmFpc2UgUnVudGltZUVycm9yKCJHaXRIdWIgZGlkIG5vdCBj
b25maXJtIHRoZSB3b3JrZmxvdyByb3V0aW5nIGNvbW1pdC4iKQogICAgcmV0dXJuIHsib2siOiBU
cnVlLCAicGF0aCI6IHBhdGgsICJjb21taXRVcmwiOiBzdHIoKGNvbW1pdCBvciB7fSkuZ2V0KCJo
dG1sX3VybCIpIG9yICIiKX0KCgpkZWYgZ2l0aHViX2RlbGV0ZV93b3JrZmxvdyhyZXBvc2l0b3J5
LCBwYXRoLCBicmFuY2gpOgogICAgdG9rZW4sIHVybCwgcGF5bG9hZCwgXyA9IGdpdGh1Yl93b3Jr
Zmxvd19maWxlKHJlcG9zaXRvcnksIHBhdGgsIGJyYW5jaCkKICAgIHRyeToKICAgICAgICByZXN1
bHQgPSBnaXRodWJfanNvbigiREVMRVRFIiwgdXJsLCB7CiAgICAgICAgICAgICJtZXNzYWdlIjog
IlJlbW92ZSBHaXRIdWIgQWN0aW9ucyB3b3JrZmxvdyAiICsgcGF0aC5yc3BsaXQoIi8iLCAxKVst
MV0sCiAgICAgICAgICAgICJzaGEiOiBwYXlsb2FkWyJzaGEiXSwKICAgICAgICAgICAgImJyYW5j
aCI6IGJyYW5jaCwKICAgICAgICB9LCB0b2tlbj10b2tlbikKICAgIGV4Y2VwdCBSdW50aW1lRXJy
b3IgYXMgZXhjOgogICAgICAgIHJhaXNlIHdvcmtmbG93X3dyaXRlX2Vycm9yKGV4YykgZnJvbSBl
eGMKICAgIGNvbW1pdCA9IHJlc3VsdC5nZXQoImNvbW1pdCIpIGlmIGlzaW5zdGFuY2UocmVzdWx0
LCBkaWN0KSBlbHNlIHt9CiAgICBpZiBub3QgKGNvbW1pdCBvciB7fSkuZ2V0KCJzaGEiKToKICAg
ICAgICByYWlzZSBSdW50aW1lRXJyb3IoIkdpdEh1YiBkaWQgbm90IGNvbmZpcm0gdGhlIHdvcmtm
bG93IGRlbGV0aW9uIGNvbW1pdC4iKQogICAgcmV0dXJuIHsib2siOiBUcnVlLCAicGF0aCI6IHBh
dGgsICJjb21taXRVcmwiOiBzdHIoKGNvbW1pdCBvciB7fSkuZ2V0KCJodG1sX3VybCIpIG9yICIi
KX0KCgpkZWYgZ2l0aHViX3dvcmtmbG93cyhyZXBvc2l0b3J5KToKICAgIGlmIG5vdCBSRVBPX1JF
LmZ1bGxtYXRjaChyZXBvc2l0b3J5KToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlk
IHJlcG9zaXRvcnkuIikKICAgIHRva2VuID0gZ2l0aHViX3VzZXJfdG9rZW4oKQogICAgaXRlbXMg
PSBbXQogICAgYWN0aW9uX2lkc19ieV9wYXRoID0ge30KICAgIHRyeToKICAgICAgICBwYXlsb2Fk
ID0gZ2l0aHViX2pzb24oIkdFVCIsIGYie0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9h
Y3Rpb25zL3dvcmtmbG93cz9wZXJfcGFnZT0xMDAiLCB0b2tlbj10b2tlbikKICAgICAgICBhY3Rp
b25faXRlbXMgPSBwYXlsb2FkLmdldCgid29ya2Zsb3dzIikgaWYgaXNpbnN0YW5jZShwYXlsb2Fk
LCBkaWN0KSBlbHNlIE5vbmUKICAgICAgICBpZiBpc2luc3RhbmNlKGFjdGlvbl9pdGVtcywgbGlz
dCk6CiAgICAgICAgICAgIGZvciBpdGVtIGluIGFjdGlvbl9pdGVtczoKICAgICAgICAgICAgICAg
IHBhdGggPSBzdHIoaXRlbS5nZXQoInBhdGgiKSBvciAiIikKICAgICAgICAgICAgICAgIGlmIHBh
dGg6CiAgICAgICAgICAgICAgICAgICAgYWN0aW9uX2lkc19ieV9wYXRoW3BhdGhdID0gaXRlbS5n
ZXQoImlkIikKICAgICAgICAgICAgICAgICAgICBpdGVtcy5hcHBlbmQoewogICAgICAgICAgICAg
ICAgICAgICAgICAicGF0aCI6IHBhdGgsCiAgICAgICAgICAgICAgICAgICAgICAgICJpZCI6IGl0
ZW0uZ2V0KCJpZCIpLAogICAgICAgICAgICAgICAgICAgICAgICAibmFtZSI6IHN0cihpdGVtLmdl
dCgibmFtZSIpIG9yICIiKSwKICAgICAgICAgICAgICAgICAgICAgICAgInN0YXRlIjogc3RyKGl0
ZW0uZ2V0KCJzdGF0ZSIpIG9yICIiKSwKICAgICAgICAgICAgICAgICAgICAgICAgImh0bWxfdXJs
Ijogc3RyKGl0ZW0uZ2V0KCJodG1sX3VybCIpIG9yICIiKSwKICAgICAgICAgICAgICAgICAgICB9
KQogICAgZXhjZXB0IFJ1bnRpbWVFcnJvcjoKICAgICAgICBpdGVtcyA9IFtdCgogICAgaWYgbm90
IGl0ZW1zOgogICAgICAgIHRyeToKICAgICAgICAgICAgbGlzdGluZyA9IGdpdGh1Yl9qc29uKCJH
RVQiLCBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vY29udGVudHMvLmdpdGh1Yi93
b3JrZmxvd3MiLCB0b2tlbj10b2tlbikKICAgICAgICBleGNlcHQgUnVudGltZUVycm9yIGFzIGV4
YzoKICAgICAgICAgICAgaWYgIk5vdCBGb3VuZCIgaW4gc3RyKGV4Yyk6CiAgICAgICAgICAgICAg
ICBsaXN0aW5nID0gW10KICAgICAgICAgICAgZWxzZToKICAgICAgICAgICAgICAgIHJhaXNlCiAg
ICAgICAgaWYgaXNpbnN0YW5jZShsaXN0aW5nLCBsaXN0KToKICAgICAgICAgICAgZm9yIGl0ZW0g
aW4gbGlzdGluZzoKICAgICAgICAgICAgICAgIHBhdGggPSBzdHIoaXRlbS5nZXQoInBhdGgiKSBv
ciAiIikKICAgICAgICAgICAgICAgIGlmIHN0cihpdGVtLmdldCgidHlwZSIpIG9yICIiKSA9PSAi
ZmlsZSIgYW5kIHBhdGgubG93ZXIoKS5lbmRzd2l0aCgoIi55bWwiLCAiLnlhbWwiKSk6CiAgICAg
ICAgICAgICAgICAgICAgaXRlbXMuYXBwZW5kKHsKICAgICAgICAgICAgICAgICAgICAgICAgInBh
dGgiOiBwYXRoLAogICAgICAgICAgICAgICAgICAgICAgICAiaWQiOiBhY3Rpb25faWRzX2J5X3Bh
dGguZ2V0KHBhdGgpLAogICAgICAgICAgICAgICAgICAgICAgICAibmFtZSI6ICIiLAogICAgICAg
ICAgICAgICAgICAgICAgICAic3RhdGUiOiAiIiwKICAgICAgICAgICAgICAgICAgICAgICAgImh0
bWxfdXJsIjogc3RyKGl0ZW0uZ2V0KCJodG1sX3VybCIpIG9yICIiKSwKICAgICAgICAgICAgICAg
ICAgICB9KQoKICAgIGxhdGVzdF9ieV93b3JrZmxvdyA9IHt9CiAgICB0cnk6CiAgICAgICAgcnVu
c19wYXlsb2FkID0gZ2l0aHViX2pzb24oIkdFVCIsIGYie0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBv
c2l0b3J5fS9hY3Rpb25zL3J1bnM/cGVyX3BhZ2U9MTAwIiwgdG9rZW49dG9rZW4pCiAgICAgICAg
cnVucyA9IHJ1bnNfcGF5bG9hZC5nZXQoIndvcmtmbG93X3J1bnMiKSBpZiBpc2luc3RhbmNlKHJ1
bnNfcGF5bG9hZCwgZGljdCkgZWxzZSBOb25lCiAgICAgICAgaWYgaXNpbnN0YW5jZShydW5zLCBs
aXN0KToKICAgICAgICAgICAgZm9yIHJ1biBpbiBydW5zOgogICAgICAgICAgICAgICAgd29ya2Zs
b3dfaWQgPSBydW4uZ2V0KCJ3b3JrZmxvd19pZCIpCiAgICAgICAgICAgICAgICBpZiB3b3JrZmxv
d19pZCBpcyBub3QgTm9uZSBhbmQgd29ya2Zsb3dfaWQgbm90IGluIGxhdGVzdF9ieV93b3JrZmxv
dzoKICAgICAgICAgICAgICAgICAgICBsYXRlc3RfYnlfd29ya2Zsb3dbd29ya2Zsb3dfaWRdID0g
cnVuCiAgICBleGNlcHQgUnVudGltZUVycm9yOgogICAgICAgIHBhc3MKCiAgICByZXN1bHQgPSBb
XQogICAgZm9yIGl0ZW0gaW4gaXRlbXM6CiAgICAgICAgd29ya2Zsb3dfaWQgPSBpdGVtLmdldCgi
aWQiKQogICAgICAgIHBhdGggPSBzdHIoaXRlbS5nZXQoInBhdGgiKSBvciAiIikKICAgICAgICBz
b3VyY2UgPSAiIgogICAgICAgIHNvdXJjZV9zaGEgPSAiIgogICAgICAgIGlmIHBhdGguc3RhcnRz
d2l0aCgiLmdpdGh1Yi93b3JrZmxvd3MvIikgYW5kICIuLiIgbm90IGluIHBhdGg6CiAgICAgICAg
ICAgIHRyeToKICAgICAgICAgICAgICAgIGNvbnRlbnRfcGF5bG9hZCA9IGdpdGh1Yl9qc29uKAog
ICAgICAgICAgICAgICAgICAgICJHRVQiLAogICAgICAgICAgICAgICAgICAgIGYie0dJVEhVQl9B
UEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9jb250ZW50cy97dXJsbGliLnBhcnNlLnF1b3RlKHBhdGgs
IHNhZmU9Jy8nKX0iLAogICAgICAgICAgICAgICAgICAgIHRva2VuPXRva2VuLAogICAgICAgICAg
ICAgICAgKQogICAgICAgICAgICAgICAgZW5jb2RlZCA9IHN0cihjb250ZW50X3BheWxvYWQuZ2V0
KCJjb250ZW50Iikgb3IgIiIpLnJlcGxhY2UoIlxuIiwgIiIpCiAgICAgICAgICAgICAgICBpZiBl
bmNvZGVkIGFuZCBzdHIoY29udGVudF9wYXlsb2FkLmdldCgiZW5jb2RpbmciKSBvciAiIikgPT0g
ImJhc2U2NCI6CiAgICAgICAgICAgICAgICAgICAgc291cmNlID0gYmFzZTY0LmI2NGRlY29kZShl
bmNvZGVkKS5kZWNvZGUoInV0Zi04IiwgZXJyb3JzPSJyZXBsYWNlIikKICAgICAgICAgICAgICAg
ICAgICBzb3VyY2Vfc2hhID0gc3RyKGNvbnRlbnRfcGF5bG9hZC5nZXQoInNoYSIpIG9yICIiKQog
ICAgICAgICAgICBleGNlcHQgUnVudGltZUVycm9yOgogICAgICAgICAgICAgICAgc291cmNlID0g
IiIKICAgICAgICBmYWxsYmFja19uYW1lID0gc3RyKGl0ZW0uZ2V0KCJuYW1lIikgb3IgcGF0aC5y
c3BsaXQoIi8iLCAxKVstMV0gb3IgIldvcmtmbG93IikKICAgICAgICBsYXRlc3QgPSBsYXRlc3Rf
Ynlfd29ya2Zsb3cuZ2V0KHdvcmtmbG93X2lkKSBvciB7fQogICAgICAgIHJlc3VsdC5hcHBlbmQo
ewogICAgICAgICAgICAiaWQiOiB3b3JrZmxvd19pZCwKICAgICAgICAgICAgIm5hbWUiOiBwYXJz
ZV93b3JrZmxvd19uYW1lKHNvdXJjZSwgZmFsbGJhY2tfbmFtZSksCiAgICAgICAgICAgICJwYXRo
IjogcGF0aCwKICAgICAgICAgICAgInN0YXRlIjogc3RyKGl0ZW0uZ2V0KCJzdGF0ZSIpIG9yICIi
KSwKICAgICAgICAgICAgImh0bWxVcmwiOiBzdHIoaXRlbS5nZXQoImh0bWxfdXJsIikgb3IgIiIp
LAogICAgICAgICAgICAicnVuc09uIjogcGFyc2Vfd29ya2Zsb3dfcnVuc19vbihzb3VyY2UpLAog
ICAgICAgICAgICAiam9icyI6IHBhcnNlX3dvcmtmbG93X2pvYnMoc291cmNlKSwKICAgICAgICAg
ICAgInNvdXJjZVNoYSI6IHNvdXJjZV9zaGEsCiAgICAgICAgICAgICJsYXRlc3RSdW4iOiB7CiAg
ICAgICAgICAgICAgICAiaWQiOiBsYXRlc3QuZ2V0KCJpZCIpLAogICAgICAgICAgICAgICAgInN0
YXR1cyI6IHN0cihsYXRlc3QuZ2V0KCJzdGF0dXMiKSBvciAiIiksCiAgICAgICAgICAgICAgICAi
Y29uY2x1c2lvbiI6IHN0cihsYXRlc3QuZ2V0KCJjb25jbHVzaW9uIikgb3IgIiIpLAogICAgICAg
ICAgICAgICAgImV2ZW50Ijogc3RyKGxhdGVzdC5nZXQoImV2ZW50Iikgb3IgIiIpLAogICAgICAg
ICAgICAgICAgImJyYW5jaCI6IHN0cihsYXRlc3QuZ2V0KCJoZWFkX2JyYW5jaCIpIG9yICIiKSwK
ICAgICAgICAgICAgICAgICJodG1sVXJsIjogc3RyKGxhdGVzdC5nZXQoImh0bWxfdXJsIikgb3Ig
IiIpLAogICAgICAgICAgICAgICAgImNyZWF0ZWRBdCI6IHN0cihsYXRlc3QuZ2V0KCJjcmVhdGVk
X2F0Iikgb3IgIiIpLAogICAgICAgICAgICAgICAgInVwZGF0ZWRBdCI6IHN0cihsYXRlc3QuZ2V0
KCJ1cGRhdGVkX2F0Iikgb3IgIiIpLAogICAgICAgICAgICB9IGlmIGxhdGVzdCBlbHNlIE5vbmUs
CiAgICAgICAgfSkKICAgIHJlc3VsdC5zb3J0KGtleT1sYW1iZGEgaXRlbTogaXRlbVsibmFtZSJd
Lmxvd2VyKCkpCiAgICByZXR1cm4geyJyZXBvc2l0b3J5IjogcmVwb3NpdG9yeSwgIndvcmtmbG93
cyI6IHJlc3VsdH0KCgpkZWYgZ2l0aHViX3JlbmFtZV93b3JrZmxvdyhyZXBvc2l0b3J5LCBwYXRo
LCBicmFuY2gsIG5hbWUpOgogICAgbmFtZSA9IHN0cihuYW1lIG9yICIiKS5zdHJpcCgpCiAgICBp
ZiBub3QgV09SS0ZMT1dfTkFNRV9SRS5mdWxsbWF0Y2gobmFtZSk6CiAgICAgICAgcmFpc2UgVmFs
dWVFcnJvcigiV29ya2Zsb3cgbmFtZSBtdXN0IGJlIDEtMTAwIGNoYXJhY3RlcnMgb24gb25lIGxp
bmUuIikKICAgIHRva2VuLCB1cmwsIHBheWxvYWQsIHNvdXJjZSA9IGdpdGh1Yl93b3JrZmxvd19m
aWxlKHJlcG9zaXRvcnksIHBhdGgsIGJyYW5jaCkKICAgIHlhbWxfbmFtZSA9IGpzb24uZHVtcHMo
bmFtZSwgZW5zdXJlX2FzY2lpPUZhbHNlKQogICAgdXBkYXRlZCwgY291bnQgPSByZS5zdWJuKHIi
KD9tKV5uYW1lXHMqOlxzKi4qJCIsICJuYW1lOiAiICsgeWFtbF9uYW1lLCBzb3VyY2UsIGNvdW50
PTEpCiAgICBpZiBjb3VudCA9PSAwOgogICAgICAgIHVwZGF0ZWQgPSAibmFtZTogIiArIHlhbWxf
bmFtZSArICJcbiIgKyBzb3VyY2UKICAgIHRyeToKICAgICAgICByZXN1bHQgPSBnaXRodWJfanNv
bigiUFVUIiwgdXJsLCB7CiAgICAgICAgICAgICJtZXNzYWdlIjogIlJlbmFtZSBHaXRIdWIgQWN0
aW9ucyB3b3JrZmxvdyB0byAiICsgbmFtZSwKICAgICAgICAgICAgImNvbnRlbnQiOiBiYXNlNjQu
YjY0ZW5jb2RlKHVwZGF0ZWQuZW5jb2RlKCJ1dGYtOCIpKS5kZWNvZGUoImFzY2lpIiksCiAgICAg
ICAgICAgICJzaGEiOiBwYXlsb2FkWyJzaGEiXSwKICAgICAgICAgICAgImJyYW5jaCI6IGJyYW5j
aCwKICAgICAgICB9LCB0b2tlbj10b2tlbikKICAgIGV4Y2VwdCBSdW50aW1lRXJyb3IgYXMgZXhj
OgogICAgICAgIHJhaXNlIHdvcmtmbG93X3dyaXRlX2Vycm9yKGV4YykgZnJvbSBleGMKICAgIGNv
bW1pdCA9IHJlc3VsdC5nZXQoImNvbW1pdCIpIGlmIGlzaW5zdGFuY2UocmVzdWx0LCBkaWN0KSBl
bHNlIHt9CiAgICBpZiBub3QgKGNvbW1pdCBvciB7fSkuZ2V0KCJzaGEiKToKICAgICAgICByYWlz
ZSBSdW50aW1lRXJyb3IoIkdpdEh1YiBkaWQgbm90IGNvbmZpcm0gdGhlIHdvcmtmbG93IHJlbmFt
ZSBjb21taXQuIikKICAgIF8sIF8sIF8sIHZlcmlmaWVkX3NvdXJjZSA9IGdpdGh1Yl93b3JrZmxv
d19maWxlKHJlcG9zaXRvcnksIHBhdGgsIGJyYW5jaCkKICAgIGlmIHBhcnNlX3dvcmtmbG93X25h
bWUodmVyaWZpZWRfc291cmNlLCAiIikgIT0gbmFtZToKICAgICAgICByYWlzZSBSdW50aW1lRXJy
b3IoIkdpdEh1YiBhY2NlcHRlZCB0aGUgcmVxdWVzdCBidXQgdGhlIHdvcmtmbG93IG5hbWUgY291
bGQgbm90IGJlIHZlcmlmaWVkIG9uIHRoZSB0YXJnZXQgYnJhbmNoLiIpCiAgICByZXR1cm4gewog
ICAgICAgICJvayI6IFRydWUsCiAgICAgICAgIm5hbWUiOiBuYW1lLAogICAgICAgICJwYXRoIjog
cGF0aCwKICAgICAgICAiY29tbWl0VXJsIjogc3RyKChjb21taXQgb3Ige30pLmdldCgiaHRtbF91
cmwiKSBvciAiIiksCiAgICB9CgoKZGVmIHVwZGF0ZV9ydW5uZXJfb2JzZXJ2YXRpb25zKHJlcG9z
aXRvcnksIHJ1bm5lcnMpOgogICAgd2l0aCBSVU5ORVJfT0JTRVJWQVRJT05TX0xPQ0s6CiAgICAg
ICAgb2JzZXJ2YXRpb25zID0gcmVhZF9qc29uKFJVTk5FUl9PQlNFUlZBVElPTlNfRklMRSwge30p
CiAgICAgICAgaWYgbm90IGlzaW5zdGFuY2Uob2JzZXJ2YXRpb25zLCBkaWN0KToKICAgICAgICAg
ICAgb2JzZXJ2YXRpb25zID0ge30KICAgICAgICBvYnNlcnZlZF9hdCA9IHV0Y19ub3coKQogICAg
ICAgIGZvciBydW5uZXIgaW4gcnVubmVyczoKICAgICAgICAgICAgcnVubmVyX2lkID0gcnVubmVy
LmdldCgiaWQiKQogICAgICAgICAgICBpZiBydW5uZXJfaWQgaXMgTm9uZToKICAgICAgICAgICAg
ICAgIGNvbnRpbnVlCiAgICAgICAgICAgIGtleSA9IHJlcG9zaXRvcnkgKyAiOiIgKyBzdHIocnVu
bmVyX2lkKQogICAgICAgICAgICBwcmV2aW91cyA9IG9ic2VydmF0aW9ucy5nZXQoa2V5KQogICAg
ICAgICAgICBpZiBub3QgaXNpbnN0YW5jZShwcmV2aW91cywgZGljdCk6CiAgICAgICAgICAgICAg
ICBwcmV2aW91cyA9IHt9CiAgICAgICAgICAgIGZpcnN0X3NlZW4gPSBzdHIocHJldmlvdXMuZ2V0
KCJmaXJzdFNlZW5BdCIpIG9yIG9ic2VydmVkX2F0KQogICAgICAgICAgICBsYXN0X29ubGluZSA9
IHN0cihwcmV2aW91cy5nZXQoImxhc3RPbmxpbmVBdCIpIG9yICIiKQogICAgICAgICAgICBpZiBy
dW5uZXIuZ2V0KCJvbmxpbmUiKToKICAgICAgICAgICAgICAgIGxhc3Rfb25saW5lID0gb2JzZXJ2
ZWRfYXQKICAgICAgICAgICAgcmVjb3JkID0gewogICAgICAgICAgICAgICAgInJlcG9zaXRvcnki
OiByZXBvc2l0b3J5LAogICAgICAgICAgICAgICAgInJ1bm5lcklkIjogcnVubmVyX2lkLAogICAg
ICAgICAgICAgICAgIm5hbWUiOiBzdHIocnVubmVyLmdldCgibmFtZSIpIG9yICIiKSwKICAgICAg
ICAgICAgICAgICJmaXJzdFNlZW5BdCI6IGZpcnN0X3NlZW4sCiAgICAgICAgICAgICAgICAibGFz
dFNlZW5BdCI6IG9ic2VydmVkX2F0LAogICAgICAgICAgICAgICAgImxhc3RPbmxpbmVBdCI6IGxh
c3Rfb25saW5lLAogICAgICAgICAgICAgICAgInN0YXR1cyI6IHN0cihydW5uZXIuZ2V0KCJzdGF0
dXMiKSBvciAib2ZmbGluZSIpLAogICAgICAgICAgICB9CiAgICAgICAgICAgIG9ic2VydmF0aW9u
c1trZXldID0gcmVjb3JkCiAgICAgICAgICAgIHJ1bm5lclsiZmlyc3RTZWVuQXQiXSA9IGZpcnN0
X3NlZW4KICAgICAgICAgICAgcnVubmVyWyJsYXN0U2VlbkF0Il0gPSBvYnNlcnZlZF9hdAogICAg
ICAgICAgICBydW5uZXJbImxhc3RPbmxpbmVBdCJdID0gbGFzdF9vbmxpbmUKICAgICAgICBpZiBs
ZW4ob2JzZXJ2YXRpb25zKSA+IDE1MDA6CiAgICAgICAgICAgIG9yZGVyZWQgPSBzb3J0ZWQoCiAg
ICAgICAgICAgICAgICBvYnNlcnZhdGlvbnMuaXRlbXMoKSwKICAgICAgICAgICAgICAgIGtleT1s
YW1iZGEgaXRlbTogc3RyKChpdGVtWzFdIG9yIHt9KS5nZXQoImxhc3RTZWVuQXQiKSBvciAiIiks
CiAgICAgICAgICAgICAgICByZXZlcnNlPVRydWUsCiAgICAgICAgICAgICkKICAgICAgICAgICAg
b2JzZXJ2YXRpb25zID0gZGljdChvcmRlcmVkWzoxMDAwXSkKICAgICAgICB3cml0ZV9qc29uX3By
aXZhdGUoUlVOTkVSX09CU0VSVkFUSU9OU19GSUxFLCBvYnNlcnZhdGlvbnMpCgoKZGVmIGdpdGh1
Yl9ydW5uZXJzKHJlcG9zaXRvcnkpOgogICAgaWYgbm90IFJFUE9fUkUuZnVsbG1hdGNoKHJlcG9z
aXRvcnkpOgogICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIkludmFsaWQgcmVwb3NpdG9yeS4iKQog
ICAgdG9rZW4gPSBnaXRodWJfdXNlcl90b2tlbigpCiAgICBwYXlsb2FkID0gZ2l0aHViX2pzb24o
IkdFVCIsIGYie0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9hY3Rpb25zL3J1bm5lcnM/
cGVyX3BhZ2U9MTAwIiwgdG9rZW49dG9rZW4pCiAgICBpdGVtcyA9IHBheWxvYWQuZ2V0KCJydW5u
ZXJzIikgaWYgaXNpbnN0YW5jZShwYXlsb2FkLCBkaWN0KSBlbHNlIE5vbmUKICAgIGlmIG5vdCBp
c2luc3RhbmNlKGl0ZW1zLCBsaXN0KToKICAgICAgICBpdGVtcyA9IFtdCiAgICBydW5uZXJzID0g
W10KICAgIGZvciBpdGVtIGluIGl0ZW1zOgogICAgICAgIGxhYmVscyA9IFsKICAgICAgICAgICAg
c3RyKGxhYmVsLmdldCgibmFtZSIpKQogICAgICAgICAgICBmb3IgbGFiZWwgaW4gKGl0ZW0uZ2V0
KCJsYWJlbHMiKSBvciBbXSkKICAgICAgICAgICAgaWYgaXNpbnN0YW5jZShsYWJlbCwgZGljdCkg
YW5kIGxhYmVsLmdldCgibmFtZSIpCiAgICAgICAgXQogICAgICAgIHN0YXR1cyA9IHN0cihpdGVt
LmdldCgic3RhdHVzIikgb3IgIm9mZmxpbmUiKS5sb3dlcigpCiAgICAgICAgcnVubmVycy5hcHBl
bmQoewogICAgICAgICAgICAiaWQiOiBpdGVtLmdldCgiaWQiKSwKICAgICAgICAgICAgIm5hbWUi
OiBzdHIoaXRlbS5nZXQoIm5hbWUiKSBvciAiR2l0SHViIHJ1bm5lciIpLAogICAgICAgICAgICAi
b3MiOiBzdHIoaXRlbS5nZXQoIm9zIikgb3IgIiIpLAogICAgICAgICAgICAic3RhdHVzIjogc3Rh
dHVzLAogICAgICAgICAgICAib25saW5lIjogc3RhdHVzID09ICJvbmxpbmUiLAogICAgICAgICAg
ICAiYnVzeSI6IGJvb2woaXRlbS5nZXQoImJ1c3kiKSksCiAgICAgICAgICAgICJsYWJlbHMiOiBs
YWJlbHMsCiAgICAgICAgICAgICJmb3JnZWNvcmVSdW5uZXIiOiBhbnkobGFiZWwubG93ZXIoKSA9
PSAiZm9yZ2Vjb3JlIiBmb3IgbGFiZWwgaW4gbGFiZWxzKSwKICAgICAgICB9KQoKICAgIGxvY2Fs
X2J5X25hbWUgPSB7CiAgICAgICAgaXRlbVsibmFtZSJdOiBpdGVtWyJpZCJdCiAgICAgICAgZm9y
IGl0ZW0gaW4gbGlzdF9ydW5uZXJzKCkKICAgICAgICBpZiBpdGVtLmdldCgicmVwb3NpdG9yeSIp
ID09IHJlcG9zaXRvcnkgYW5kIGl0ZW0uZ2V0KCJuYW1lIikKICAgIH0KICAgIGZvcmdlY29yZV9j
YW5kaWRhdGVzID0gWwogICAgICAgIHJ1bm5lciBmb3IgcnVubmVyIGluIHJ1bm5lcnMKICAgICAg
ICBpZiBydW5uZXIuZ2V0KCJmb3JnZWNvcmVSdW5uZXIiKSBvciBzdHIocnVubmVyLmdldCgibmFt
ZSIpIG9yICIiKS5sb3dlcigpLnN0YXJ0c3dpdGgoImZvcmdlY29yZSIpCiAgICBdCiAgICBkdXBs
aWNhdGVfY291bnQgPSBsZW4oZm9yZ2Vjb3JlX2NhbmRpZGF0ZXMpCiAgICBmb3IgcnVubmVyIGlu
IHJ1bm5lcnM6CiAgICAgICAgbG9jYWxfaWQgPSBsb2NhbF9ieV9uYW1lLmdldChydW5uZXIuZ2V0
KCJuYW1lIikpCiAgICAgICAgcnVubmVyWyJtYW5hZ2VkQnlGb3JnZUNvcmUiXSA9IGJvb2wobG9j
YWxfaWQpCiAgICAgICAgcnVubmVyWyJsb2NhbFJ1bm5lcklkIl0gPSBsb2NhbF9pZCBvciAiIgog
ICAgICAgIHJ1bm5lclsicG9zc2libGVEdXBsaWNhdGUiXSA9IGJvb2woZHVwbGljYXRlX2NvdW50
ID4gMSBhbmQgcnVubmVyIGluIGZvcmdlY29yZV9jYW5kaWRhdGVzKQogICAgICAgIHJ1bm5lclsi
ZHVwbGljYXRlQ291bnQiXSA9IGR1cGxpY2F0ZV9jb3VudCBpZiBydW5uZXJbInBvc3NpYmxlRHVw
bGljYXRlIl0gZWxzZSAwCgogICAgdXBkYXRlX3J1bm5lcl9vYnNlcnZhdGlvbnMocmVwb3NpdG9y
eSwgcnVubmVycykKICAgIHJldHVybiB7CiAgICAgICAgInJlcG9zaXRvcnkiOiByZXBvc2l0b3J5
LAogICAgICAgICJydW5uZXJzIjogcnVubmVycywKICAgICAgICAic2V0dGluZ3NVcmwiOiAiaHR0
cHM6Ly9naXRodWIuY29tLyIgKyByZXBvc2l0b3J5ICsgIi9zZXR0aW5ncy9hY3Rpb25zL3J1bm5l
cnMiLAogICAgICAgICJuZXdSdW5uZXJVcmwiOiAiaHR0cHM6Ly9naXRodWIuY29tLyIgKyByZXBv
c2l0b3J5ICsgIi9zZXR0aW5ncy9hY3Rpb25zL3J1bm5lcnMvbmV3IiwKICAgICAgICAicG9zc2li
bGVGb3JnZUNvcmVEdXBsaWNhdGVzIjogZHVwbGljYXRlX2NvdW50ID4gMSwKICAgICAgICAiZm9y
Z2VDb3JlQ2FuZGlkYXRlQ291bnQiOiBkdXBsaWNhdGVfY291bnQsCiAgICB9CgoKZGVmIGdpdGh1
Yl9ydW5uZXJfdG9rZW4ocmVwb3NpdG9yeSwga2luZCk6CiAgICBpZiBub3QgUkVQT19SRS5mdWxs
bWF0Y2gocmVwb3NpdG9yeSk6CiAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiSW52YWxpZCByZXBv
c2l0b3J5LiIpCiAgICBlbmRwb2ludCA9ICJyZWdpc3RyYXRpb24tdG9rZW4iIGlmIGtpbmQgPT0g
InJlZ2lzdGVyIiBlbHNlICJyZW1vdmUtdG9rZW4iCiAgICByZXR1cm4gZ2l0aHViX2pzb24oIlBP
U1QiLCBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vYWN0aW9ucy9ydW5uZXJzL3tl
bmRwb2ludH0iLCB7fSwgdG9rZW49Z2l0aHViX3VzZXJfdG9rZW4oKSkKCgpkZWYgZ2l0aHViX3J1
bm5lcl9qb2IocmVwb3NpdG9yeSwgcnVubmVyX2lkKToKICAgIGlmIG5vdCBSRVBPX1JFLmZ1bGxt
YXRjaChyZXBvc2l0b3J5KToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIHJlcG9z
aXRvcnkuIikKICAgIHRyeToKICAgICAgICBydW5uZXJfaWQgPSBpbnQocnVubmVyX2lkKQogICAg
ZXhjZXB0IChUeXBlRXJyb3IsIFZhbHVlRXJyb3IpOgogICAgICAgIHJhaXNlIFZhbHVlRXJyb3Io
IkludmFsaWQgcnVubmVyIGlkLiIpCiAgICB0b2tlbiA9IGdpdGh1Yl91c2VyX3Rva2VuKCkKICAg
IHJ1bnMgPSBnaXRodWJfanNvbigiR0VUIiwgZiJ7R0lUSFVCX0FQSX0vcmVwb3Mve3JlcG9zaXRv
cnl9L2FjdGlvbnMvcnVucz9zdGF0dXM9aW5fcHJvZ3Jlc3MmcGVyX3BhZ2U9MjAiLCB0b2tlbj10
b2tlbikKICAgIGl0ZW1zID0gcnVucy5nZXQoIndvcmtmbG93X3J1bnMiKSBpZiBpc2luc3RhbmNl
KHJ1bnMsIGRpY3QpIGVsc2UgW10KICAgIGZvciBydW4gaW4gKGl0ZW1zIG9yIFtdKVs6MjBdOgog
ICAgICAgIHJ1bl9pZCA9IGludChydW4uZ2V0KCJpZCIpIG9yIDApCiAgICAgICAgaWYgbm90IHJ1
bl9pZDoKICAgICAgICAgICAgY29udGludWUKICAgICAgICBqb2JzID0gZ2l0aHViX2pzb24oIkdF
VCIsIGYie0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9hY3Rpb25zL3J1bnMve3J1bl9p
ZH0vam9icz9maWx0ZXI9bGF0ZXN0JnBlcl9wYWdlPTEwMCIsIHRva2VuPXRva2VuKQogICAgICAg
IGZvciBqb2IgaW4gKGpvYnMuZ2V0KCJqb2JzIikgb3IgW10pOgogICAgICAgICAgICBpZiBpbnQo
am9iLmdldCgicnVubmVyX2lkIikgb3IgMCkgIT0gcnVubmVyX2lkOgogICAgICAgICAgICAgICAg
Y29udGludWUKICAgICAgICAgICAgcmV0dXJuIHsKICAgICAgICAgICAgICAgICJydW5JZCI6IHJ1
bl9pZCwKICAgICAgICAgICAgICAgICJqb2JJZCI6IGpvYi5nZXQoImlkIiksCiAgICAgICAgICAg
ICAgICAiam9iTmFtZSI6IHN0cihqb2IuZ2V0KCJuYW1lIikgb3IgIkdpdEh1YiBBY3Rpb25zIGpv
YiIpLAogICAgICAgICAgICAgICAgIndvcmtmbG93TmFtZSI6IHN0cihydW4uZ2V0KCJuYW1lIikg
b3IgcnVuLmdldCgiZGlzcGxheV90aXRsZSIpIG9yICJXb3JrZmxvdyIpLAogICAgICAgICAgICAg
ICAgInN0YXR1cyI6IHN0cihqb2IuZ2V0KCJzdGF0dXMiKSBvciAiIiksCiAgICAgICAgICAgICAg
ICAic3RhcnRlZEF0Ijogam9iLmdldCgic3RhcnRlZF9hdCIpLAogICAgICAgICAgICAgICAgImh0
bWxVcmwiOiBzdHIoam9iLmdldCgiaHRtbF91cmwiKSBvciBydW4uZ2V0KCJodG1sX3VybCIpIG9y
ICIiKSwKICAgICAgICAgICAgICAgICJydW5uZXJOYW1lIjogc3RyKGpvYi5nZXQoInJ1bm5lcl9u
YW1lIikgb3IgIiIpLAogICAgICAgICAgICB9CiAgICByZXR1cm4gTm9uZQoKCmRlZiByZWFkX2lu
dChwYXRoLCBkZWZhdWx0PTApOgogICAgdHJ5OgogICAgICAgIHJldHVybiBpbnQocGF0aC5yZWFk
X3RleHQoZW5jb2Rpbmc9InV0Zi04Iikuc3RyaXAoKSkKICAgIGV4Y2VwdCAoT1NFcnJvciwgVmFs
dWVFcnJvciwgVHlwZUVycm9yKToKICAgICAgICByZXR1cm4gZGVmYXVsdAoKCmRlZiB2YWxpZGF0
ZV9ydW5uZXJfbmFtZSh2YWx1ZSk6CiAgICBuYW1lID0gc3RyKHZhbHVlIG9yICIiKS5zdHJpcCgp
CiAgICBpZiBub3QgUlVOTkVSX05BTUVfUkUuZnVsbG1hdGNoKG5hbWUpOgogICAgICAgIHJhaXNl
IFZhbHVlRXJyb3IoIlJ1bm5lciBuYW1lIG11c3QgYmUgMS02NCBjaGFyYWN0ZXJzIGFuZCB1c2Ug
bGV0dGVycywgbnVtYmVycywgc3BhY2VzLCBkb3RzLCB1bmRlcnNjb3JlcyBvciBoeXBoZW5zLiIp
CiAgICByZXR1cm4gbmFtZQoKCmRlZiB2YWxpZGF0ZV9ydW5uZXJfbGFiZWxzKHZhbHVlKToKICAg
IGlmIHZhbHVlIGlzIE5vbmU6CiAgICAgICAgaXRlbXMgPSBbXQogICAgZWxpZiBpc2luc3RhbmNl
KHZhbHVlLCBsaXN0KToKICAgICAgICBpdGVtcyA9IHZhbHVlCiAgICBlbHNlOgogICAgICAgIHJh
aXNlIFZhbHVlRXJyb3IoIlJ1bm5lciBsYWJlbHMgbXVzdCBiZSBhIGxpc3QuIikKICAgIHJlc3Vs
dCA9IFtdCiAgICBzZWVuID0geyJmb3JnZWNvcmUifQogICAgY3VzdG9tX2NvdW50ID0gMAogICAg
Zm9yIGl0ZW0gaW4gaXRlbXM6CiAgICAgICAgbGFiZWwgPSBzdHIoaXRlbSBvciAiIikuc3RyaXAo
KQogICAgICAgIGlmIG5vdCBsYWJlbDoKICAgICAgICAgICAgY29udGludWUKICAgICAgICBpZiBu
b3QgUlVOTkVSX0xBQkVMX1JFLmZ1bGxtYXRjaChsYWJlbCk6CiAgICAgICAgICAgIHJhaXNlIFZh
bHVlRXJyb3IoIkVhY2ggY3VzdG9tIGxhYmVsIG11c3QgYmUgMS0zMiBjaGFyYWN0ZXJzIHVzaW5n
IGxldHRlcnMsIG51bWJlcnMsIGRvdHMsIHVuZGVyc2NvcmVzIG9yIGh5cGhlbnMuIikKICAgICAg
ICBrZXkgPSBsYWJlbC5sb3dlcigpCiAgICAgICAgaWYga2V5IGluIHNlZW46CiAgICAgICAgICAg
IGNvbnRpbnVlCiAgICAgICAgc2Vlbi5hZGQoa2V5KQogICAgICAgIGlmIG5vdCBrZXkuc3RhcnRz
d2l0aCgiZmMtcm91dGUtIik6CiAgICAgICAgICAgIGN1c3RvbV9jb3VudCArPSAxCiAgICAgICAg
cmVzdWx0LmFwcGVuZChsYWJlbCkKICAgIGlmIGN1c3RvbV9jb3VudCA+IDg6CiAgICAgICAgcmFp
c2UgVmFsdWVFcnJvcigiVXNlIGF0IG1vc3QgOCBjdXN0b20gcnVubmVyIGxhYmVscy4iKQogICAg
cmV0dXJuIFsiRm9yZ2VDb3JlIiwgKnJlc3VsdF0KCgpkZWYgbGlzdF9ydW5uZXJzKCk6CiAgICBy
ZXN1bHQgPSBbXQogICAgdHJ5OgogICAgICAgIGRpcnMgPSBzb3J0ZWQoW3BhdGggZm9yIHBhdGgg
aW4gUlVOTkVSX1JPT1QuaXRlcmRpcigpIGlmIHBhdGguaXNfZGlyKCldKQogICAgZXhjZXB0IE9T
RXJyb3I6CiAgICAgICAgZGlycyA9IFtdCiAgICBmb3IgZGlyZWN0b3J5IGluIGRpcnM6CiAgICAg
ICAgbWV0YSA9IHJlYWRfanNvbihkaXJlY3RvcnkgLyAiLmZvcmdlY29yZS1ydW5uZXIuanNvbiIp
CiAgICAgICAgaWYgbm90IGlzaW5zdGFuY2UobWV0YSwgZGljdCkgb3IgbWV0YS5nZXQoImtpbmQi
KSAhPSAiRm9yZ2VDb3JlUnVubmVyIjoKICAgICAgICAgICAgY29udGludWUKICAgICAgICBydW5u
ZXJfaWQgPSBkaXJlY3RvcnkubmFtZQogICAgICAgIHJ1bnRpbWUgPSByZWFkX2pzb24oU1RBVEVf
RElSIC8gZiJydW5uZXIte3J1bm5lcl9pZH0uanNvbiIsIHt9KQogICAgICAgIHN0b3BwZWQgPSAo
U1RBVEVfRElSIC8gZiJydW5uZXIte3J1bm5lcl9pZH0uZGlzYWJsZWQiKS5leGlzdHMoKQogICAg
ICAgIHJlc3VsdC5hcHBlbmQoewogICAgICAgICAgICAiaWQiOiBydW5uZXJfaWQsCiAgICAgICAg
ICAgICJyZXBvc2l0b3J5Ijogc3RyKG1ldGEuZ2V0KCJyZXBvc2l0b3J5Iikgb3IgIiIpLAogICAg
ICAgICAgICAibmFtZSI6IHN0cihtZXRhLmdldCgibmFtZSIpIG9yICgiRm9yZ2VDb3JlLSIgKyBy
dW5uZXJfaWQpKSwKICAgICAgICAgICAgImxhYmVscyI6IG1ldGEuZ2V0KCJsYWJlbHMiKSBpZiBp
c2luc3RhbmNlKG1ldGEuZ2V0KCJsYWJlbHMiKSwgbGlzdCkgZWxzZSBbIkZvcmdlQ29yZSJdLAog
ICAgICAgICAgICAicm91dGVMYWJlbCI6IHJ1bm5lcl9yb3V0ZV9sYWJlbCh7InJlcG9zaXRvcnki
OiBzdHIobWV0YS5nZXQoInJlcG9zaXRvcnkiKSBvciAiIiksICJpZCI6IHJ1bm5lcl9pZH0pLAog
ICAgICAgICAgICAicGhhc2UiOiAic3RvcHBlZCIgaWYgc3RvcHBlZCBlbHNlIHN0cihydW50aW1l
LmdldCgicGhhc2UiKSBvciAib2ZmbGluZSIpLAogICAgICAgICAgICAibWVzc2FnZSI6ICJTdG9w
cGVkIGJ5IG9wZXJhdG9yIiBpZiBzdG9wcGVkIGVsc2Ugc3RyKHJ1bnRpbWUuZ2V0KCJtZXNzYWdl
Iikgb3IgIiIpLAogICAgICAgICAgICAib25saW5lIjogRmFsc2UgaWYgc3RvcHBlZCBlbHNlIGJv
b2wocnVudGltZS5nZXQoIm9ubGluZSIpKSwKICAgICAgICAgICAgInBpZCI6IE5vbmUgaWYgc3Rv
cHBlZCBlbHNlIHJ1bnRpbWUuZ2V0KCJwaWQiKSwKICAgICAgICAgICAgInN0b3BwZWQiOiBzdG9w
cGVkLAogICAgICAgICAgICAic3RhcnRlZEVwb2NoIjogcmVhZF9pbnQoZGlyZWN0b3J5IC8gIi5z
dGFydGVkLWVwb2NoIiksCiAgICAgICAgICAgICJyZXN0YXJ0Q291bnQiOiByZWFkX2ludChkaXJl
Y3RvcnkgLyAiLnJlc3RhcnQtY291bnQiKSwKICAgICAgICAgICAgImxhc3RSZXN0YXJ0RXBvY2gi
OiByZWFkX2ludChkaXJlY3RvcnkgLyAiLmxhc3QtcmVzdGFydC1lcG9jaCIpLAogICAgICAgIH0p
CiAgICByZXR1cm4gcmVzdWx0CgoKY2xhc3MgSGFuZGxlcihCYXNlSFRUUFJlcXVlc3RIYW5kbGVy
KToKICAgIHNlcnZlcl92ZXJzaW9uID0gIkZvcmdlQ29yZUNsZWFuLzAuMSIKCiAgICBkZWYgbG9n
X21lc3NhZ2Uoc2VsZiwgZm10LCAqYXJncyk6CiAgICAgICAgcHJpbnQoIiVzIC0gJXMiICUgKHNl
bGYuYWRkcmVzc19zdHJpbmcoKSwgZm10ICUgYXJncyksIGZsdXNoPVRydWUpCgogICAgZGVmIHBh
cnNlX2Nvb2tpZXMoc2VsZik6CiAgICAgICAgY29va2llID0gaHR0cC5jb29raWVzLlNpbXBsZUNv
b2tpZSgpCiAgICAgICAgY29va2llLmxvYWQoc2VsZi5oZWFkZXJzLmdldCgiQ29va2llIiwgIiIp
KQogICAgICAgIHJldHVybiBjb29raWUKCiAgICBkZWYgY3VycmVudF91c2VyKHNlbGYpOgogICAg
ICAgIGNvb2tpZSA9IHNlbGYucGFyc2VfY29va2llcygpCiAgICAgICAgbW9yc2VsID0gY29va2ll
LmdldChTRVNTSU9OX0NPT0tJRSkKICAgICAgICByZXR1cm4gc2Vzc2lvbl91c2VyKG1vcnNlbC52
YWx1ZSBpZiBtb3JzZWwgZWxzZSAiIikKCiAgICBkZWYgcmVxdWlyZV91c2VyKHNlbGYpOgogICAg
ICAgIHVzZXIgPSBzZWxmLmN1cnJlbnRfdXNlcigpCiAgICAgICAgaWYgbm90IHVzZXI6CiAgICAg
ICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDEsIHsiZXJyb3IiOiAiQXV0aGVudGljYXRpb24g
cmVxdWlyZWQifSkKICAgICAgICAgICAgcmV0dXJuIE5vbmUKICAgICAgICByZXR1cm4gdXNlcgoK
ICAgIGRlZiBqc29uX2JvZHkoc2VsZik6CiAgICAgICAgbGVuZ3RoID0gaW50KHNlbGYuaGVhZGVy
cy5nZXQoIkNvbnRlbnQtTGVuZ3RoIiwgIjAiKSBvciAwKQogICAgICAgIGlmIGxlbmd0aCA8PSAw
OgogICAgICAgICAgICByZXR1cm4ge30KICAgICAgICBpZiBsZW5ndGggPiAyXzAwMF8wMDA6CiAg
ICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIlJlcXVlc3QgdG9vIGxhcmdlLiIpCiAgICAgICAg
cmF3ID0gc2VsZi5yZmlsZS5yZWFkKGxlbmd0aCkKICAgICAgICB0cnk6CiAgICAgICAgICAgIHZh
bHVlID0ganNvbi5sb2FkcyhyYXcuZGVjb2RlKCJ1dGYtOCIpKQogICAgICAgIGV4Y2VwdCAoVmFs
dWVFcnJvciwgVW5pY29kZUVycm9yKToKICAgICAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiSW52
YWxpZCBKU09OLiIpCiAgICAgICAgcmV0dXJuIHZhbHVlIGlmIGlzaW5zdGFuY2UodmFsdWUsIGRp
Y3QpIGVsc2Uge30KCiAgICBkZWYganNvbl9yZXNwb25zZShzZWxmLCBzdGF0dXMsIHZhbHVlLCBo
ZWFkZXJzPU5vbmUpOgogICAgICAgIGJvZHkgPSBqc29uLmR1bXBzKHZhbHVlLCBlbnN1cmVfYXNj
aWk9RmFsc2UpLmVuY29kZSgpCiAgICAgICAgc2VsZi5zZW5kX3Jlc3BvbnNlKHN0YXR1cykKICAg
ICAgICBzZWxmLnNlbmRfaGVhZGVyKCJDb250ZW50LVR5cGUiLCAiYXBwbGljYXRpb24vanNvbjsg
Y2hhcnNldD11dGYtOCIpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiQ2FjaGUtQ29udHJvbCIs
ICJuby1zdG9yZSIpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiWC1Gb3JnZUNvcmUtVmVyc2lv
biIsIFZFUlNJT04pCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiQ29udGVudC1MZW5ndGgiLCBz
dHIobGVuKGJvZHkpKSkKICAgICAgICBmb3Iga2V5LCB2YWwgaW4gKGhlYWRlcnMgb3Ige30pLml0
ZW1zKCk6CiAgICAgICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoa2V5LCB2YWwpCiAgICAgICAgc2Vs
Zi5lbmRfaGVhZGVycygpCiAgICAgICAgc2VsZi53ZmlsZS53cml0ZShib2R5KQoKICAgIGRlZiBo
dG1sX3Jlc3BvbnNlKHNlbGYsIHN0YXR1cywgaHRtbCwgaGVhZGVycz1Ob25lKToKICAgICAgICBi
b2R5ID0gaHRtbC5lbmNvZGUoInV0Zi04IikKICAgICAgICBzZWxmLnNlbmRfcmVzcG9uc2Uoc3Rh
dHVzKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkNvbnRlbnQtVHlwZSIsICJ0ZXh0L2h0bWw7
IGNoYXJzZXQ9dXRmLTgiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkNhY2hlLUNvbnRyb2wi
LCAibm8tc3RvcmUiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIlgtRm9yZ2VDb3JlLVZlcnNp
b24iLCBWRVJTSU9OKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkNvbnRlbnQtTGVuZ3RoIiwg
c3RyKGxlbihib2R5KSkpCiAgICAgICAgZm9yIGtleSwgdmFsIGluIChoZWFkZXJzIG9yIHt9KS5p
dGVtcygpOgogICAgICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKGtleSwgdmFsKQogICAgICAgIHNl
bGYuZW5kX2hlYWRlcnMoKQogICAgICAgIHNlbGYud2ZpbGUud3JpdGUoYm9keSkKCiAgICBkZWYg
cmVkaXJlY3Qoc2VsZiwgbG9jYXRpb24pOgogICAgICAgIHNlbGYuc2VuZF9yZXNwb25zZSgzMDIp
CiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiTG9jYXRpb24iLCBsb2NhdGlvbikKICAgICAgICBz
ZWxmLnNlbmRfaGVhZGVyKCJDYWNoZS1Db250cm9sIiwgIm5vLXN0b3JlIikKICAgICAgICBzZWxm
LmVuZF9oZWFkZXJzKCkKCiAgICBkZWYgc2V0X3Nlc3Npb25fY29va2llKHNlbGYsIHRva2VuKToK
ICAgICAgICByZXR1cm4gZiJ7U0VTU0lPTl9DT09LSUV9PXt0b2tlbn07IFBhdGg9LzsgSHR0cE9u
bHk7IFNhbWVTaXRlPUxheDsgTWF4LUFnZT17U0VTU0lPTl9UVEx9IgoKICAgIGRlZiBjbGVhcl9z
ZXNzaW9uX2Nvb2tpZShzZWxmKToKICAgICAgICByZXR1cm4gZiJ7U0VTU0lPTl9DT09LSUV9PTsg
UGF0aD0vOyBIdHRwT25seTsgU2FtZVNpdGU9TGF4OyBNYXgtQWdlPTAiCgogICAgZGVmIGRvX0dF
VChzZWxmKToKICAgICAgICBwYXJzZWQgPSB1cmxsaWIucGFyc2UudXJscGFyc2Uoc2VsZi5wYXRo
KQogICAgICAgIHBhdGggPSBwYXJzZWQucGF0aAogICAgICAgIHBhcmFtcyA9IHVybGxpYi5wYXJz
ZS5wYXJzZV9xcyhwYXJzZWQucXVlcnkpCgogICAgICAgIHRyeToKICAgICAgICAgICAgaWYgcGF0
aCA9PSAiL2hlYWx0aCI6CiAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCB7
Im9rIjogVHJ1ZSwgInZlcnNpb24iOiBWRVJTSU9OfSkKICAgICAgICAgICAgICAgIHJldHVybgog
ICAgICAgICAgICBpZiBwYXRoID09ICIvIjoKICAgICAgICAgICAgICAgIHNlbGYuaHRtbF9yZXNw
b25zZSgyMDAsIElOREVYX0ZJTEUucmVhZF90ZXh0KGVuY29kaW5nPSJ1dGYtOCIpKQogICAgICAg
ICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkvc2Vzc2lvbiI6CiAg
ICAgICAgICAgICAgICBhdXRoID0gcmVhZF9qc29uKEFVVEhfRklMRSwge30pCiAgICAgICAgICAg
ICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCB7CiAgICAgICAgICAgICAgICAgICAgInNldHVw
UmVxdWlyZWQiOiBub3QgYm9vbChhdXRoLmdldCgidXNlcm5hbWUiKSksCiAgICAgICAgICAgICAg
ICAgICAgImF1dGhlbnRpY2F0ZWQiOiBib29sKHNlbGYuY3VycmVudF91c2VyKCkpLAogICAgICAg
ICAgICAgICAgICAgICJ1c2VybmFtZSI6IHNlbGYuY3VycmVudF91c2VyKCkgb3IgIiIsCiAgICAg
ICAgICAgICAgICAgICAgInZlcnNpb24iOiBWRVJTSU9OLAogICAgICAgICAgICAgICAgfSkKICAg
ICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICBpZiBwYXRoID09ICIvYXBpL2dpdGh1Yi9z
dGF0dXMiOgogICAgICAgICAgICAgICAgaWYgbm90IHNlbGYucmVxdWlyZV91c2VyKCk6CiAgICAg
ICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBhcHAgPSBnaXRodWJfYXBwX2Nv
bmZpZygpCiAgICAgICAgICAgICAgICBhY2NvdW50ID0gZ2l0aHViX2FjY291bnQoKQogICAgICAg
ICAgICAgICAgY29ubmVjdGVkID0gYm9vbChhY2NvdW50LmdldCgibG9naW4iKSBhbmQgR0lUSFVC
X1RPS0VOX0ZJTEUuZXhpc3RzKCkpCiAgICAgICAgICAgICAgICBwZXJtaXNzaW9ucyA9IHt9CiAg
ICAgICAgICAgICAgICBpZiBjb25uZWN0ZWQ6CiAgICAgICAgICAgICAgICAgICAgdHJ5OgogICAg
ICAgICAgICAgICAgICAgICAgICBwZXJtaXNzaW9ucyA9IGdpdGh1Yl9pbnN0YWxsYXRpb25fcGVy
bWlzc2lvbnMoKQogICAgICAgICAgICAgICAgICAgIGV4Y2VwdCBSdW50aW1lRXJyb3I6CiAgICAg
ICAgICAgICAgICAgICAgICAgIHBlcm1pc3Npb25zID0ge30KICAgICAgICAgICAgICAgIHNlbGYu
anNvbl9yZXNwb25zZSgyMDAsIHsKICAgICAgICAgICAgICAgICAgICAicmVnaXN0ZXJlZCI6IGJv
b2woYXBwLmdldCgiY2xpZW50X2lkIikpLAogICAgICAgICAgICAgICAgICAgICJjb25uZWN0ZWQi
OiBjb25uZWN0ZWQsCiAgICAgICAgICAgICAgICAgICAgImFjY291bnQiOiB7CiAgICAgICAgICAg
ICAgICAgICAgICAgICJsb2dpbiI6IGFjY291bnQuZ2V0KCJsb2dpbiIsICIiKSwKICAgICAgICAg
ICAgICAgICAgICAgICAgImF2YXRhclVybCI6IGFjY291bnQuZ2V0KCJhdmF0YXJfdXJsIiwgIiIp
LAogICAgICAgICAgICAgICAgICAgICAgICAiaW5zdGFsbGF0aW9uSWQiOiBhY2NvdW50LmdldCgi
aW5zdGFsbGF0aW9uX2lkIiksCiAgICAgICAgICAgICAgICAgICAgfSBpZiBjb25uZWN0ZWQgZWxz
ZSBOb25lLAogICAgICAgICAgICAgICAgICAgICJhcHAiOiB7CiAgICAgICAgICAgICAgICAgICAg
ICAgICJzbHVnIjogYXBwLmdldCgic2x1ZyIsICIiKSwKICAgICAgICAgICAgICAgICAgICAgICAg
Imh0bWxVcmwiOiBhcHAuZ2V0KCJodG1sX3VybCIsICIiKSwKICAgICAgICAgICAgICAgICAgICB9
IGlmIGFwcCBlbHNlIE5vbmUsCiAgICAgICAgICAgICAgICAgICAgInBlcm1pc3Npb25zIjogcGVy
bWlzc2lvbnMsCiAgICAgICAgICAgICAgICAgICAgIndvcmtmbG93V3JpdGVSZWFkeSI6IHdvcmtm
bG93X3dyaXRlX3JlYWR5KHBlcm1pc3Npb25zKSBpZiBjb25uZWN0ZWQgZWxzZSBGYWxzZSwKICAg
ICAgICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgaWYgcGF0
aCA9PSAiL2FwaS9naXRodWIvcmVwb3NpdG9yaWVzIjoKICAgICAgICAgICAgICAgIGlmIG5vdCBz
ZWxmLnJlcXVpcmVfdXNlcigpOgogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAg
ICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgeyJyZXBvc2l0b3JpZXMiOiBnaXRodWJfcmVw
b3NpdG9yaWVzKCl9KQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHBhdGgg
PT0gIi9hcGkvZ2l0aHViL3J1bm5lcnMiOgogICAgICAgICAgICAgICAgaWYgbm90IHNlbGYucmVx
dWlyZV91c2VyKCk6CiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBy
ZXBvc2l0b3J5ID0gc3RyKHBhcmFtcy5nZXQoInJlcG9zaXRvcnkiLCBbIiJdKVswXSkKICAgICAg
ICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIGdpdGh1Yl9ydW5uZXJzKHJlcG9zaXRv
cnkpKQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkv
Z2l0aHViL3dvcmtmbG93cyI6CiAgICAgICAgICAgICAgICBpZiBub3Qgc2VsZi5yZXF1aXJlX3Vz
ZXIoKToKICAgICAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgIHJlcG9zaXRv
cnkgPSBzdHIocGFyYW1zLmdldCgicmVwb3NpdG9yeSIsIFsiIl0pWzBdKS5zdHJpcCgpCiAgICAg
ICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCBnaXRodWJfd29ya2Zsb3dzKHJlcG9z
aXRvcnkpKQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9h
cGkvZ2l0aHViL3J1bm5lci1qb2IiOgogICAgICAgICAgICAgICAgcmVwb3NpdG9yeSA9IHN0cihw
YXJhbXMuZ2V0KCJyZXBvc2l0b3J5IiwgWyIiXSlbMF0pCiAgICAgICAgICAgICAgICBydW5uZXJf
aWQgPSBzdHIocGFyYW1zLmdldCgicnVubmVyX2lkIiwgWyIiXSlbMF0pCiAgICAgICAgICAgICAg
ICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCB7ImpvYiI6IGdpdGh1Yl9ydW5uZXJfam9iKHJlcG9z
aXRvcnksIHJ1bm5lcl9pZCl9KQogICAgICAgICAgICBpZiBwYXRoID09ICIvYXBpL3J1bm5lcnMi
OgogICAgICAgICAgICAgICAgaWYgbm90IHNlbGYucmVxdWlyZV91c2VyKCk6CiAgICAgICAgICAg
ICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBydW5uZXJzID0gbGlzdF9ydW5uZXJzKCkK
ICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIHsicnVubmVycyI6IHJ1bm5l
cnN9KQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHBhdGguc3RhcnRzd2l0
aCgiL2FwaS9ydW5uZXJzLyIpIGFuZCBwYXRoLmVuZHN3aXRoKCIvZGlhZ25vc3RpY3MiKToKICAg
ICAgICAgICAgICAgIGlmIG5vdCBzZWxmLnJlcXVpcmVfdXNlcigpOgogICAgICAgICAgICAgICAg
ICAgIHJldHVybgogICAgICAgICAgICAgICAgcnVubmVyX2lkID0gcGF0aFtsZW4oIi9hcGkvcnVu
bmVycy8iKTotbGVuKCIvZGlhZ25vc3RpY3MiKV0uc3RyaXAoIi8iKQogICAgICAgICAgICAgICAg
aWYgbm90IFNMVUdfUkUuZnVsbG1hdGNoKHJ1bm5lcl9pZCk6CiAgICAgICAgICAgICAgICAgICAg
c2VsZi5qc29uX3Jlc3BvbnNlKDQwMCwgeyJlcnJvciI6ICJJbnZhbGlkIFJ1bm5lciBpZCJ9KQog
ICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgcnVubmVyID0gbmV4dCgo
aXRlbSBmb3IgaXRlbSBpbiBsaXN0X3J1bm5lcnMoKSBpZiBpdGVtWyJpZCJdID09IHJ1bm5lcl9p
ZCksIE5vbmUpCiAgICAgICAgICAgICAgICBpZiBub3QgcnVubmVyOgogICAgICAgICAgICAgICAg
ICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQsIHsiZXJyb3IiOiAiUnVubmVyIG5vdCBmb3VuZCJ9
KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jl
c3BvbnNlKDIwMCwgewogICAgICAgICAgICAgICAgICAgICJydW5uZXIiOiBydW5uZXIsCiAgICAg
ICAgICAgICAgICAgICAgInJ1bm5lckxvZyI6IChMT0dfRElSIC8gZiJydW5uZXIte3J1bm5lcl9p
ZH0ubG9nIikucmVhZF90ZXh0KGVuY29kaW5nPSJ1dGYtOCIsIGVycm9ycz0icmVwbGFjZSIpWy0x
NjAwMDpdIGlmIChMT0dfRElSIC8gZiJydW5uZXIte3J1bm5lcl9pZH0ubG9nIikuZXhpc3RzKCkg
ZWxzZSAiIiwKICAgICAgICAgICAgICAgICAgICAicmVnaXN0cmF0aW9uTG9nIjogKExPR19ESVIg
LyBmInJ1bm5lci1yZWdpc3RyYXRpb24te3J1bm5lcl9pZH0ubG9nIikucmVhZF90ZXh0KGVuY29k
aW5nPSJ1dGYtOCIsIGVycm9ycz0icmVwbGFjZSIpWy0xNjAwMDpdIGlmIChMT0dfRElSIC8gZiJy
dW5uZXItcmVnaXN0cmF0aW9uLXtydW5uZXJfaWR9LmxvZyIpLmV4aXN0cygpIGVsc2UgIiIsCiAg
ICAgICAgICAgICAgICB9KQogICAgICAgICAgICAgICAgcmV0dXJuCgogICAgICAgICAgICBpZiBw
YXRoID09ICIvZ2l0aHViL21hbmlmZXN0L2NhbGxiYWNrIjoKICAgICAgICAgICAgICAgIHN0YXRl
ID0gc3RyKHBhcmFtcy5nZXQoInN0YXRlIiwgWyIiXSlbMF0pCiAgICAgICAgICAgICAgICBjb2Rl
ID0gc3RyKHBhcmFtcy5nZXQoImNvZGUiLCBbIiJdKVswXSkKICAgICAgICAgICAgICAgIHBlbmRp
bmcgPSByZWFkX2pzb24ocGVuZGluZ19wYXRoKHN0YXRlKSkKICAgICAgICAgICAgICAgIGlmIG5v
dCBzdGF0ZSBvciBub3QgY29kZSBvciBub3QgaXNpbnN0YW5jZShwZW5kaW5nLCBkaWN0KSBvciBw
ZW5kaW5nLmdldCgia2luZCIpICE9ICJtYW5pZmVzdCI6CiAgICAgICAgICAgICAgICAgICAgc2Vs
Zi5yZWRpcmVjdCgiLz9naXRodWJfZXJyb3I9bWFuaWZlc3QiKQogICAgICAgICAgICAgICAgICAg
IHJldHVybgogICAgICAgICAgICAgICAgaWYgaW50KHBlbmRpbmcuZ2V0KCJleHBpcmVzIikgb3Ig
MCkgPCBub3dfZXBvY2goKToKICAgICAgICAgICAgICAgICAgICBwZW5kaW5nX3BhdGgoc3RhdGUp
LnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAgICAgICAgICAgICAgc2VsZi5yZWRpcmVj
dCgiLz9naXRodWJfZXJyb3I9ZXhwaXJlZCIpCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCgog
ICAgICAgICAgICAgICAgY3JlYXRlZCA9IGdpdGh1Yl9qc29uKCJQT1NUIiwgZiJ7R0lUSFVCX0FQ
SX0vYXBwLW1hbmlmZXN0cy97dXJsbGliLnBhcnNlLnF1b3RlKGNvZGUpfS9jb252ZXJzaW9ucyIs
IHt9KQogICAgICAgICAgICAgICAgY29uZmlnID0gewogICAgICAgICAgICAgICAgICAgICJhcHBf
aWQiOiBjcmVhdGVkLmdldCgiaWQiKSwKICAgICAgICAgICAgICAgICAgICAiY2xpZW50X2lkIjog
Y3JlYXRlZC5nZXQoImNsaWVudF9pZCIpLAogICAgICAgICAgICAgICAgICAgICJjbGllbnRfc2Vj
cmV0IjogY3JlYXRlZC5nZXQoImNsaWVudF9zZWNyZXQiKSwKICAgICAgICAgICAgICAgICAgICAi
c2x1ZyI6IGNyZWF0ZWQuZ2V0KCJzbHVnIiksCiAgICAgICAgICAgICAgICAgICAgImh0bWxfdXJs
IjogY3JlYXRlZC5nZXQoImh0bWxfdXJsIiksCiAgICAgICAgICAgICAgICAgICAgImNyZWF0ZWRf
YXQiOiB1dGNfbm93KCksCiAgICAgICAgICAgICAgICAgICAgIm9yaWdpbiI6IHBlbmRpbmcuZ2V0
KCJvcmlnaW4iKSwKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgICAgIGlmIG5vdCBjb25m
aWdbImFwcF9pZCJdIG9yIG5vdCBjb25maWdbImNsaWVudF9pZCJdIG9yIG5vdCBjb25maWdbImNs
aWVudF9zZWNyZXQiXSBvciBub3QgY29uZmlnWyJzbHVnIl06CiAgICAgICAgICAgICAgICAgICAg
cmFpc2UgUnVudGltZUVycm9yKCJHaXRIdWIgQXBwIHJlZ2lzdHJhdGlvbiBkaWQgbm90IHJldHVy
biB0aGUgcmVxdWlyZWQgY3JlZGVudGlhbHMuIikKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25f
cHJpdmF0ZShHSVRIVUJfQVBQX0ZJTEUsIGNvbmZpZykKICAgICAgICAgICAgICAgIHBlbmRpbmdf
cGF0aChzdGF0ZSkudW5saW5rKG1pc3Npbmdfb2s9VHJ1ZSkKICAgICAgICAgICAgICAgIHNlbGYu
cmVkaXJlY3QoImh0dHBzOi8vZ2l0aHViLmNvbS9hcHBzLyIgKyB1cmxsaWIucGFyc2UucXVvdGUo
c3RyKGNvbmZpZ1sic2x1ZyJdKSkgKyAiL2luc3RhbGxhdGlvbnMvbmV3IikKICAgICAgICAgICAg
ICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2dpdGh1Yi9pbnN0YWxsL2NhbGxi
YWNrIjoKICAgICAgICAgICAgICAgIGFwcCA9IGdpdGh1Yl9hcHBfY29uZmlnKCkKICAgICAgICAg
ICAgICAgIGluc3RhbGxhdGlvbl9pZCA9IHN0cihwYXJhbXMuZ2V0KCJpbnN0YWxsYXRpb25faWQi
LCBbIiJdKVswXSkKICAgICAgICAgICAgICAgIG9yaWdpbiA9IGNsZWFuX29yaWdpbihhcHAuZ2V0
KCJvcmlnaW4iKSkKICAgICAgICAgICAgICAgIGlmIG5vdCBhcHAuZ2V0KCJjbGllbnRfaWQiKSBv
ciBub3QgaW5zdGFsbGF0aW9uX2lkIG9yIG5vdCBvcmlnaW46CiAgICAgICAgICAgICAgICAgICAg
c2VsZi5yZWRpcmVjdCgiLz9naXRodWJfZXJyb3I9aW5zdGFsbCIpCiAgICAgICAgICAgICAgICAg
ICAgcmV0dXJuCiAgICAgICAgICAgICAgICBzdGF0ZSA9IHNlY3JldHMudG9rZW5fdXJsc2FmZSgy
NCkKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShwZW5kaW5nX3BhdGgoc3RhdGUp
LCB7CiAgICAgICAgICAgICAgICAgICAgImtpbmQiOiAib2F1dGgiLAogICAgICAgICAgICAgICAg
ICAgICJpbnN0YWxsYXRpb25faWQiOiBpbnN0YWxsYXRpb25faWQsCiAgICAgICAgICAgICAgICAg
ICAgIm9yaWdpbiI6IG9yaWdpbiwKICAgICAgICAgICAgICAgICAgICAiZXhwaXJlcyI6IG5vd19l
cG9jaCgpICsgMzYwMCwKICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICByZWRpcmVj
dF91cmkgPSBvcmlnaW4gKyAiL2dpdGh1Yi9vYXV0aC9jYWxsYmFjayIKICAgICAgICAgICAgICAg
IHF1ZXJ5ID0gdXJsbGliLnBhcnNlLnVybGVuY29kZSh7CiAgICAgICAgICAgICAgICAgICAgImNs
aWVudF9pZCI6IGFwcFsiY2xpZW50X2lkIl0sCiAgICAgICAgICAgICAgICAgICAgInJlZGlyZWN0
X3VyaSI6IHJlZGlyZWN0X3VyaSwKICAgICAgICAgICAgICAgICAgICAic3RhdGUiOiBzdGF0ZSwK
ICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICBzZWxmLnJlZGlyZWN0KCJodHRwczov
L2dpdGh1Yi5jb20vbG9naW4vb2F1dGgvYXV0aG9yaXplPyIgKyBxdWVyeSkKICAgICAgICAgICAg
ICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2dpdGh1Yi9vYXV0aC9jYWxsYmFj
ayI6CiAgICAgICAgICAgICAgICBhcHAgPSBnaXRodWJfYXBwX2NvbmZpZygpCiAgICAgICAgICAg
ICAgICBzdGF0ZSA9IHN0cihwYXJhbXMuZ2V0KCJzdGF0ZSIsIFsiIl0pWzBdKQogICAgICAgICAg
ICAgICAgY29kZSA9IHN0cihwYXJhbXMuZ2V0KCJjb2RlIiwgWyIiXSlbMF0pCiAgICAgICAgICAg
ICAgICBwZW5kaW5nID0gcmVhZF9qc29uKHBlbmRpbmdfcGF0aChzdGF0ZSkpCiAgICAgICAgICAg
ICAgICBpZiBub3QgaXNpbnN0YW5jZShwZW5kaW5nLCBkaWN0KSBvciBwZW5kaW5nLmdldCgia2lu
ZCIpICE9ICJvYXV0aCIgb3IgaW50KHBlbmRpbmcuZ2V0KCJleHBpcmVzIikgb3IgMCkgPCBub3df
ZXBvY2goKToKICAgICAgICAgICAgICAgICAgICBzZWxmLnJlZGlyZWN0KCIvP2dpdGh1Yl9lcnJv
cj1vYXV0aF9zdGF0ZSIpCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAg
ICBvcmlnaW4gPSBjbGVhbl9vcmlnaW4ocGVuZGluZy5nZXQoIm9yaWdpbiIpKQogICAgICAgICAg
ICAgICAgaWYgbm90IG9yaWdpbjoKICAgICAgICAgICAgICAgICAgICBzZWxmLnJlZGlyZWN0KCIv
P2dpdGh1Yl9lcnJvcj1vcmlnaW4iKQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAg
ICAgICAgICAgdG9rZW5fcGF5bG9hZCA9IGdpdGh1Yl9qc29uKCJQT1NUIiwgImh0dHBzOi8vZ2l0
aHViLmNvbS9sb2dpbi9vYXV0aC9hY2Nlc3NfdG9rZW4iLCB7CiAgICAgICAgICAgICAgICAgICAg
ImNsaWVudF9pZCI6IGFwcC5nZXQoImNsaWVudF9pZCIpLAogICAgICAgICAgICAgICAgICAgICJj
bGllbnRfc2VjcmV0IjogYXBwLmdldCgiY2xpZW50X3NlY3JldCIpLAogICAgICAgICAgICAgICAg
ICAgICJjb2RlIjogY29kZSwKICAgICAgICAgICAgICAgICAgICAicmVkaXJlY3RfdXJpIjogb3Jp
Z2luICsgIi9naXRodWIvb2F1dGgvY2FsbGJhY2siLAogICAgICAgICAgICAgICAgfSwgZm9ybT1U
cnVlKQogICAgICAgICAgICAgICAgcmVjb3JkID0gc2F2ZV9naXRodWJfdG9rZW4odG9rZW5fcGF5
bG9hZCkKICAgICAgICAgICAgICAgIHRva2VuID0gcmVjb3JkWyJhY2Nlc3NfdG9rZW4iXQogICAg
ICAgICAgICAgICAgdXNlciA9IGdpdGh1Yl9qc29uKCJHRVQiLCBmIntHSVRIVUJfQVBJfS91c2Vy
IiwgdG9rZW49dG9rZW4pCiAgICAgICAgICAgICAgICBleHBlY3RlZF9pbnN0YWxsYXRpb24gPSBp
bnQocGVuZGluZy5nZXQoImluc3RhbGxhdGlvbl9pZCIpIG9yIDApCiAgICAgICAgICAgICAgICBp
bnN0YWxsYXRpb25zID0gZ2l0aHViX2luc3RhbGxhdGlvbnModG9rZW4pCiAgICAgICAgICAgICAg
ICBpbnN0YWxsYXRpb24gPSBuZXh0KCgKICAgICAgICAgICAgICAgICAgICBpdGVtIGZvciBpdGVt
IGluIGluc3RhbGxhdGlvbnMKICAgICAgICAgICAgICAgICAgICBpZiBpbnQoaXRlbS5nZXQoImlk
Iikgb3IgMCkgPT0gZXhwZWN0ZWRfaW5zdGFsbGF0aW9uIGFuZCBpbnQoaXRlbS5nZXQoImFwcF9p
ZCIpIG9yIDApID09IGludChhcHAuZ2V0KCJhcHBfaWQiKSBvciAwKQogICAgICAgICAgICAgICAg
KSwgTm9uZSkKICAgICAgICAgICAgICAgIGlmIGluc3RhbGxhdGlvbiBpcyBOb25lOgogICAgICAg
ICAgICAgICAgICAgIHJhaXNlIFJ1bnRpbWVFcnJvcigiVGhlIEdpdEh1YiBBcHAgaW5zdGFsbGF0
aW9uIGNvdWxkIG5vdCBiZSB2ZXJpZmllZCBmb3IgdGhpcyBhY2NvdW50LiIpCiAgICAgICAgICAg
ICAgICB3cml0ZV9qc29uX3ByaXZhdGUoR0lUSFVCX0FDQ09VTlRfRklMRSwgewogICAgICAgICAg
ICAgICAgICAgICJsb2dpbiI6IHN0cih1c2VyLmdldCgibG9naW4iKSBvciAiIiksCiAgICAgICAg
ICAgICAgICAgICAgImF2YXRhcl91cmwiOiBzdHIodXNlci5nZXQoImF2YXRhcl91cmwiKSBvciAi
IiksCiAgICAgICAgICAgICAgICAgICAgInVzZXJfaWQiOiB1c2VyLmdldCgiaWQiKSwKICAgICAg
ICAgICAgICAgICAgICAiaW5zdGFsbGF0aW9uX2lkIjogaW5zdGFsbGF0aW9uLmdldCgiaWQiKSwK
ICAgICAgICAgICAgICAgICAgICAiaW5zdGFsbGF0aW9uX2FjY291bnQiOiAoaW5zdGFsbGF0aW9u
LmdldCgiYWNjb3VudCIpIG9yIHt9KS5nZXQoImxvZ2luIiksCiAgICAgICAgICAgICAgICAgICAg
ImNvbm5lY3RlZF9hdCI6IHV0Y19ub3coKSwKICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAg
ICAgICBwZW5kaW5nX3BhdGgoc3RhdGUpLnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAg
ICAgICAgICBzZWxmLnJlZGlyZWN0KCIvP2dpdGh1Yj1jb25uZWN0ZWQiKQogICAgICAgICAgICAg
ICAgcmV0dXJuCgogICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDA0LCB7ImVycm9yIjog
Ik5vdCBmb3VuZCJ9KQogICAgICAgIGV4Y2VwdCAoVmFsdWVFcnJvciwgUnVudGltZUVycm9yKSBh
cyBleGM6CiAgICAgICAgICAgIGlmIHBhdGguc3RhcnRzd2l0aCgiL2dpdGh1Yi8iKToKICAgICAg
ICAgICAgICAgIHNlbGYucmVkaXJlY3QoIi8/Z2l0aHViX2Vycm9yPSIgKyB1cmxsaWIucGFyc2Uu
cXVvdGUoc3RyKGV4YylbOjEyMF0pKQogICAgICAgICAgICBlbHNlOgogICAgICAgICAgICAgICAg
c2VsZi5qc29uX3Jlc3BvbnNlKDQwMCwgeyJlcnJvciI6IHN0cihleGMpfSkKICAgICAgICBleGNl
cHQgRXhjZXB0aW9uIGFzIGV4YzoKICAgICAgICAgICAgcHJpbnQoIkdFVCBlcnJvcjoiLCByZXBy
KGV4YyksIGZsdXNoPVRydWUpCiAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg1MDAsIHsi
ZXJyb3IiOiAiRm9yZ2VDb3JlIGVuY291bnRlcmVkIGFuIHVuZXhwZWN0ZWQgZXJyb3IuIn0pCgog
ICAgZGVmIGRvX1BPU1Qoc2VsZik6CiAgICAgICAgcGFyc2VkID0gdXJsbGliLnBhcnNlLnVybHBh
cnNlKHNlbGYucGF0aCkKICAgICAgICBwYXRoID0gcGFyc2VkLnBhdGgKICAgICAgICB0cnk6CiAg
ICAgICAgICAgIGRhdGEgPSBzZWxmLmpzb25fYm9keSgpCgogICAgICAgICAgICBpZiBwYXRoID09
ICIvYXBpL2FjY291bnQvc2V0dXAiOgogICAgICAgICAgICAgICAgZXhpc3RpbmcgPSByZWFkX2pz
b24oQVVUSF9GSUxFLCB7fSkKICAgICAgICAgICAgICAgIGlmIGV4aXN0aW5nLmdldCgidXNlcm5h
bWUiKToKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDA5LCB7ImVycm9y
IjogIkZvcmdlQ29yZSBhY2NvdW50IGFscmVhZHkgZXhpc3RzLiJ9KQogICAgICAgICAgICAgICAg
ICAgIHJldHVybgogICAgICAgICAgICAgICAgdXNlcm5hbWUgPSBzdHIoZGF0YS5nZXQoInVzZXJu
YW1lIikgb3IgIiIpLnN0cmlwKCkKICAgICAgICAgICAgICAgIHBhc3N3b3JkID0gc3RyKGRhdGEu
Z2V0KCJwYXNzd29yZCIpIG9yICIiKQogICAgICAgICAgICAgICAgaWYgbGVuKHVzZXJuYW1lKSA8
IDIgb3IgbGVuKHVzZXJuYW1lKSA+IDQwOgogICAgICAgICAgICAgICAgICAgIHJhaXNlIFZhbHVl
RXJyb3IoIkNob29zZSBhIHVzZXJuYW1lIGJldHdlZW4gMiBhbmQgNDAgY2hhcmFjdGVycy4iKQog
ICAgICAgICAgICAgICAgaWYgbGVuKHBhc3N3b3JkKSA8IDEwOgogICAgICAgICAgICAgICAgICAg
IHJhaXNlIFZhbHVlRXJyb3IoIkNob29zZSBhIHBhc3N3b3JkIHdpdGggYXQgbGVhc3QgMTAgY2hh
cmFjdGVycy4iKQogICAgICAgICAgICAgICAgc2FsdCwgZGlnZXN0ID0gcGFzc3dvcmRfaGFzaChw
YXNzd29yZCkKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShBVVRIX0ZJTEUsIHsi
dXNlcm5hbWUiOiB1c2VybmFtZSwgInNhbHQiOiBzYWx0LCAicGFzc3dvcmRIYXNoIjogZGlnZXN0
LCAiY3JlYXRlZEF0IjogdXRjX25vdygpfSkKICAgICAgICAgICAgICAgIHRva2VuID0gY3JlYXRl
X3Nlc3Npb24odXNlcm5hbWUpCiAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAx
LCB7Im9rIjogVHJ1ZSwgInVzZXJuYW1lIjogdXNlcm5hbWV9LCB7IlNldC1Db29raWUiOiBzZWxm
LnNldF9zZXNzaW9uX2Nvb2tpZSh0b2tlbil9KQogICAgICAgICAgICAgICAgcmV0dXJuCgogICAg
ICAgICAgICBpZiBwYXRoID09ICIvYXBpL2xvZ2luIjoKICAgICAgICAgICAgICAgIGF1dGggPSBy
ZWFkX2pzb24oQVVUSF9GSUxFLCB7fSkKICAgICAgICAgICAgICAgIHVzZXJuYW1lID0gc3RyKGRh
dGEuZ2V0KCJ1c2VybmFtZSIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgICAgICAgICBwYXNzd29y
ZCA9IHN0cihkYXRhLmdldCgicGFzc3dvcmQiKSBvciAiIikKICAgICAgICAgICAgICAgIGlmIG5v
dCBhdXRoLmdldCgidXNlcm5hbWUiKSBvciB1c2VybmFtZSAhPSBhdXRoLmdldCgidXNlcm5hbWUi
KSBvciBub3QgdmVyaWZ5X3Bhc3N3b3JkKHBhc3N3b3JkLCBhdXRoLmdldCgic2FsdCIsICIiKSwg
YXV0aC5nZXQoInBhc3N3b3JkSGFzaCIsICIiKSk6CiAgICAgICAgICAgICAgICAgICAgc2VsZi5q
c29uX3Jlc3BvbnNlKDQwMSwgeyJlcnJvciI6ICJJbmNvcnJlY3QgdXNlcm5hbWUgb3IgcGFzc3dv
cmQuIn0pCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICB0b2tlbiA9
IGNyZWF0ZV9zZXNzaW9uKHVzZXJuYW1lKQogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3Bv
bnNlKDIwMCwgeyJvayI6IFRydWUsICJ1c2VybmFtZSI6IHVzZXJuYW1lfSwgeyJTZXQtQ29va2ll
Ijogc2VsZi5zZXRfc2Vzc2lvbl9jb29raWUodG9rZW4pfSkKICAgICAgICAgICAgICAgIHJldHVy
bgoKICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2FwaS9sb2dvdXQiOgogICAgICAgICAgICAgICAg
Y29va2llID0gc2VsZi5wYXJzZV9jb29raWVzKCkKICAgICAgICAgICAgICAgIG1vcnNlbCA9IGNv
b2tpZS5nZXQoU0VTU0lPTl9DT09LSUUpCiAgICAgICAgICAgICAgICBpZiBtb3JzZWw6CiAgICAg
ICAgICAgICAgICAgICAgc2Vzc2lvbl9wYXRoKG1vcnNlbC52YWx1ZSkudW5saW5rKG1pc3Npbmdf
b2s9VHJ1ZSkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIHsib2siOiBU
cnVlfSwgeyJTZXQtQ29va2llIjogc2VsZi5jbGVhcl9zZXNzaW9uX2Nvb2tpZSgpfSkKICAgICAg
ICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYgbm90IHNlbGYucmVxdWlyZV91c2VyKCk6
CiAgICAgICAgICAgICAgICByZXR1cm4KCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0
aHViL21hbmlmZXN0L3N0YXJ0IjoKICAgICAgICAgICAgICAgIG9yaWdpbiA9IGNsZWFuX29yaWdp
bihkYXRhLmdldCgib3JpZ2luIikpCiAgICAgICAgICAgICAgICBpZiBub3Qgb3JpZ2luOgogICAg
ICAgICAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIkZvcmdlQ29yZSBjb3VsZCBub3QgZGV0
ZXJtaW5lIGl0cyBicm93c2VyIGFkZHJlc3MuIikKICAgICAgICAgICAgICAgIGV4aXN0aW5nX2Fw
cCA9IGdpdGh1Yl9hcHBfY29uZmlnKCkKICAgICAgICAgICAgICAgIGlmIGV4aXN0aW5nX2FwcC5n
ZXQoInNsdWciKSBhbmQgZXhpc3RpbmdfYXBwLmdldCgiY2xpZW50X2lkIik6CiAgICAgICAgICAg
ICAgICAgICAgZXhpc3RpbmdfYXBwWyJvcmlnaW4iXSA9IG9yaWdpbgogICAgICAgICAgICAgICAg
ICAgIHdyaXRlX2pzb25fcHJpdmF0ZShHSVRIVUJfQVBQX0ZJTEUsIGV4aXN0aW5nX2FwcCkKICAg
ICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCB7CiAgICAgICAgICAgICAg
ICAgICAgICAgICJtb2RlIjogInJlZGlyZWN0IiwKICAgICAgICAgICAgICAgICAgICAgICAgInVy
bCI6ICJodHRwczovL2dpdGh1Yi5jb20vYXBwcy8iICsgdXJsbGliLnBhcnNlLnF1b3RlKHN0cihl
eGlzdGluZ19hcHBbInNsdWciXSkpICsgIi9pbnN0YWxsYXRpb25zL25ldyIsCiAgICAgICAgICAg
ICAgICAgICAgfSkKICAgICAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgIHN0
YXRlID0gc2VjcmV0cy50b2tlbl91cmxzYWZlKDI0KQogICAgICAgICAgICAgICAgaW5zdGFuY2Vf
aWQgPSBJTlNUQU5DRV9GSUxFLnJlYWRfdGV4dChlbmNvZGluZz0idXRmLTgiKS5zdHJpcCgpCiAg
ICAgICAgICAgICAgICB3cml0ZV9qc29uX3ByaXZhdGUocGVuZGluZ19wYXRoKHN0YXRlKSwgewog
ICAgICAgICAgICAgICAgICAgICJraW5kIjogIm1hbmlmZXN0IiwKICAgICAgICAgICAgICAgICAg
ICAib3JpZ2luIjogb3JpZ2luLAogICAgICAgICAgICAgICAgICAgICJleHBpcmVzIjogbm93X2Vw
b2NoKCkgKyAzNjAwLAogICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgIG1hbmlmZXN0
ID0gewogICAgICAgICAgICAgICAgICAgICJuYW1lIjogIkZvcmdlQ29yZSAiICsgaW5zdGFuY2Vf
aWRbOjZdLnVwcGVyKCksCiAgICAgICAgICAgICAgICAgICAgInVybCI6IEdJVEhVQl9IT01FUEFH
RSwKICAgICAgICAgICAgICAgICAgICAiZGVzY3JpcHRpb24iOiAiUHJpdmF0ZSBHaXRIdWIgaW50
ZWdyYXRpb24gZm9yIG9uZSBGb3JnZUNvcmUgVW1icmVsIGluc3RhbGxhdGlvbi4iLAogICAgICAg
ICAgICAgICAgICAgICJob29rX2F0dHJpYnV0ZXMiOiB7InVybCI6IG9yaWdpbiArICIvYXBpL2dp
dGh1Yi93ZWJob29rIiwgImFjdGl2ZSI6IEZhbHNlfSwKICAgICAgICAgICAgICAgICAgICAicmVk
aXJlY3RfdXJsIjogb3JpZ2luICsgIi9naXRodWIvbWFuaWZlc3QvY2FsbGJhY2siLAogICAgICAg
ICAgICAgICAgICAgICJjYWxsYmFja191cmxzIjogW29yaWdpbiArICIvZ2l0aHViL29hdXRoL2Nh
bGxiYWNrIl0sCiAgICAgICAgICAgICAgICAgICAgInNldHVwX3VybCI6IG9yaWdpbiArICIvZ2l0
aHViL2luc3RhbGwvY2FsbGJhY2siLAogICAgICAgICAgICAgICAgICAgICJzZXR1cF9vbl91cGRh
dGUiOiBUcnVlLAogICAgICAgICAgICAgICAgICAgICJwdWJsaWMiOiBGYWxzZSwKICAgICAgICAg
ICAgICAgICAgICAiZGVmYXVsdF9wZXJtaXNzaW9ucyI6IHsKICAgICAgICAgICAgICAgICAgICAg
ICAgIm1ldGFkYXRhIjogInJlYWQiLAogICAgICAgICAgICAgICAgICAgICAgICAiY29udGVudHMi
OiAid3JpdGUiLAogICAgICAgICAgICAgICAgICAgICAgICAid29ya2Zsb3dzIjogIndyaXRlIiwK
ICAgICAgICAgICAgICAgICAgICAgICAgImFjdGlvbnMiOiAicmVhZCIsCiAgICAgICAgICAgICAg
ICAgICAgICAgICJhZG1pbmlzdHJhdGlvbiI6ICJ3cml0ZSIsCiAgICAgICAgICAgICAgICAgICAg
fSwKICAgICAgICAgICAgICAgICAgICAiZGVmYXVsdF9ldmVudHMiOiBbXSwKICAgICAgICAgICAg
ICAgIH0KICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIHsKICAgICAgICAg
ICAgICAgICAgICAiYWN0aW9uIjogImh0dHBzOi8vZ2l0aHViLmNvbS9zZXR0aW5ncy9hcHBzL25l
dz9zdGF0ZT0iICsgdXJsbGliLnBhcnNlLnF1b3RlKHN0YXRlKSwKICAgICAgICAgICAgICAgICAg
ICAibWFuaWZlc3QiOiBtYW5pZmVzdCwKICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAgICAg
ICByZXR1cm4KCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0aHViL2Rpc2Nvbm5lY3Qi
OgogICAgICAgICAgICAgICAgR0lUSFVCX0FDQ09VTlRfRklMRS51bmxpbmsobWlzc2luZ19vaz1U
cnVlKQogICAgICAgICAgICAgICAgR0lUSFVCX1RPS0VOX0ZJTEUudW5saW5rKG1pc3Npbmdfb2s9
VHJ1ZSkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIHsib2siOiBUcnVl
fSkKICAgICAgICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2FwaS9n
aXRodWIvd29ya2Zsb3dzL3JlbmFtZSI6CiAgICAgICAgICAgICAgICByZXBvc2l0b3J5ID0gc3Ry
KGRhdGEuZ2V0KCJyZXBvc2l0b3J5Iikgb3IgIiIpLnN0cmlwKCkKICAgICAgICAgICAgICAgIHdv
cmtmbG93X3BhdGggPSBzdHIoZGF0YS5nZXQoInBhdGgiKSBvciAiIikuc3RyaXAoKQogICAgICAg
ICAgICAgICAgYnJhbmNoID0gc3RyKGRhdGEuZ2V0KCJicmFuY2giKSBvciAiIikuc3RyaXAoKQog
ICAgICAgICAgICAgICAgd29ya2Zsb3dfbmFtZSA9IHN0cihkYXRhLmdldCgibmFtZSIpIG9yICIi
KS5zdHJpcCgpCiAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCBnaXRodWJf
cmVuYW1lX3dvcmtmbG93KHJlcG9zaXRvcnksIHdvcmtmbG93X3BhdGgsIGJyYW5jaCwgd29ya2Zs
b3dfbmFtZSkpCiAgICAgICAgICAgICAgICByZXR1cm4KCiAgICAgICAgICAgIGlmIHBhdGggPT0g
Ii9hcGkvZ2l0aHViL3dvcmtmbG93cy9yb3V0ZSI6CiAgICAgICAgICAgICAgICByZXBvc2l0b3J5
ID0gc3RyKGRhdGEuZ2V0KCJyZXBvc2l0b3J5Iikgb3IgIiIpLnN0cmlwKCkKICAgICAgICAgICAg
ICAgIHdvcmtmbG93X3BhdGggPSBzdHIoZGF0YS5nZXQoInBhdGgiKSBvciAiIikuc3RyaXAoKQog
ICAgICAgICAgICAgICAgYnJhbmNoID0gc3RyKGRhdGEuZ2V0KCJicmFuY2giKSBvciAiIikuc3Ry
aXAoKQogICAgICAgICAgICAgICAgcm91dGVzID0gZGF0YS5nZXQoInJvdXRlcyIpCiAgICAgICAg
ICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCBnaXRodWJfcm91dGVfd29ya2Zsb3cocmVw
b3NpdG9yeSwgd29ya2Zsb3dfcGF0aCwgYnJhbmNoLCByb3V0ZXMpKQogICAgICAgICAgICAgICAg
cmV0dXJuCgogICAgICAgICAgICBpZiBwYXRoID09ICIvYXBpL3J1bm5lcnMiOgogICAgICAgICAg
ICAgICAgcmVwb3NpdG9yeSA9IHN0cihkYXRhLmdldCgicmVwb3NpdG9yeSIpIG9yICIiKS5zdHJp
cCgpCiAgICAgICAgICAgICAgICByZXBsYWNlX2V4aXN0aW5nID0gZGF0YS5nZXQoInJlcGxhY2VF
eGlzdGluZyIpIGlzIFRydWUKICAgICAgICAgICAgICAgIGlmIG5vdCBSRVBPX1JFLmZ1bGxtYXRj
aChyZXBvc2l0b3J5KToKICAgICAgICAgICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJDaG9v
c2UgYSB2YWxpZCBHaXRIdWIgcmVwb3NpdG9yeS4iKQogICAgICAgICAgICAgICAgcnVubmVyX2lk
ID0gc2x1ZyhyZXBvc2l0b3J5KQogICAgICAgICAgICAgICAgZXhpc3RzID0gYW55KGl0ZW1bImlk
Il0gPT0gcnVubmVyX2lkIGZvciBpdGVtIGluIGxpc3RfcnVubmVycygpKQogICAgICAgICAgICAg
ICAgaWYgZXhpc3RzIGFuZCBub3QgcmVwbGFjZV9leGlzdGluZzoKICAgICAgICAgICAgICAgICAg
ICBzZWxmLmpzb25fcmVzcG9uc2UoNDA5LCB7ImVycm9yIjogIkEgbG9jYWwgRm9yZ2VDb3JlIFJ1
bm5lciBhbHJlYWR5IGV4aXN0cyBmb3IgdGhpcyByZXBvc2l0b3J5LiJ9KQogICAgICAgICAgICAg
ICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgcmVxdWVzdGVkX25hbWUgPSBzdHIoZGF0YS5n
ZXQoIm5hbWUiKSBvciAoIkZvcmdlQ29yZS0iICsgcnVubmVyX2lkKSkuc3RyaXAoKQogICAgICAg
ICAgICAgICAgcmVxdWVzdGVkX25hbWUgPSB2YWxpZGF0ZV9ydW5uZXJfbmFtZShyZXF1ZXN0ZWRf
bmFtZSkKICAgICAgICAgICAgICAgIHJlcXVlc3RlZF9sYWJlbHMgPSB2YWxpZGF0ZV9ydW5uZXJf
bGFiZWxzKGRhdGEuZ2V0KCJsYWJlbHMiKSkKICAgICAgICAgICAgICAgIHJlZyA9IGdpdGh1Yl9y
dW5uZXJfdG9rZW4ocmVwb3NpdG9yeSwgInJlZ2lzdGVyIikKICAgICAgICAgICAgICAgIHdyaXRl
X2pzb25fcHJpdmF0ZShSVU5ORVJfUkVRVUVTVF9ESVIgLyAocnVubmVyX2lkICsgIi5qc29uIiks
IHsKICAgICAgICAgICAgICAgICAgICAia2luZCI6ICJGb3JnZUNvcmVSdW5uZXJSZXF1ZXN0IiwK
ICAgICAgICAgICAgICAgICAgICAicmVwb3NpdG9yeSI6IHJlcG9zaXRvcnksCiAgICAgICAgICAg
ICAgICAgICAgInJlZ2lzdHJhdGlvblRva2VuIjogcmVnLmdldCgidG9rZW4iKSwKICAgICAgICAg
ICAgICAgICAgICAicnVubmVyTmFtZSI6IHJlcXVlc3RlZF9uYW1lLAogICAgICAgICAgICAgICAg
ICAgICJydW5uZXJMYWJlbHMiOiByZXF1ZXN0ZWRfbGFiZWxzLAogICAgICAgICAgICAgICAgICAg
ICJyZXBsYWNlRXhpc3RpbmciOiByZXBsYWNlX2V4aXN0aW5nLAogICAgICAgICAgICAgICAgICAg
ICJyZXF1ZXN0ZWRBdCI6IHV0Y19ub3coKSwKICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAg
ICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAyLCB7Im9rIjogVHJ1ZSwgImlkIjogcnVubmVyX2lk
LCAibmFtZSI6IHJlcXVlc3RlZF9uYW1lLCAibGFiZWxzIjogcmVxdWVzdGVkX2xhYmVsc30pCiAg
ICAgICAgICAgICAgICByZXR1cm4KCiAgICAgICAgICAgIGlmIHBhdGguc3RhcnRzd2l0aCgiL2Fw
aS9ydW5uZXJzLyIpIGFuZCBwYXRoLmVuZHN3aXRoKCIvcmVuYW1lIik6CiAgICAgICAgICAgICAg
ICBydW5uZXJfaWQgPSBwYXRoW2xlbigiL2FwaS9ydW5uZXJzLyIpOi1sZW4oIi9yZW5hbWUiKV0u
c3RyaXAoIi8iKQogICAgICAgICAgICAgICAgaWYgbm90IFNMVUdfUkUuZnVsbG1hdGNoKHJ1bm5l
cl9pZCk6CiAgICAgICAgICAgICAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiSW52YWxpZCBSdW5u
ZXIgaWQuIikKICAgICAgICAgICAgICAgIHJ1bm5lciA9IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4g
bGlzdF9ydW5uZXJzKCkgaWYgaXRlbVsiaWQiXSA9PSBydW5uZXJfaWQpLCBOb25lKQogICAgICAg
ICAgICAgICAgaWYgbm90IHJ1bm5lcjoKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVz
cG9uc2UoNDA0LCB7ImVycm9yIjogIlJ1bm5lciBub3QgZm91bmQifSkKICAgICAgICAgICAgICAg
ICAgICByZXR1cm4KICAgICAgICAgICAgICAgIHJlcXVlc3RlZF9uYW1lID0gdmFsaWRhdGVfcnVu
bmVyX25hbWUoZGF0YS5nZXQoIm5hbWUiKSkKICAgICAgICAgICAgICAgIHJlcXVlc3RlZF9sYWJl
bHMgPSB2YWxpZGF0ZV9ydW5uZXJfbGFiZWxzKHJ1bm5lci5nZXQoImxhYmVscyIpKQogICAgICAg
ICAgICAgICAgaWYgcmVxdWVzdGVkX25hbWUgPT0gcnVubmVyLmdldCgibmFtZSIpOgogICAgICAg
ICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIHsib2siOiBUcnVlLCAiaWQiOiBy
dW5uZXJfaWQsICJuYW1lIjogcmVxdWVzdGVkX25hbWV9KQogICAgICAgICAgICAgICAgICAgIHJl
dHVybgogICAgICAgICAgICAgICAgaW52ZW50b3J5ID0gZ2l0aHViX3J1bm5lcnMocnVubmVyWyJy
ZXBvc2l0b3J5Il0pCiAgICAgICAgICAgICAgICByZWdpc3RlcmVkID0gbmV4dCgoaXRlbSBmb3Ig
aXRlbSBpbiBpbnZlbnRvcnkuZ2V0KCJydW5uZXJzIiwgW10pIGlmIGl0ZW0uZ2V0KCJuYW1lIikg
PT0gcnVubmVyLmdldCgibmFtZSIpKSwgTm9uZSkKICAgICAgICAgICAgICAgIGlmIHJlZ2lzdGVy
ZWQgYW5kIHJlZ2lzdGVyZWQuZ2V0KCJidXN5Iik6CiAgICAgICAgICAgICAgICAgICAgc2VsZi5q
c29uX3Jlc3BvbnNlKDQwOSwgeyJlcnJvciI6ICJUaGlzIHJ1bm5lciBpcyBidXN5IHdpdGggYSBH
aXRIdWIgQWN0aW9ucyBqb2IuIFdhaXQgZm9yIHRoZSBqb2IgdG8gZmluaXNoIGJlZm9yZSByZW5h
bWluZyBpdC4ifSkKICAgICAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgIHJl
bW92ZSA9IGdpdGh1Yl9ydW5uZXJfdG9rZW4ocnVubmVyWyJyZXBvc2l0b3J5Il0sICJyZW1vdmUi
KQogICAgICAgICAgICAgICAgcmVnID0gZ2l0aHViX3J1bm5lcl90b2tlbihydW5uZXJbInJlcG9z
aXRvcnkiXSwgInJlZ2lzdGVyIikKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShS
VU5ORVJfUkVTRVRfRElSIC8gKHJ1bm5lcl9pZCArICIuanNvbiIpLCB7CiAgICAgICAgICAgICAg
ICAgICAgImtpbmQiOiAiRm9yZ2VDb3JlUnVubmVyUmVzZXQiLAogICAgICAgICAgICAgICAgICAg
ICJyZXBvc2l0b3J5IjogcnVubmVyWyJyZXBvc2l0b3J5Il0sCiAgICAgICAgICAgICAgICAgICAg
InJlbW92ZVRva2VuIjogcmVtb3ZlLmdldCgidG9rZW4iKSwKICAgICAgICAgICAgICAgICAgICAi
cmVxdWVzdGVkQXQiOiB1dGNfbm93KCksCiAgICAgICAgICAgICAgICAgICAgInJlYXNvbiI6ICJy
ZW5hbWUiLAogICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJp
dmF0ZShSVU5ORVJfUkVRVUVTVF9ESVIgLyAocnVubmVyX2lkICsgIi5qc29uIiksIHsKICAgICAg
ICAgICAgICAgICAgICAia2luZCI6ICJGb3JnZUNvcmVSdW5uZXJSZXF1ZXN0IiwKICAgICAgICAg
ICAgICAgICAgICAicmVwb3NpdG9yeSI6IHJ1bm5lclsicmVwb3NpdG9yeSJdLAogICAgICAgICAg
ICAgICAgICAgICJyZWdpc3RyYXRpb25Ub2tlbiI6IHJlZy5nZXQoInRva2VuIiksCiAgICAgICAg
ICAgICAgICAgICAgInJ1bm5lck5hbWUiOiByZXF1ZXN0ZWRfbmFtZSwKICAgICAgICAgICAgICAg
ICAgICAicnVubmVyTGFiZWxzIjogcmVxdWVzdGVkX2xhYmVscywKICAgICAgICAgICAgICAgICAg
ICAicmVwbGFjZUV4aXN0aW5nIjogVHJ1ZSwKICAgICAgICAgICAgICAgICAgICAicmVxdWVzdGVk
QXQiOiB1dGNfbm93KCksCiAgICAgICAgICAgICAgICB9KQogICAgICAgICAgICAgICAgc2VsZi5q
c29uX3Jlc3BvbnNlKDIwMiwgeyJvayI6IFRydWUsICJpZCI6IHJ1bm5lcl9pZCwgIm5hbWUiOiBy
ZXF1ZXN0ZWRfbmFtZX0pCiAgICAgICAgICAgICAgICByZXR1cm4KCiAgICAgICAgICAgIGlmIHBh
dGguc3RhcnRzd2l0aCgiL2FwaS9ydW5uZXJzLyIpIGFuZCBwYXRoLmVuZHN3aXRoKCgiL3N0YXJ0
IiwgIi9zdG9wIiwgIi9yZXN0YXJ0IikpOgogICAgICAgICAgICAgICAgaWYgcGF0aC5lbmRzd2l0
aCgiL3N0YXJ0Iik6CiAgICAgICAgICAgICAgICAgICAgYWN0aW9uID0gInN0YXJ0IgogICAgICAg
ICAgICAgICAgICAgIHN1ZmZpeCA9ICIvc3RhcnQiCiAgICAgICAgICAgICAgICAgICAgcmVxdWVz
dF9kaXIgPSBSVU5ORVJfU1RBUlRfRElSCiAgICAgICAgICAgICAgICBlbGlmIHBhdGguZW5kc3dp
dGgoIi9zdG9wIik6CiAgICAgICAgICAgICAgICAgICAgYWN0aW9uID0gInN0b3AiCiAgICAgICAg
ICAgICAgICAgICAgc3VmZml4ID0gIi9zdG9wIgogICAgICAgICAgICAgICAgICAgIHJlcXVlc3Rf
ZGlyID0gUlVOTkVSX1NUT1BfRElSCiAgICAgICAgICAgICAgICBlbHNlOgogICAgICAgICAgICAg
ICAgICAgIGFjdGlvbiA9ICJyZXN0YXJ0IgogICAgICAgICAgICAgICAgICAgIHN1ZmZpeCA9ICIv
cmVzdGFydCIKICAgICAgICAgICAgICAgICAgICByZXF1ZXN0X2RpciA9IFJVTk5FUl9SRVNUQVJU
X0RJUgogICAgICAgICAgICAgICAgcnVubmVyX2lkID0gcGF0aFtsZW4oIi9hcGkvcnVubmVycy8i
KTotbGVuKHN1ZmZpeCldLnN0cmlwKCIvIikKICAgICAgICAgICAgICAgIGlmIG5vdCBTTFVHX1JF
LmZ1bGxtYXRjaChydW5uZXJfaWQpOgogICAgICAgICAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJy
b3IoIkludmFsaWQgUnVubmVyIGlkLiIpCiAgICAgICAgICAgICAgICBydW5uZXIgPSBuZXh0KChp
dGVtIGZvciBpdGVtIGluIGxpc3RfcnVubmVycygpIGlmIGl0ZW1bImlkIl0gPT0gcnVubmVyX2lk
KSwgTm9uZSkKICAgICAgICAgICAgICAgIGlmIG5vdCBydW5uZXI6CiAgICAgICAgICAgICAgICAg
ICAgc2VsZi5qc29uX3Jlc3BvbnNlKDQwNCwgeyJlcnJvciI6ICJSdW5uZXIgbm90IGZvdW5kIn0p
CiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBpbnZlbnRvcnkgPSBn
aXRodWJfcnVubmVycyhydW5uZXJbInJlcG9zaXRvcnkiXSkKICAgICAgICAgICAgICAgIHJlZ2lz
dGVyZWQgPSBuZXh0KChpdGVtIGZvciBpdGVtIGluIGludmVudG9yeS5nZXQoInJ1bm5lcnMiLCBb
XSkgaWYgaXRlbS5nZXQoIm5hbWUiKSA9PSBydW5uZXIuZ2V0KCJuYW1lIikpLCBOb25lKQogICAg
ICAgICAgICAgICAgaWYgYWN0aW9uIGluIHsic3RvcCIsICJyZXN0YXJ0In0gYW5kIHJlZ2lzdGVy
ZWQgYW5kIHJlZ2lzdGVyZWQuZ2V0KCJidXN5Iik6CiAgICAgICAgICAgICAgICAgICAgc2VsZi5q
c29uX3Jlc3BvbnNlKDQwOSwgeyJlcnJvciI6ICJUaGlzIHJ1bm5lciBpcyBidXN5IHdpdGggYSBH
aXRIdWIgQWN0aW9ucyBqb2IuIFdhaXQgZm9yIHRoZSBqb2IgdG8gZmluaXNoIGJlZm9yZSBjaGFu
Z2luZyBpdHMgcHJvY2VzcyBzdGF0ZS4ifSkKICAgICAgICAgICAgICAgICAgICByZXR1cm4KICAg
ICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShyZXF1ZXN0X2RpciAvIChydW5uZXJfaWQg
KyAiLmpzb24iKSwgewogICAgICAgICAgICAgICAgICAgICJraW5kIjogIkZvcmdlQ29yZVJ1bm5l
ciIgKyBhY3Rpb24uY2FwaXRhbGl6ZSgpLAogICAgICAgICAgICAgICAgICAgICJyZXBvc2l0b3J5
IjogcnVubmVyWyJyZXBvc2l0b3J5Il0sCiAgICAgICAgICAgICAgICAgICAgInJlcXVlc3RlZEF0
IjogdXRjX25vdygpLAogICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgIHNlbGYuanNv
bl9yZXNwb25zZSgyMDIsIHsib2siOiBUcnVlLCAiaWQiOiBydW5uZXJfaWQsICJhY3Rpb24iOiBh
Y3Rpb259KQogICAgICAgICAgICAgICAgcmV0dXJuCgogICAgICAgICAgICBzZWxmLmpzb25fcmVz
cG9uc2UoNDA0LCB7ImVycm9yIjogIk5vdCBmb3VuZCJ9KQogICAgICAgIGV4Y2VwdCAoVmFsdWVF
cnJvciwgUnVudGltZUVycm9yKSBhcyBleGM6CiAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25z
ZSg0MDAsIHsiZXJyb3IiOiBzdHIoZXhjKX0pCiAgICAgICAgZXhjZXB0IEV4Y2VwdGlvbiBhcyBl
eGM6CiAgICAgICAgICAgIHByaW50KCJQT1NUIGVycm9yOiIsIHJlcHIoZXhjKSwgZmx1c2g9VHJ1
ZSkKICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDUwMCwgeyJlcnJvciI6ICJGb3JnZUNv
cmUgZW5jb3VudGVyZWQgYW4gdW5leHBlY3RlZCBlcnJvci4ifSkKCiAgICBkZWYgZG9fREVMRVRF
KHNlbGYpOgogICAgICAgIHBhcnNlZCA9IHVybGxpYi5wYXJzZS51cmxwYXJzZShzZWxmLnBhdGgp
CiAgICAgICAgcGF0aCA9IHBhcnNlZC5wYXRoCiAgICAgICAgdHJ5OgogICAgICAgICAgICBpZiBu
b3Qgc2VsZi5yZXF1aXJlX3VzZXIoKToKICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAg
ICBpZiBwYXRoID09ICIvYXBpL2dpdGh1Yi93b3JrZmxvd3MiOgogICAgICAgICAgICAgICAgcGFy
YW1zID0gdXJsbGliLnBhcnNlLnBhcnNlX3FzKHBhcnNlZC5xdWVyeSkKICAgICAgICAgICAgICAg
IHJlcG9zaXRvcnkgPSBzdHIocGFyYW1zLmdldCgicmVwb3NpdG9yeSIsIFsiIl0pWzBdKS5zdHJp
cCgpCiAgICAgICAgICAgICAgICB3b3JrZmxvd19wYXRoID0gc3RyKHBhcmFtcy5nZXQoInBhdGgi
LCBbIiJdKVswXSkuc3RyaXAoKQogICAgICAgICAgICAgICAgYnJhbmNoID0gc3RyKHBhcmFtcy5n
ZXQoImJyYW5jaCIsIFsiIl0pWzBdKS5zdHJpcCgpCiAgICAgICAgICAgICAgICBzZWxmLmpzb25f
cmVzcG9uc2UoMjAwLCBnaXRodWJfZGVsZXRlX3dvcmtmbG93KHJlcG9zaXRvcnksIHdvcmtmbG93
X3BhdGgsIGJyYW5jaCkpCiAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgaWYgcGF0
aC5zdGFydHN3aXRoKCIvYXBpL2dpdGh1Yi9ydW5uZXJzLyIpOgogICAgICAgICAgICAgICAgcnVu
bmVyX2lkID0gcGF0aFtsZW4oIi9hcGkvZ2l0aHViL3J1bm5lcnMvIik6XS5zdHJpcCgiLyIpCiAg
ICAgICAgICAgICAgICByZXBvc2l0b3J5ID0gc3RyKHVybGxpYi5wYXJzZS5wYXJzZV9xcyhwYXJz
ZWQucXVlcnkpLmdldCgicmVwb3NpdG9yeSIsIFsiIl0pWzBdKS5zdHJpcCgpCiAgICAgICAgICAg
ICAgICBpZiBub3QgcnVubmVyX2lkLmlzZGlnaXQoKSBvciBub3QgUkVQT19SRS5mdWxsbWF0Y2go
cmVwb3NpdG9yeSk6CiAgICAgICAgICAgICAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiSW52YWxp
ZCBHaXRIdWIgcnVubmVyIG9yIHJlcG9zaXRvcnkuIikKICAgICAgICAgICAgICAgIGludmVudG9y
eSA9IGdpdGh1Yl9ydW5uZXJzKHJlcG9zaXRvcnkpCiAgICAgICAgICAgICAgICByZW1vdGUgPSBu
ZXh0KChpdGVtIGZvciBpdGVtIGluIGludmVudG9yeS5nZXQoInJ1bm5lcnMiLCBbXSkgaWYgc3Ry
KGl0ZW0uZ2V0KCJpZCIpKSA9PSBydW5uZXJfaWQpLCBOb25lKQogICAgICAgICAgICAgICAgaWYg
bm90IHJlbW90ZToKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDA0LCB7
ImVycm9yIjogIkdpdEh1YiBydW5uZXIgbm90IGZvdW5kIn0pCiAgICAgICAgICAgICAgICAgICAg
cmV0dXJuCiAgICAgICAgICAgICAgICBpZiByZW1vdGUuZ2V0KCJtYW5hZ2VkQnlGb3JnZUNvcmUi
KToKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDA5LCB7ImVycm9yIjog
IlRoaXMgcnVubmVyIGlzIG1hbmFnZWQgYnkgRm9yZ2VDb3JlLiBVc2UgdGhlIG1hbmFnZWQgcnVu
bmVyIFJlbW92ZSBhY3Rpb24gaW5zdGVhZC4ifSkKICAgICAgICAgICAgICAgICAgICByZXR1cm4K
ICAgICAgICAgICAgICAgIGlmIHJlbW90ZS5nZXQoImJ1c3kiKToKICAgICAgICAgICAgICAgICAg
ICBzZWxmLmpzb25fcmVzcG9uc2UoNDA5LCB7ImVycm9yIjogIlRoaXMgcnVubmVyIGlzIGJ1c3kg
d2l0aCBhIEdpdEh1YiBBY3Rpb25zIGpvYi4gV2FpdCBmb3IgdGhlIGpvYiB0byBmaW5pc2ggYmVm
b3JlIHJlbW92aW5nIGl0LiJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAg
ICAgICAgZ2l0aHViX2pzb24oCiAgICAgICAgICAgICAgICAgICAgIkRFTEVURSIsCiAgICAgICAg
ICAgICAgICAgICAgZiJ7R0lUSFVCX0FQSX0vcmVwb3Mve3JlcG9zaXRvcnl9L2FjdGlvbnMvcnVu
bmVycy97cnVubmVyX2lkfSIsCiAgICAgICAgICAgICAgICAgICAgdG9rZW49Z2l0aHViX3VzZXJf
dG9rZW4oKSwKICAgICAgICAgICAgICAgICkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNw
b25zZSgyMDAsIHsib2siOiBUcnVlLCAicnVubmVySWQiOiBpbnQocnVubmVyX2lkKX0pCiAgICAg
ICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgaWYgcGF0aC5zdGFydHN3aXRoKCIvYXBpL3J1
bm5lcnMvIik6CiAgICAgICAgICAgICAgICBydW5uZXJfaWQgPSBwYXRoW2xlbigiL2FwaS9ydW5u
ZXJzLyIpOl0uc3RyaXAoIi8iKQogICAgICAgICAgICAgICAgaWYgbm90IFNMVUdfUkUuZnVsbG1h
dGNoKHJ1bm5lcl9pZCk6CiAgICAgICAgICAgICAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiSW52
YWxpZCBSdW5uZXIgaWQuIikKICAgICAgICAgICAgICAgIHJ1bm5lciA9IG5leHQoKGl0ZW0gZm9y
IGl0ZW0gaW4gbGlzdF9ydW5uZXJzKCkgaWYgaXRlbVsiaWQiXSA9PSBydW5uZXJfaWQpLCBOb25l
KQogICAgICAgICAgICAgICAgaWYgbm90IHJ1bm5lcjoKICAgICAgICAgICAgICAgICAgICBzZWxm
Lmpzb25fcmVzcG9uc2UoNDA0LCB7ImVycm9yIjogIlJ1bm5lciBub3QgZm91bmQifSkKICAgICAg
ICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgIGludmVudG9yeSA9IGdpdGh1Yl9y
dW5uZXJzKHJ1bm5lclsicmVwb3NpdG9yeSJdKQogICAgICAgICAgICAgICAgcmVnaXN0ZXJlZCA9
IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4gaW52ZW50b3J5LmdldCgicnVubmVycyIsIFtdKSBpZiBp
dGVtLmdldCgibmFtZSIpID09IHJ1bm5lci5nZXQoIm5hbWUiKSksIE5vbmUpCiAgICAgICAgICAg
ICAgICBpZiByZWdpc3RlcmVkIGFuZCByZWdpc3RlcmVkLmdldCgiYnVzeSIpOgogICAgICAgICAg
ICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDksIHsiZXJyb3IiOiAiVGhpcyBydW5uZXIg
aXMgYnVzeSB3aXRoIGEgR2l0SHViIEFjdGlvbnMgam9iLiBXYWl0IGZvciB0aGUgam9iIHRvIGZp
bmlzaCBiZWZvcmUgcmVtb3ZpbmcgaXQuIn0pCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAg
ICAgICAgICAgICAgICByZW1vdmUgPSBnaXRodWJfcnVubmVyX3Rva2VuKHJ1bm5lclsicmVwb3Np
dG9yeSJdLCAicmVtb3ZlIikKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShSVU5O
RVJfUkVTRVRfRElSIC8gKHJ1bm5lcl9pZCArICIuanNvbiIpLCB7CiAgICAgICAgICAgICAgICAg
ICAgImtpbmQiOiAiRm9yZ2VDb3JlUnVubmVyUmVzZXQiLAogICAgICAgICAgICAgICAgICAgICJy
ZXBvc2l0b3J5IjogcnVubmVyWyJyZXBvc2l0b3J5Il0sCiAgICAgICAgICAgICAgICAgICAgInJl
bW92ZVRva2VuIjogcmVtb3ZlLmdldCgidG9rZW4iKSwKICAgICAgICAgICAgICAgICAgICAicmVx
dWVzdGVkQXQiOiB1dGNfbm93KCksCiAgICAgICAgICAgICAgICAgICAgInJlYXNvbiI6ICJyZW1v
dmUiLAogICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25z
ZSgyMDIsIHsib2siOiBUcnVlfSkKICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICBz
ZWxmLmpzb25fcmVzcG9uc2UoNDA0LCB7ImVycm9yIjogIk5vdCBmb3VuZCJ9KQogICAgICAgIGV4
Y2VwdCAoVmFsdWVFcnJvciwgUnVudGltZUVycm9yKSBhcyBleGM6CiAgICAgICAgICAgIHNlbGYu
anNvbl9yZXNwb25zZSg0MDAsIHsiZXJyb3IiOiBzdHIoZXhjKX0pCiAgICAgICAgZXhjZXB0IEV4
Y2VwdGlvbiBhcyBleGM6CiAgICAgICAgICAgIHByaW50KCJERUxFVEUgZXJyb3I6IiwgcmVwcihl
eGMpLCBmbHVzaD1UcnVlKQogICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNTAwLCB7ImVy
cm9yIjogIkZvcmdlQ29yZSBlbmNvdW50ZXJlZCBhbiB1bmV4cGVjdGVkIGVycm9yLiJ9KQoKCmlm
IF9fbmFtZV9fID09ICJfX21haW5fXyI6CiAgICBlbnN1cmVfZGlycygpCiAgICBwb3J0ID0gaW50
KG9zLmVudmlyb24uZ2V0KCJQT1JUIiwgIjgwODAiKSkKICAgIHByaW50KGYiRm9yZ2VDb3JlIENs
ZWFuIEJldGEge1ZFUlNJT059IGxpc3RlbmluZyBvbiA6e3BvcnR9IiwgZmx1c2g9VHJ1ZSkKICAg
IFRocmVhZGluZ0hUVFBTZXJ2ZXIoKCIwLjAuMC4wIiwgcG9ydCksIEhhbmRsZXIpLnNlcnZlX2Zv
cmV2ZXIoKQo=
