IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwppbXBvcnQgYmFzZTY0CmltcG9ydCBoYXNobGliCmltcG9y
dCBobWFjCmltcG9ydCBodHRwLmNvb2tpZXMKaW1wb3J0IGpzb24KaW1wb3J0IG9zCmltcG9ydCBy
ZQppbXBvcnQgc2VjcmV0cwppbXBvcnQgdGhyZWFkaW5nCmltcG9ydCB0aW1lCmltcG9ydCB1cmxs
aWIuZXJyb3IKaW1wb3J0IHVybGxpYi5wYXJzZQppbXBvcnQgdXJsbGliLnJlcXVlc3QKZnJvbSBo
dHRwLnNlcnZlciBpbXBvcnQgQmFzZUhUVFBSZXF1ZXN0SGFuZGxlciwgVGhyZWFkaW5nSFRUUFNl
cnZlcgpmcm9tIHBhdGhsaWIgaW1wb3J0IFBhdGgKClZFUlNJT04gPSAiMC4xLjAtYmV0YS4xMSIK
QVBQX1JPT1QgPSBQYXRoKG9zLmVudmlyb24uZ2V0KCJGT1JHRUNPUkVfQVBQX1JPT1QiLCAiL2Rh
dGEiKSkKU1RPUkFHRV9ST09UID0gUGF0aChvcy5lbnZpcm9uLmdldCgiRk9SR0VDT1JFX1NUT1JB
R0VfUk9PVCIsICIvc3RvcmFnZSIpKQpJTkRFWF9GSUxFID0gUGF0aChvcy5lbnZpcm9uLmdldCgi
Rk9SR0VDT1JFX0lOREVYX0ZJTEUiLCAiL3RtcC9mb3JnZWNvcmUtaW5kZXguaHRtbCIpKQpDT05G
SUdfRElSID0gQVBQX1JPT1QgLyAiY29uZmlnIgpTVEFURV9ESVIgPSBBUFBfUk9PVCAvICJzdGF0
ZSIKU0VTU0lPTlNfRElSID0gU1RBVEVfRElSIC8gInNlc3Npb25zIgpQRU5ESU5HX0RJUiA9IFNU
QVRFX0RJUiAvICJnaXRodWItcGVuZGluZyIKUlVOTkVSX1JFUVVFU1RfRElSID0gU1RBVEVfRElS
IC8gInJ1bm5lci1yZXF1ZXN0cyIKUlVOTkVSX1JFU0VUX0RJUiA9IFNUQVRFX0RJUiAvICJydW5u
ZXItcmVzZXRzIgpSVU5ORVJfUkVTVEFSVF9ESVIgPSBTVEFURV9ESVIgLyAicnVubmVyLXJlc3Rh
cnRzIgpSVU5ORVJfU1RBUlRfRElSID0gU1RBVEVfRElSIC8gInJ1bm5lci1zdGFydHMiClJVTk5F
Ul9TVE9QX0RJUiA9IFNUQVRFX0RJUiAvICJydW5uZXItc3RvcHMiClJVTk5FUl9ST09UID0gU1RP
UkFHRV9ST09UIC8gInJ1bm5lcnMiCkxPR19ESVIgPSBTVE9SQUdFX1JPT1QgLyAibG9ncyIKCkFV
VEhfRklMRSA9IENPTkZJR19ESVIgLyAiYXV0aC5qc29uIgpBVVRIX1NFQ1JFVF9GSUxFID0gU1RB
VEVfRElSIC8gIi5hdXRoLXNlY3JldCIKR0lUSFVCX0FQUF9GSUxFID0gQ09ORklHX0RJUiAvICJn
aXRodWItYXBwLmpzb24iCkdJVEhVQl9BQ0NPVU5UX0ZJTEUgPSBDT05GSUdfRElSIC8gImdpdGh1
Yi1hY2NvdW50Lmpzb24iCkdJVEhVQl9UT0tFTl9GSUxFID0gU1RBVEVfRElSIC8gIi5naXRodWIt
dXNlci10b2tlbi5qc29uIgpJTlNUQU5DRV9GSUxFID0gU1RBVEVfRElSIC8gImluc3RhbmNlLWlk
IgpSVU5ORVJfT0JTRVJWQVRJT05TX0ZJTEUgPSBTVEFURV9ESVIgLyAicnVubmVyLW9ic2VydmF0
aW9ucy5qc29uIgpSVU5ORVJfT0JTRVJWQVRJT05TX0xPQ0sgPSB0aHJlYWRpbmcuTG9jaygpCgpT
RVNTSU9OX0NPT0tJRSA9ICJmb3JnZWNvcmVfc2Vzc2lvbiIKU0VTU0lPTl9UVEwgPSA3ICogMjQg
KiAzNjAwClJFUE9fUkUgPSByZS5jb21waWxlKHIiXltBLVphLXowLTlfLi1dKy9bQS1aYS16MC05
Xy4tXSskIikKU0xVR19SRSA9IHJlLmNvbXBpbGUociJeW2EtejAtOV0rKD86LVthLXowLTldKykq
JCIpClJVTk5FUl9OQU1FX1JFID0gcmUuY29tcGlsZShyIl5bQS1aYS16MC05XVtBLVphLXowLTku
XyAtXXswLDYzfSQiKQpSVU5ORVJfTEFCRUxfUkUgPSByZS5jb21waWxlKHIiXltBLVphLXowLTld
W0EtWmEtejAtOS5fLV17MCwzMX0kIikKV09SS0ZMT1dfTkFNRV9SRSA9IHJlLmNvbXBpbGUociJe
W15cclxuXXsxLDEwMH0kIikKCkdJVEhVQl9BUEkgPSAiaHR0cHM6Ly9hcGkuZ2l0aHViLmNvbSIK
R0lUSFVCX0FQSV9WRVJTSU9OID0gIjIwMjYtMDMtMTAiCkdJVEhVQl9IT01FUEFHRSA9ICJodHRw
czovL2dpdGh1Yi5jb20vSm9qamU4NC9Gb3JnZUNvcmUiCgoKZGVmIG5vd19lcG9jaCgpOgogICAg
cmV0dXJuIGludCh0aW1lLnRpbWUoKSkKCgpkZWYgdXRjX25vdygpOgogICAgcmV0dXJuIHRpbWUu
c3RyZnRpbWUoIiVZLSVtLSVkVCVIOiVNOiVTWiIsIHRpbWUuZ210aW1lKCkpCgoKZGVmIGVuc3Vy
ZV9kaXJzKCk6CiAgICBmb3IgcGF0aCBpbiAoQ09ORklHX0RJUiwgU1RBVEVfRElSLCBTRVNTSU9O
U19ESVIsIFBFTkRJTkdfRElSLCBSVU5ORVJfUkVRVUVTVF9ESVIsIFJVTk5FUl9SRVNFVF9ESVIs
IFJVTk5FUl9SRVNUQVJUX0RJUiwgUlVOTkVSX1NUQVJUX0RJUiwgUlVOTkVSX1NUT1BfRElSLCBS
VU5ORVJfUk9PVCwgTE9HX0RJUik6CiAgICAgICAgcGF0aC5ta2RpcihwYXJlbnRzPVRydWUsIGV4
aXN0X29rPVRydWUpCiAgICBpZiBub3QgSU5TVEFOQ0VfRklMRS5leGlzdHMoKToKICAgICAgICB3
cml0ZV90ZXh0X3ByaXZhdGUoSU5TVEFOQ0VfRklMRSwgc2VjcmV0cy50b2tlbl9oZXgoNCkgKyAi
XG4iKQoKCmRlZiB3cml0ZV90ZXh0X3ByaXZhdGUocGF0aCwgdGV4dCk6CiAgICBwYXRoLnBhcmVu
dC5ta2RpcihwYXJlbnRzPVRydWUsIGV4aXN0X29rPVRydWUpCiAgICB0bXAgPSBwYXRoLndpdGhf
c3VmZml4KHBhdGguc3VmZml4ICsgIi50bXAiKQogICAgd2l0aCBvcGVuKHRtcCwgInciLCBlbmNv
ZGluZz0idXRmLTgiKSBhcyBmaDoKICAgICAgICBmaC53cml0ZSh0ZXh0KQogICAgICAgIGZoLmZs
dXNoKCkKICAgICAgICBvcy5mc3luYyhmaC5maWxlbm8oKSkKICAgIG9zLmNobW9kKHRtcCwgMG82
MDApCiAgICBvcy5yZXBsYWNlKHRtcCwgcGF0aCkKCgpkZWYgd3JpdGVfanNvbl9wcml2YXRlKHBh
dGgsIHZhbHVlKToKICAgIHdyaXRlX3RleHRfcHJpdmF0ZShwYXRoLCBqc29uLmR1bXBzKHZhbHVl
LCBlbnN1cmVfYXNjaWk9RmFsc2UsIGluZGVudD0yLCBzb3J0X2tleXM9VHJ1ZSkgKyAiXG4iKQoK
CmRlZiByZWFkX2pzb24ocGF0aCwgZGVmYXVsdD1Ob25lKToKICAgIHRyeToKICAgICAgICB3aXRo
IG9wZW4ocGF0aCwgInIiLCBlbmNvZGluZz0idXRmLTgiKSBhcyBmaDoKICAgICAgICAgICAgcmV0
dXJuIGpzb24ubG9hZChmaCkKICAgIGV4Y2VwdCAoT1NFcnJvciwgVmFsdWVFcnJvciwgVHlwZUVy
cm9yKToKICAgICAgICByZXR1cm4gZGVmYXVsdAoKCmRlZiBzbHVnKHZhbHVlKToKICAgIHJlc3Vs
dCA9IHJlLnN1YihyIlteYS16MC05XSsiLCAiLSIsIHN0cih2YWx1ZSkubG93ZXIoKSkuc3RyaXAo
Ii0iKQogICAgcmV0dXJuIHJlc3VsdCBvciAicnVubmVyIgoKCmRlZiBhdXRoX3NlY3JldCgpOgog
ICAgaWYgbm90IEFVVEhfU0VDUkVUX0ZJTEUuZXhpc3RzKCk6CiAgICAgICAgd3JpdGVfdGV4dF9w
cml2YXRlKEFVVEhfU0VDUkVUX0ZJTEUsIHNlY3JldHMudG9rZW5faGV4KDMyKSArICJcbiIpCiAg
ICByZXR1cm4gQVVUSF9TRUNSRVRfRklMRS5yZWFkX3RleHQoZW5jb2Rpbmc9InV0Zi04Iikuc3Ry
aXAoKS5lbmNvZGUoKQoKCmRlZiBwYXNzd29yZF9oYXNoKHBhc3N3b3JkLCBzYWx0PU5vbmUpOgog
ICAgc2FsdF9ieXRlcyA9IGJhc2U2NC51cmxzYWZlX2I2NGRlY29kZShzYWx0LmVuY29kZSgpKSBp
ZiBzYWx0IGVsc2Ugc2VjcmV0cy50b2tlbl9ieXRlcygxOCkKICAgIGRpZ2VzdCA9IGhhc2hsaWIu
cGJrZGYyX2htYWMoInNoYTI1NiIsIHBhc3N3b3JkLmVuY29kZSgpLCBzYWx0X2J5dGVzLCAyNjAw
MDApCiAgICByZXR1cm4gYmFzZTY0LnVybHNhZmVfYjY0ZW5jb2RlKHNhbHRfYnl0ZXMpLmRlY29k
ZSgpLCBiYXNlNjQudXJsc2FmZV9iNjRlbmNvZGUoZGlnZXN0KS5kZWNvZGUoKQoKCmRlZiB2ZXJp
ZnlfcGFzc3dvcmQocGFzc3dvcmQsIHNhbHQsIGV4cGVjdGVkKToKICAgIF8sIGFjdHVhbCA9IHBh
c3N3b3JkX2hhc2gocGFzc3dvcmQsIHNhbHQpCiAgICByZXR1cm4gaG1hYy5jb21wYXJlX2RpZ2Vz
dChhY3R1YWwsIGV4cGVjdGVkKQoKCmRlZiBzZXNzaW9uX3BhdGgodG9rZW4pOgogICAgdG9rZW5f
aGFzaCA9IGhhc2hsaWIuc2hhMjU2KHRva2VuLmVuY29kZSgpKS5oZXhkaWdlc3QoKQogICAgcmV0
dXJuIFNFU1NJT05TX0RJUiAvICh0b2tlbl9oYXNoICsgIi5qc29uIikKCgpkZWYgY3JlYXRlX3Nl
c3Npb24odXNlcm5hbWUpOgogICAgdG9rZW4gPSBzZWNyZXRzLnRva2VuX3VybHNhZmUoMzIpCiAg
ICB3cml0ZV9qc29uX3ByaXZhdGUoc2Vzc2lvbl9wYXRoKHRva2VuKSwgewogICAgICAgICJ1c2Vy
bmFtZSI6IHVzZXJuYW1lLAogICAgICAgICJjcmVhdGVkIjogbm93X2Vwb2NoKCksCiAgICAgICAg
ImV4cGlyZXMiOiBub3dfZXBvY2goKSArIFNFU1NJT05fVFRMLAogICAgfSkKICAgIHJldHVybiB0
b2tlbgoKCmRlZiBzZXNzaW9uX3VzZXIodG9rZW4pOgogICAgaWYgbm90IHRva2VuOgogICAgICAg
IHJldHVybiBOb25lCiAgICB2YWx1ZSA9IHJlYWRfanNvbihzZXNzaW9uX3BhdGgodG9rZW4pKQog
ICAgaWYgbm90IGlzaW5zdGFuY2UodmFsdWUsIGRpY3QpOgogICAgICAgIHJldHVybiBOb25lCiAg
ICBpZiBpbnQodmFsdWUuZ2V0KCJleHBpcmVzIikgb3IgMCkgPCBub3dfZXBvY2goKToKICAgICAg
ICBzZXNzaW9uX3BhdGgodG9rZW4pLnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAgcmV0
dXJuIE5vbmUKICAgIHJldHVybiBzdHIodmFsdWUuZ2V0KCJ1c2VybmFtZSIpIG9yICIiKSBvciBO
b25lCgoKZGVmIGdpdGh1Yl9oZWFkZXJzKHRva2VuPU5vbmUpOgogICAgaGVhZGVycyA9IHsKICAg
ICAgICAiQWNjZXB0IjogImFwcGxpY2F0aW9uL3ZuZC5naXRodWIranNvbiIsCiAgICAgICAgIlVz
ZXItQWdlbnQiOiAiRm9yZ2VDb3JlLUNsZWFuLUJldGEiLAogICAgICAgICJYLUdpdEh1Yi1BcGkt
VmVyc2lvbiI6IEdJVEhVQl9BUElfVkVSU0lPTiwKICAgIH0KICAgIGlmIHRva2VuOgogICAgICAg
IGhlYWRlcnNbIkF1dGhvcml6YXRpb24iXSA9ICJCZWFyZXIgIiArIHRva2VuCiAgICByZXR1cm4g
aGVhZGVycwoKCmRlZiBnaXRodWJfanNvbihtZXRob2QsIHVybCwgZGF0YT1Ob25lLCB0b2tlbj1O
b25lLCBmb3JtPUZhbHNlKToKICAgIGJvZHkgPSBOb25lCiAgICBoZWFkZXJzID0gZ2l0aHViX2hl
YWRlcnModG9rZW4pCiAgICBpZiBkYXRhIGlzIG5vdCBOb25lOgogICAgICAgIGlmIGZvcm06CiAg
ICAgICAgICAgIGJvZHkgPSB1cmxsaWIucGFyc2UudXJsZW5jb2RlKGRhdGEpLmVuY29kZSgpCiAg
ICAgICAgICAgIGhlYWRlcnNbIkNvbnRlbnQtVHlwZSJdID0gImFwcGxpY2F0aW9uL3gtd3d3LWZv
cm0tdXJsZW5jb2RlZCIKICAgICAgICAgICAgaGVhZGVyc1siQWNjZXB0Il0gPSAiYXBwbGljYXRp
b24vanNvbiIKICAgICAgICBlbHNlOgogICAgICAgICAgICBib2R5ID0ganNvbi5kdW1wcyhkYXRh
KS5lbmNvZGUoKQogICAgICAgICAgICBoZWFkZXJzWyJDb250ZW50LVR5cGUiXSA9ICJhcHBsaWNh
dGlvbi9qc29uIgogICAgcmVxdWVzdCA9IHVybGxpYi5yZXF1ZXN0LlJlcXVlc3QodXJsLCBkYXRh
PWJvZHksIG1ldGhvZD1tZXRob2QsIGhlYWRlcnM9aGVhZGVycykKICAgIHRyeToKICAgICAgICB3
aXRoIHVybGxpYi5yZXF1ZXN0LnVybG9wZW4ocmVxdWVzdCwgdGltZW91dD0yMCkgYXMgcmVzcG9u
c2U6CiAgICAgICAgICAgIHJhdyA9IHJlc3BvbnNlLnJlYWQoKS5kZWNvZGUoInV0Zi04IikKICAg
ICAgICAgICAgcmV0dXJuIGpzb24ubG9hZHMocmF3KSBpZiByYXcuc3RyaXAoKSBlbHNlIHt9CiAg
ICBleGNlcHQgdXJsbGliLmVycm9yLkhUVFBFcnJvciBhcyBleGM6CiAgICAgICAgcmF3ID0gZXhj
LnJlYWQoKS5kZWNvZGUoInV0Zi04IiwgZXJyb3JzPSJyZXBsYWNlIikKICAgICAgICB0cnk6CiAg
ICAgICAgICAgIHBheWxvYWQgPSBqc29uLmxvYWRzKHJhdykKICAgICAgICAgICAgbWVzc2FnZSA9
IHBheWxvYWQuZ2V0KCJtZXNzYWdlIikgb3IgcGF5bG9hZC5nZXQoImVycm9yX2Rlc2NyaXB0aW9u
Iikgb3IgcGF5bG9hZC5nZXQoImVycm9yIikKICAgICAgICBleGNlcHQgVmFsdWVFcnJvcjoKICAg
ICAgICAgICAgbWVzc2FnZSA9IHJhdy5zdHJpcCgpCiAgICAgICAgcmFpc2UgUnVudGltZUVycm9y
KG1lc3NhZ2Ugb3IgKCJHaXRIdWIgSFRUUCAiICsgc3RyKGV4Yy5jb2RlKSkpIGZyb20gZXhjCiAg
ICBleGNlcHQgdXJsbGliLmVycm9yLlVSTEVycm9yIGFzIGV4YzoKICAgICAgICByYWlzZSBSdW50
aW1lRXJyb3IoIkNvdWxkIG5vdCByZWFjaCBHaXRIdWI6ICIgKyBzdHIoZXhjLnJlYXNvbikpIGZy
b20gZXhjCgoKZGVmIGNsZWFuX29yaWdpbih2YWx1ZSk6CiAgICB0cnk6CiAgICAgICAgcGFyc2Vk
ID0gdXJsbGliLnBhcnNlLnVybHBhcnNlKHN0cih2YWx1ZSkpCiAgICBleGNlcHQgVmFsdWVFcnJv
cjoKICAgICAgICByZXR1cm4gTm9uZQogICAgaWYgcGFyc2VkLnNjaGVtZSBub3QgaW4gKCJodHRw
IiwgImh0dHBzIikgb3Igbm90IHBhcnNlZC5uZXRsb2M6CiAgICAgICAgcmV0dXJuIE5vbmUKICAg
IHJldHVybiBwYXJzZWQuc2NoZW1lICsgIjovLyIgKyBwYXJzZWQubmV0bG9jCgoKZGVmIHBlbmRp
bmdfcGF0aChzdGF0ZSk6CiAgICByZXR1cm4gUEVORElOR19ESVIgLyAoc3RhdGUgKyAiLmpzb24i
KQoKCmRlZiBnaXRodWJfYXBwX2NvbmZpZygpOgogICAgdmFsdWUgPSByZWFkX2pzb24oR0lUSFVC
X0FQUF9GSUxFKQogICAgcmV0dXJuIHZhbHVlIGlmIGlzaW5zdGFuY2UodmFsdWUsIGRpY3QpIGVs
c2Uge30KCgpkZWYgZ2l0aHViX2FjY291bnQoKToKICAgIHZhbHVlID0gcmVhZF9qc29uKEdJVEhV
Ql9BQ0NPVU5UX0ZJTEUpCiAgICByZXR1cm4gdmFsdWUgaWYgaXNpbnN0YW5jZSh2YWx1ZSwgZGlj
dCkgZWxzZSB7fQoKCmRlZiBnaXRodWJfdG9rZW5fcmVjb3JkKCk6CiAgICB2YWx1ZSA9IHJlYWRf
anNvbihHSVRIVUJfVE9LRU5fRklMRSkKICAgIHJldHVybiB2YWx1ZSBpZiBpc2luc3RhbmNlKHZh
bHVlLCBkaWN0KSBlbHNlIHt9CgoKZGVmIHNhdmVfZ2l0aHViX3Rva2VuKHBheWxvYWQpOgogICAg
Y3JlYXRlZCA9IG5vd19lcG9jaCgpCiAgICByZWNvcmQgPSB7CiAgICAgICAgImFjY2Vzc190b2tl
biI6IHN0cihwYXlsb2FkLmdldCgiYWNjZXNzX3Rva2VuIikgb3IgIiIpLAogICAgICAgICJyZWZy
ZXNoX3Rva2VuIjogc3RyKHBheWxvYWQuZ2V0KCJyZWZyZXNoX3Rva2VuIikgb3IgIiIpLAogICAg
ICAgICJ0b2tlbl90eXBlIjogc3RyKHBheWxvYWQuZ2V0KCJ0b2tlbl90eXBlIikgb3IgImJlYXJl
ciIpLAogICAgICAgICJzY29wZSI6IHN0cihwYXlsb2FkLmdldCgic2NvcGUiKSBvciAiIiksCiAg
ICAgICAgImNyZWF0ZWRfZXBvY2giOiBjcmVhdGVkLAogICAgICAgICJleHBpcmVzX2Vwb2NoIjog
Y3JlYXRlZCArIGludChwYXlsb2FkLmdldCgiZXhwaXJlc19pbiIpIG9yIDApIGlmIHBheWxvYWQu
Z2V0KCJleHBpcmVzX2luIikgZWxzZSAwLAogICAgICAgICJyZWZyZXNoX2V4cGlyZXNfZXBvY2gi
OiBjcmVhdGVkICsgaW50KHBheWxvYWQuZ2V0KCJyZWZyZXNoX3Rva2VuX2V4cGlyZXNfaW4iKSBv
ciAwKSBpZiBwYXlsb2FkLmdldCgicmVmcmVzaF90b2tlbl9leHBpcmVzX2luIikgZWxzZSAwLAog
ICAgfQogICAgaWYgbm90IHJlY29yZFsiYWNjZXNzX3Rva2VuIl06CiAgICAgICAgcmFpc2UgUnVu
dGltZUVycm9yKCJHaXRIdWIgZGlkIG5vdCByZXR1cm4gYSB1c2VyIGFjY2VzcyB0b2tlbi4iKQog
ICAgd3JpdGVfanNvbl9wcml2YXRlKEdJVEhVQl9UT0tFTl9GSUxFLCByZWNvcmQpCiAgICByZXR1
cm4gcmVjb3JkCgoKZGVmIGdpdGh1Yl91c2VyX3Rva2VuKCk6CiAgICByZWNvcmQgPSBnaXRodWJf
dG9rZW5fcmVjb3JkKCkKICAgIHRva2VuID0gc3RyKHJlY29yZC5nZXQoImFjY2Vzc190b2tlbiIp
IG9yICIiKQogICAgaWYgbm90IHRva2VuOgogICAgICAgIHJhaXNlIFJ1bnRpbWVFcnJvcigiR2l0
SHViIGlzIG5vdCBjb25uZWN0ZWQuIikKICAgIGV4cGlyZXMgPSBpbnQocmVjb3JkLmdldCgiZXhw
aXJlc19lcG9jaCIpIG9yIDApCiAgICBpZiBub3QgZXhwaXJlcyBvciBleHBpcmVzIC0gbm93X2Vw
b2NoKCkgPiAzMDA6CiAgICAgICAgcmV0dXJuIHRva2VuCgogICAgYXBwID0gZ2l0aHViX2FwcF9j
b25maWcoKQogICAgcmVmcmVzaCA9IHN0cihyZWNvcmQuZ2V0KCJyZWZyZXNoX3Rva2VuIikgb3Ig
IiIpCiAgICBpZiBub3QgcmVmcmVzaCBvciBub3QgYXBwLmdldCgiY2xpZW50X2lkIikgb3Igbm90
IGFwcC5nZXQoImNsaWVudF9zZWNyZXQiKToKICAgICAgICByYWlzZSBSdW50aW1lRXJyb3IoIkdp
dEh1YiBhdXRob3JpemF0aW9uIGV4cGlyZWQuIFJlY29ubmVjdCBHaXRIdWIuIikKCiAgICBwYXls
b2FkID0gZ2l0aHViX2pzb24oIlBPU1QiLCAiaHR0cHM6Ly9naXRodWIuY29tL2xvZ2luL29hdXRo
L2FjY2Vzc190b2tlbiIsIHsKICAgICAgICAiY2xpZW50X2lkIjogYXBwWyJjbGllbnRfaWQiXSwK
ICAgICAgICAiY2xpZW50X3NlY3JldCI6IGFwcFsiY2xpZW50X3NlY3JldCJdLAogICAgICAgICJn
cmFudF90eXBlIjogInJlZnJlc2hfdG9rZW4iLAogICAgICAgICJyZWZyZXNoX3Rva2VuIjogcmVm
cmVzaCwKICAgIH0sIGZvcm09VHJ1ZSkKICAgIHJldHVybiBzYXZlX2dpdGh1Yl90b2tlbihwYXls
b2FkKVsiYWNjZXNzX3Rva2VuIl0KCgpkZWYgZ2l0aHViX2luc3RhbGxhdGlvbnModG9rZW4pOgog
ICAgcmVzdWx0ID0gW10KICAgIHBhZ2UgPSAxCiAgICB3aGlsZSBwYWdlIDw9IDEwOgogICAgICAg
IHBheWxvYWQgPSBnaXRodWJfanNvbigiR0VUIiwgZiJ7R0lUSFVCX0FQSX0vdXNlci9pbnN0YWxs
YXRpb25zP3Blcl9wYWdlPTEwMCZwYWdlPXtwYWdlfSIsIHRva2VuPXRva2VuKQogICAgICAgIGl0
ZW1zID0gcGF5bG9hZC5nZXQoImluc3RhbGxhdGlvbnMiKSBpZiBpc2luc3RhbmNlKHBheWxvYWQs
IGRpY3QpIGVsc2UgTm9uZQogICAgICAgIGlmIG5vdCBpc2luc3RhbmNlKGl0ZW1zLCBsaXN0KToK
ICAgICAgICAgICAgYnJlYWsKICAgICAgICByZXN1bHQuZXh0ZW5kKGl0ZW1zKQogICAgICAgIGlm
IGxlbihpdGVtcykgPCAxMDA6CiAgICAgICAgICAgIGJyZWFrCiAgICAgICAgcGFnZSArPSAxCiAg
ICByZXR1cm4gcmVzdWx0CgoKZGVmIGdpdGh1Yl9yZXBvc2l0b3JpZXMoKToKICAgIHRva2VuID0g
Z2l0aHViX3VzZXJfdG9rZW4oKQogICAgYWNjb3VudCA9IGdpdGh1Yl9hY2NvdW50KCkKICAgIGlu
c3RhbGxhdGlvbl9pZCA9IGFjY291bnQuZ2V0KCJpbnN0YWxsYXRpb25faWQiKQogICAgaWYgbm90
IGluc3RhbGxhdGlvbl9pZDoKICAgICAgICByYWlzZSBSdW50aW1lRXJyb3IoIkdpdEh1YiBBcHAg
aW5zdGFsbGF0aW9uIGlzIG1pc3NpbmcuIikKICAgIHJlcG9zaXRvcmllcyA9IFtdCiAgICBwYWdl
ID0gMQogICAgd2hpbGUgcGFnZSA8PSAxMDoKICAgICAgICBwYXlsb2FkID0gZ2l0aHViX2pzb24o
IkdFVCIsIGYie0dJVEhVQl9BUEl9L3VzZXIvaW5zdGFsbGF0aW9ucy97aW5zdGFsbGF0aW9uX2lk
fS9yZXBvc2l0b3JpZXM/cGVyX3BhZ2U9MTAwJnBhZ2U9e3BhZ2V9IiwgdG9rZW49dG9rZW4pCiAg
ICAgICAgaXRlbXMgPSBwYXlsb2FkLmdldCgicmVwb3NpdG9yaWVzIikgaWYgaXNpbnN0YW5jZShw
YXlsb2FkLCBkaWN0KSBlbHNlIE5vbmUKICAgICAgICBpZiBub3QgaXNpbnN0YW5jZShpdGVtcywg
bGlzdCk6CiAgICAgICAgICAgIGJyZWFrCiAgICAgICAgZm9yIGl0ZW0gaW4gaXRlbXM6CiAgICAg
ICAgICAgIGZ1bGxfbmFtZSA9IHN0cihpdGVtLmdldCgiZnVsbF9uYW1lIikgb3IgIiIpCiAgICAg
ICAgICAgIGlmIG5vdCBSRVBPX1JFLmZ1bGxtYXRjaChmdWxsX25hbWUpOgogICAgICAgICAgICAg
ICAgY29udGludWUKICAgICAgICAgICAgcmVwb3NpdG9yaWVzLmFwcGVuZCh7CiAgICAgICAgICAg
ICAgICAiZnVsbE5hbWUiOiBmdWxsX25hbWUsCiAgICAgICAgICAgICAgICAibmFtZSI6IHN0cihp
dGVtLmdldCgibmFtZSIpIG9yIGZ1bGxfbmFtZS5yc3BsaXQoIi8iLCAxKVstMV0pLAogICAgICAg
ICAgICAgICAgIm93bmVyIjogc3RyKChpdGVtLmdldCgib3duZXIiKSBvciB7fSkuZ2V0KCJsb2dp
biIpIG9yIGZ1bGxfbmFtZS5zcGxpdCgiLyIsIDEpWzBdKSwKICAgICAgICAgICAgICAgICJwcml2
YXRlIjogYm9vbChpdGVtLmdldCgicHJpdmF0ZSIpKSwKICAgICAgICAgICAgICAgICJhcmNoaXZl
ZCI6IGJvb2woaXRlbS5nZXQoImFyY2hpdmVkIikpLAogICAgICAgICAgICAgICAgImRlZmF1bHRC
cmFuY2giOiBzdHIoaXRlbS5nZXQoImRlZmF1bHRfYnJhbmNoIikgb3IgIm1haW4iKSwKICAgICAg
ICAgICAgICAgICJodG1sVXJsIjogc3RyKGl0ZW0uZ2V0KCJodG1sX3VybCIpIG9yICgiaHR0cHM6
Ly9naXRodWIuY29tLyIgKyBmdWxsX25hbWUpKSwKICAgICAgICAgICAgICAgICJydW5uZXJTZXR0
aW5nc1VybCI6ICJodHRwczovL2dpdGh1Yi5jb20vIiArIGZ1bGxfbmFtZSArICIvc2V0dGluZ3Mv
YWN0aW9ucy9ydW5uZXJzIiwKICAgICAgICAgICAgfSkKICAgICAgICBpZiBsZW4oaXRlbXMpIDwg
MTAwOgogICAgICAgICAgICBicmVhawogICAgICAgIHBhZ2UgKz0gMQogICAgcmVwb3NpdG9yaWVz
LnNvcnQoa2V5PWxhbWJkYSBpdGVtOiBpdGVtWyJmdWxsTmFtZSJdLmxvd2VyKCkpCiAgICByZXR1
cm4gcmVwb3NpdG9yaWVzCgoKZGVmIHBhcnNlX3dvcmtmbG93X3J1bnNfb24oc291cmNlKToKICAg
IHZhbHVlcyA9IFtdCiAgICBmb3IgbWF0Y2ggaW4gcmUuZmluZGl0ZXIociIoP20pXlxzKnJ1bnMt
b25ccyo6XHMqKFteI1xyXG5dKykiLCBzb3VyY2UpOgogICAgICAgIHJhdyA9IG1hdGNoLmdyb3Vw
KDEpLnN0cmlwKCkKICAgICAgICBpZiByYXcuc3RhcnRzd2l0aCgiWyIpIGFuZCByYXcuZW5kc3dp
dGgoIl0iKToKICAgICAgICAgICAgcGFydHMgPSBbcGFydC5zdHJpcCgpLnN0cmlwKCInXCIiKSBm
b3IgcGFydCBpbiByYXdbMTotMV0uc3BsaXQoIiwiKV0KICAgICAgICBlbHNlOgogICAgICAgICAg
ICBwYXJ0cyA9IFtyYXcuc3RyaXAoIidcIiIpXQogICAgICAgIGZvciBwYXJ0IGluIHBhcnRzOgog
ICAgICAgICAgICBpZiBwYXJ0IGFuZCBwYXJ0IG5vdCBpbiB2YWx1ZXM6CiAgICAgICAgICAgICAg
ICB2YWx1ZXMuYXBwZW5kKHBhcnQpCiAgICByZXR1cm4gdmFsdWVzCgoKZGVmIHBhcnNlX3dvcmtm
bG93X25hbWUoc291cmNlLCBmYWxsYmFjayk6CiAgICBtYXRjaCA9IHJlLnNlYXJjaChyIig/bSle
bmFtZVxzKjpccyooLis/KVxzKiQiLCBzb3VyY2UpCiAgICBpZiBub3QgbWF0Y2g6CiAgICAgICAg
cmV0dXJuIGZhbGxiYWNrCiAgICB2YWx1ZSA9IG1hdGNoLmdyb3VwKDEpLnN0cmlwKCkKICAgIGlm
ICh2YWx1ZS5zdGFydHN3aXRoKCciJykgYW5kIHZhbHVlLmVuZHN3aXRoKCciJykpIG9yICh2YWx1
ZS5zdGFydHN3aXRoKCInIikgYW5kIHZhbHVlLmVuZHN3aXRoKCInIikpOgogICAgICAgIHZhbHVl
ID0gdmFsdWVbMTotMV0KICAgIHJldHVybiB2YWx1ZSBvciBmYWxsYmFjawoKCmRlZiBwYXJzZV9y
dW5zX29uX3ZhbHVlKHJhdyk6CiAgICB2YWx1ZSA9IHN0cihyYXcgb3IgIiIpLnN0cmlwKCkKICAg
IGlmIHZhbHVlLnN0YXJ0c3dpdGgoIlsiKSBhbmQgdmFsdWUuZW5kc3dpdGgoIl0iKToKICAgICAg
ICByZXR1cm4gW3BhcnQuc3RyaXAoKS5zdHJpcCgiJ1wiIikgZm9yIHBhcnQgaW4gdmFsdWVbMTot
MV0uc3BsaXQoIiwiKSBpZiBwYXJ0LnN0cmlwKCldCiAgICByZXR1cm4gW3ZhbHVlLnN0cmlwKCIn
XCIiKV0gaWYgdmFsdWUgZWxzZSBbXQoKCmRlZiB3b3JrZmxvd19qb2JfYmxvY2tzKHNvdXJjZSk6
CiAgICBsaW5lcyA9IHNvdXJjZS5zcGxpdGxpbmVzKCkKICAgIGpvYnNfaW5kZXggPSBOb25lCiAg
ICBqb2JzX2luZGVudCA9IDAKICAgIGZvciBpbmRleCwgbGluZSBpbiBlbnVtZXJhdGUobGluZXMp
OgogICAgICAgIG1hdGNoID0gcmUubWF0Y2gociJeKFxzKilqb2JzXHMqOlxzKig/OiMuKik/JCIs
IGxpbmUpCiAgICAgICAgaWYgbWF0Y2g6CiAgICAgICAgICAgIGpvYnNfaW5kZXggPSBpbmRleAog
ICAgICAgICAgICBqb2JzX2luZGVudCA9IGxlbihtYXRjaC5ncm91cCgxKS5leHBhbmR0YWJzKDIp
KQogICAgICAgICAgICBicmVhawogICAgaWYgam9ic19pbmRleCBpcyBOb25lOgogICAgICAgIHJl
dHVybiBsaW5lcywgW10KCiAgICBqb2JzID0gW10KICAgIGluZGV4ID0gam9ic19pbmRleCArIDEK
ICAgIHdoaWxlIGluZGV4IDwgbGVuKGxpbmVzKToKICAgICAgICBsaW5lID0gbGluZXNbaW5kZXhd
CiAgICAgICAgaWYgbm90IGxpbmUuc3RyaXAoKSBvciBsaW5lLmxzdHJpcCgpLnN0YXJ0c3dpdGgo
IiMiKToKICAgICAgICAgICAgaW5kZXggKz0gMQogICAgICAgICAgICBjb250aW51ZQogICAgICAg
IGluZGVudCA9IGxlbihsaW5lKSAtIGxlbihsaW5lLmxzdHJpcCgiICIpKQogICAgICAgIGlmIGlu
ZGVudCA8PSBqb2JzX2luZGVudDoKICAgICAgICAgICAgYnJlYWsKICAgICAgICBtYXRjaCA9IHJl
Lm1hdGNoKHIiXihccyopKFtBLVphLXowLTlfLi1dKylccyo6XHMqKD86Iy4qKT8kIiwgbGluZSkK
ICAgICAgICBpZiBub3QgbWF0Y2ggb3IgaW5kZW50IDw9IGpvYnNfaW5kZW50OgogICAgICAgICAg
ICBpbmRleCArPSAxCiAgICAgICAgICAgIGNvbnRpbnVlCiAgICAgICAgam9iX2luZGVudCA9IGlu
ZGVudAogICAgICAgIGpvYl9pZCA9IG1hdGNoLmdyb3VwKDIpCiAgICAgICAgZW5kID0gaW5kZXgg
KyAxCiAgICAgICAgd2hpbGUgZW5kIDwgbGVuKGxpbmVzKToKICAgICAgICAgICAgY2FuZGlkYXRl
ID0gbGluZXNbZW5kXQogICAgICAgICAgICBpZiBjYW5kaWRhdGUuc3RyaXAoKSBhbmQgbm90IGNh
bmRpZGF0ZS5sc3RyaXAoKS5zdGFydHN3aXRoKCIjIik6CiAgICAgICAgICAgICAgICBjYW5kaWRh
dGVfaW5kZW50ID0gbGVuKGNhbmRpZGF0ZSkgLSBsZW4oY2FuZGlkYXRlLmxzdHJpcCgiICIpKQog
ICAgICAgICAgICAgICAgaWYgY2FuZGlkYXRlX2luZGVudCA8PSBqb2JzX2luZGVudDoKICAgICAg
ICAgICAgICAgICAgICBicmVhawogICAgICAgICAgICAgICAgbmV4dF9qb2IgPSByZS5tYXRjaChy
Il4oXHMqKShbQS1aYS16MC05Xy4tXSspXHMqOlxzKig/OiMuKik/JCIsIGNhbmRpZGF0ZSkKICAg
ICAgICAgICAgICAgIGlmIG5leHRfam9iIGFuZCBjYW5kaWRhdGVfaW5kZW50ID09IGpvYl9pbmRl
bnQ6CiAgICAgICAgICAgICAgICAgICAgYnJlYWsKICAgICAgICAgICAgZW5kICs9IDEKCiAgICAg
ICAgcnVuc19vbl9pbmRleCA9IE5vbmUKICAgICAgICBydW5zX29uID0gW10KICAgICAgICBkaXNw
bGF5X25hbWUgPSBqb2JfaWQKICAgICAgICByZXVzYWJsZSA9IEZhbHNlCiAgICAgICAgZm9yIGlu
bmVyIGluIHJhbmdlKGluZGV4ICsgMSwgZW5kKToKICAgICAgICAgICAgY2FuZGlkYXRlID0gbGlu
ZXNbaW5uZXJdCiAgICAgICAgICAgIGNhbmRpZGF0ZV9pbmRlbnQgPSBsZW4oY2FuZGlkYXRlKSAt
IGxlbihjYW5kaWRhdGUubHN0cmlwKCIgIikpCiAgICAgICAgICAgIGlmIGNhbmRpZGF0ZV9pbmRl
bnQgPD0gam9iX2luZGVudDoKICAgICAgICAgICAgICAgIGNvbnRpbnVlCiAgICAgICAgICAgIG5h
bWVfbWF0Y2ggPSByZS5tYXRjaChyIl5ccypuYW1lXHMqOlxzKiguKz8pXHMqJCIsIGNhbmRpZGF0
ZSkKICAgICAgICAgICAgaWYgbmFtZV9tYXRjaCBhbmQgZGlzcGxheV9uYW1lID09IGpvYl9pZDoK
ICAgICAgICAgICAgICAgIHBhcnNlZF9uYW1lID0gbmFtZV9tYXRjaC5ncm91cCgxKS5zdHJpcCgp
LnN0cmlwKCInXCIiKQogICAgICAgICAgICAgICAgaWYgcGFyc2VkX25hbWU6CiAgICAgICAgICAg
ICAgICAgICAgZGlzcGxheV9uYW1lID0gcGFyc2VkX25hbWUKICAgICAgICAgICAgaWYgcmUubWF0
Y2gociJeXHMqdXNlc1xzKjoiLCBjYW5kaWRhdGUpOgogICAgICAgICAgICAgICAgcmV1c2FibGUg
PSBUcnVlCiAgICAgICAgICAgIHJ1bl9tYXRjaCA9IHJlLm1hdGNoKHIiXihccyopcnVucy1vblxz
KjpccyooW14jXHJcbl0rKSIsIGNhbmRpZGF0ZSkKICAgICAgICAgICAgaWYgcnVuX21hdGNoOgog
ICAgICAgICAgICAgICAgcnVuc19vbl9pbmRleCA9IGlubmVyCiAgICAgICAgICAgICAgICBydW5z
X29uID0gcGFyc2VfcnVuc19vbl92YWx1ZShydW5fbWF0Y2guZ3JvdXAoMikpCiAgICAgICAgICAg
ICAgICBicmVhawogICAgICAgIGpvYnMuYXBwZW5kKHsKICAgICAgICAgICAgImlkIjogam9iX2lk
LAogICAgICAgICAgICAibmFtZSI6IGRpc3BsYXlfbmFtZSwKICAgICAgICAgICAgInN0YXJ0Ijog
aW5kZXgsCiAgICAgICAgICAgICJlbmQiOiBlbmQsCiAgICAgICAgICAgICJydW5zT25JbmRleCI6
IHJ1bnNfb25faW5kZXgsCiAgICAgICAgICAgICJydW5zT24iOiBydW5zX29uLAogICAgICAgICAg
ICAiZWRpdGFibGUiOiBydW5zX29uX2luZGV4IGlzIG5vdCBOb25lIGFuZCBub3QgcmV1c2FibGUs
CiAgICAgICAgICAgICJyZXVzYWJsZSI6IHJldXNhYmxlLAogICAgICAgIH0pCiAgICAgICAgaW5k
ZXggPSBlbmQKICAgIHJldHVybiBsaW5lcywgam9icwoKCmRlZiBwYXJzZV93b3JrZmxvd19qb2Jz
KHNvdXJjZSk6CiAgICBfLCBqb2JzID0gd29ya2Zsb3dfam9iX2Jsb2Nrcyhzb3VyY2UpCiAgICBy
ZXR1cm4gW3sKICAgICAgICAiaWQiOiBpdGVtWyJpZCJdLAogICAgICAgICJuYW1lIjogaXRlbVsi
bmFtZSJdLAogICAgICAgICJydW5zT24iOiBpdGVtWyJydW5zT24iXSwKICAgICAgICAiZWRpdGFi
bGUiOiBib29sKGl0ZW1bImVkaXRhYmxlIl0pLAogICAgICAgICJyZXVzYWJsZSI6IGJvb2woaXRl
bVsicmV1c2FibGUiXSksCiAgICB9IGZvciBpdGVtIGluIGpvYnNdCgoKZGVmIHJ1bm5lcl9yb3V0
ZV9sYWJlbChydW5uZXIpOgogICAgcmVwb3NpdG9yeSA9IHN0cigocnVubmVyIG9yIHt9KS5nZXQo
InJlcG9zaXRvcnkiKSBvciAiIikKICAgIHJ1bm5lcl9pZCA9IHN0cigocnVubmVyIG9yIHt9KS5n
ZXQoImlkIikgb3IgIiIpCiAgICBkaWdlc3QgPSBoYXNobGliLnNoYTI1NigocmVwb3NpdG9yeSAr
ICI6IiArIHJ1bm5lcl9pZCkuZW5jb2RlKCJ1dGYtOCIpKS5oZXhkaWdlc3QoKVs6MTRdCiAgICBy
ZXR1cm4gImZjLXJvdXRlLSIgKyBkaWdlc3QKCgpkZWYgZ2l0aHViX3dvcmtmbG93X2ZpbGUocmVw
b3NpdG9yeSwgcGF0aCwgYnJhbmNoKToKICAgIGlmIG5vdCBSRVBPX1JFLmZ1bGxtYXRjaChyZXBv
c2l0b3J5KToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIHJlcG9zaXRvcnkuIikK
ICAgIHBhdGggPSBzdHIocGF0aCBvciAiIikuc3RyaXAoKQogICAgYnJhbmNoID0gc3RyKGJyYW5j
aCBvciAiIikuc3RyaXAoKQogICAgaWYgbm90IHBhdGguc3RhcnRzd2l0aCgiLmdpdGh1Yi93b3Jr
Zmxvd3MvIikgb3IgIi4uIiBpbiBwYXRoIG9yIG5vdCBwYXRoLmxvd2VyKCkuZW5kc3dpdGgoKCIu
eW1sIiwgIi55YW1sIikpOgogICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIkludmFsaWQgd29ya2Zs
b3cgcGF0aC4iKQogICAgaWYgbm90IGJyYW5jaCBvciBsZW4oYnJhbmNoKSA+IDIwMCBvciAiXG4i
IGluIGJyYW5jaCBvciAiXHIiIGluIGJyYW5jaDoKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJ
bnZhbGlkIGJyYW5jaC4iKQogICAgdG9rZW4gPSBnaXRodWJfdXNlcl90b2tlbigpCiAgICB1cmwg
PSBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vY29udGVudHMve3VybGxpYi5wYXJz
ZS5xdW90ZShwYXRoLCBzYWZlPScvJyl9IgogICAgcGF5bG9hZCA9IGdpdGh1Yl9qc29uKCJHRVQi
LCB1cmwgKyAiP3JlZj0iICsgdXJsbGliLnBhcnNlLnF1b3RlKGJyYW5jaCksIHRva2VuPXRva2Vu
KQogICAgZW5jb2RlZCA9IHN0cihwYXlsb2FkLmdldCgiY29udGVudCIpIG9yICIiKS5yZXBsYWNl
KCJcbiIsICIiKQogICAgaWYgc3RyKHBheWxvYWQuZ2V0KCJlbmNvZGluZyIpIG9yICIiKSAhPSAi
YmFzZTY0IiBvciBub3QgZW5jb2RlZCBvciBub3QgcGF5bG9hZC5nZXQoInNoYSIpOgogICAgICAg
IHJhaXNlIFJ1bnRpbWVFcnJvcigiR2l0SHViIGRpZCBub3QgcmV0dXJuIHRoZSB3b3JrZmxvdyBm
aWxlIGNvbnRlbnRzLiIpCiAgICBzb3VyY2UgPSBiYXNlNjQuYjY0ZGVjb2RlKGVuY29kZWQpLmRl
Y29kZSgidXRmLTgiLCBlcnJvcnM9InN0cmljdCIpCiAgICByZXR1cm4gdG9rZW4sIHVybCwgcGF5
bG9hZCwgc291cmNlCgoKZGVmIGVuc3VyZV9zcGVjaWZpY19ydW5uZXJfbGFiZWwocmVwb3NpdG9y
eSwgcnVubmVyX2lkKToKICAgIHJ1bm5lciA9IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4gbGlzdF9y
dW5uZXJzKCkgaWYgaXRlbS5nZXQoImlkIikgPT0gcnVubmVyX2lkIGFuZCBpdGVtLmdldCgicmVw
b3NpdG9yeSIpID09IHJlcG9zaXRvcnkpLCBOb25lKQogICAgaWYgbm90IHJ1bm5lcjoKICAgICAg
ICByYWlzZSBWYWx1ZUVycm9yKCJDaG9vc2UgYSBGb3JnZUNvcmUtbWFuYWdlZCBydW5uZXIgZm9y
IHRoaXMgcmVwb3NpdG9yeS4iKQogICAgaW52ZW50b3J5ID0gZ2l0aHViX3J1bm5lcnMocmVwb3Np
dG9yeSkKICAgIHJlbW90ZSA9IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4gaW52ZW50b3J5LmdldCgi
cnVubmVycyIsIFtdKSBpZiBpdGVtLmdldCgibWFuYWdlZEJ5Rm9yZ2VDb3JlIikgYW5kIGl0ZW0u
Z2V0KCJuYW1lIikgPT0gcnVubmVyLmdldCgibmFtZSIpKSwgTm9uZSkKICAgIGlmIG5vdCByZW1v
dGUgb3IgcmVtb3RlLmdldCgiaWQiKSBpcyBOb25lOgogICAgICAgIHJhaXNlIFJ1bnRpbWVFcnJv
cigiVGhlIEZvcmdlQ29yZS1tYW5hZ2VkIHJ1bm5lciBpcyBub3QgcmVnaXN0ZXJlZCBpbiBHaXRI
dWIgeWV0LiIpCiAgICBsYWJlbCA9IHJ1bm5lcl9yb3V0ZV9sYWJlbChydW5uZXIpCiAgICBjdXJy
ZW50ID0gW3N0cihpdGVtKSBmb3IgaXRlbSBpbiAocmVtb3RlLmdldCgibGFiZWxzIikgb3IgW10p
XQogICAgaWYgbGFiZWwubG93ZXIoKSBub3QgaW4ge2l0ZW0ubG93ZXIoKSBmb3IgaXRlbSBpbiBj
dXJyZW50fToKICAgICAgICBnaXRodWJfanNvbigKICAgICAgICAgICAgIlBPU1QiLAogICAgICAg
ICAgICBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vYWN0aW9ucy9ydW5uZXJzL3ty
ZW1vdGVbJ2lkJ119L2xhYmVscyIsCiAgICAgICAgICAgIHsibGFiZWxzIjogW2xhYmVsXX0sCiAg
ICAgICAgICAgIHRva2VuPWdpdGh1Yl91c2VyX3Rva2VuKCksCiAgICAgICAgKQogICAgbWV0YV9w
YXRoID0gUlVOTkVSX1JPT1QgLyBydW5uZXJfaWQgLyAiLmZvcmdlY29yZS1ydW5uZXIuanNvbiIK
ICAgIG1ldGEgPSByZWFkX2pzb24obWV0YV9wYXRoLCB7fSkKICAgIGlmIGlzaW5zdGFuY2UobWV0
YSwgZGljdCk6CiAgICAgICAgbGFiZWxzID0gdmFsaWRhdGVfcnVubmVyX2xhYmVscyhtZXRhLmdl
dCgibGFiZWxzIikpCiAgICAgICAgaWYgbGFiZWwubG93ZXIoKSBub3QgaW4ge3N0cihpdGVtKS5s
b3dlcigpIGZvciBpdGVtIGluIGxhYmVsc306CiAgICAgICAgICAgIGxhYmVscy5hcHBlbmQobGFi
ZWwpCiAgICAgICAgbWV0YVsibGFiZWxzIl0gPSBsYWJlbHMKICAgICAgICB3cml0ZV9qc29uX3By
aXZhdGUobWV0YV9wYXRoLCBtZXRhKQogICAgcmV0dXJuIGxhYmVsCgoKZGVmIGdpdGh1Yl9yb3V0
ZV93b3JrZmxvdyhyZXBvc2l0b3J5LCBwYXRoLCBicmFuY2gsIHJvdXRlcyk6CiAgICBpZiBub3Qg
aXNpbnN0YW5jZShyb3V0ZXMsIGxpc3QpIG9yIG5vdCByb3V0ZXM6CiAgICAgICAgcmFpc2UgVmFs
dWVFcnJvcigiQ2hvb3NlIGF0IGxlYXN0IG9uZSBqb2Igcm91dGluZyBjaGFuZ2UuIikKICAgIHRv
a2VuLCB1cmwsIHBheWxvYWQsIHNvdXJjZSA9IGdpdGh1Yl93b3JrZmxvd19maWxlKHJlcG9zaXRv
cnksIHBhdGgsIGJyYW5jaCkKICAgIGxpbmVzLCBqb2JzID0gd29ya2Zsb3dfam9iX2Jsb2Nrcyhz
b3VyY2UpCiAgICBieV9pZCA9IHtpdGVtWyJpZCJdOiBpdGVtIGZvciBpdGVtIGluIGpvYnN9CiAg
ICByZXBsYWNlbWVudHMgPSB7fQogICAgZm9yIHJvdXRlIGluIHJvdXRlczoKICAgICAgICBpZiBu
b3QgaXNpbnN0YW5jZShyb3V0ZSwgZGljdCk6CiAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3Io
IkludmFsaWQgam9iIHJvdXRpbmcgcmVxdWVzdC4iKQogICAgICAgIGpvYl9pZCA9IHN0cihyb3V0
ZS5nZXQoImpvYiIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgbW9kZSA9IHN0cihyb3V0ZS5nZXQo
Im1vZGUiKSBvciAiIikuc3RyaXAoKS5sb3dlcigpCiAgICAgICAgam9iID0gYnlfaWQuZ2V0KGpv
Yl9pZCkKICAgICAgICBpZiBub3Qgam9iOgogICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJX
b3JrZmxvdyBqb2Igbm90IGZvdW5kOiAiICsgam9iX2lkKQogICAgICAgIGlmIG5vdCBqb2IuZ2V0
KCJlZGl0YWJsZSIpIG9yIGpvYi5nZXQoInJ1bnNPbkluZGV4IikgaXMgTm9uZToKICAgICAgICAg
ICAgcmFpc2UgVmFsdWVFcnJvcigiUnVubmVyIHJvdXRpbmcgY2Fubm90IGJlIGVkaXRlZCBhdXRv
bWF0aWNhbGx5IGZvciBqb2I6ICIgKyBqb2JfaWQpCiAgICAgICAgaWYgbW9kZSA9PSAiZ2l0aHVi
IjoKICAgICAgICAgICAgdmFsdWUgPSAidWJ1bnR1LWxhdGVzdCIKICAgICAgICBlbGlmIG1vZGUg
PT0gImZvcmdlY29yZSI6CiAgICAgICAgICAgIHZhbHVlID0gIltzZWxmLWhvc3RlZCwgRm9yZ2VD
b3JlXSIKICAgICAgICBlbGlmIG1vZGUgPT0gInJ1bm5lciI6CiAgICAgICAgICAgIGxvY2FsX3J1
bm5lcl9pZCA9IHN0cihyb3V0ZS5nZXQoInJ1bm5lcklkIikgb3IgIiIpLnN0cmlwKCkKICAgICAg
ICAgICAgaWYgbm90IFNMVUdfUkUuZnVsbG1hdGNoKGxvY2FsX3J1bm5lcl9pZCk6CiAgICAgICAg
ICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJDaG9vc2UgYSB2YWxpZCBGb3JnZUNvcmUgcnVubmVy
LiIpCiAgICAgICAgICAgIHJvdXRlX2xhYmVsID0gZW5zdXJlX3NwZWNpZmljX3J1bm5lcl9sYWJl
bChyZXBvc2l0b3J5LCBsb2NhbF9ydW5uZXJfaWQpCiAgICAgICAgICAgIHZhbHVlID0gIltzZWxm
LWhvc3RlZCwgRm9yZ2VDb3JlLCAiICsgcm91dGVfbGFiZWwgKyAiXSIKICAgICAgICBlbHNlOgog
ICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJDaG9vc2UgR2l0SHViLWhvc3RlZCwgYW55IEZv
cmdlQ29yZSBydW5uZXIsIG9yIGEgc3BlY2lmaWMgRm9yZ2VDb3JlIHJ1bm5lci4iKQogICAgICAg
IGxpbmVfaW5kZXggPSBpbnQoam9iWyJydW5zT25JbmRleCJdKQogICAgICAgIGluZGVudCA9IHJl
Lm1hdGNoKHIiXihccyopIiwgbGluZXNbbGluZV9pbmRleF0pLmdyb3VwKDEpCiAgICAgICAgcmVw
bGFjZW1lbnRzW2xpbmVfaW5kZXhdID0gaW5kZW50ICsgInJ1bnMtb246ICIgKyB2YWx1ZQoKICAg
IGlmIG5vdCByZXBsYWNlbWVudHM6CiAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiTm8gd29ya2Zs
b3cgcm91dGVzIHdlcmUgY2hhbmdlZC4iKQogICAgdXBkYXRlZF9saW5lcyA9IFtyZXBsYWNlbWVu
dHMuZ2V0KGluZGV4LCBsaW5lKSBmb3IgaW5kZXgsIGxpbmUgaW4gZW51bWVyYXRlKGxpbmVzKV0K
ICAgIHVwZGF0ZWQgPSAiXG4iLmpvaW4odXBkYXRlZF9saW5lcykKICAgIGlmIHNvdXJjZS5lbmRz
d2l0aCgiXG4iKToKICAgICAgICB1cGRhdGVkICs9ICJcbiIKICAgIHJlc3VsdCA9IGdpdGh1Yl9q
c29uKCJQVVQiLCB1cmwsIHsKICAgICAgICAibWVzc2FnZSI6ICJVcGRhdGUgR2l0SHViIEFjdGlv
bnMgcnVubmVyIHJvdXRpbmciLAogICAgICAgICJjb250ZW50IjogYmFzZTY0LmI2NGVuY29kZSh1
cGRhdGVkLmVuY29kZSgidXRmLTgiKSkuZGVjb2RlKCJhc2NpaSIpLAogICAgICAgICJzaGEiOiBw
YXlsb2FkWyJzaGEiXSwKICAgICAgICAiYnJhbmNoIjogYnJhbmNoLAogICAgfSwgdG9rZW49dG9r
ZW4pCiAgICBjb21taXQgPSByZXN1bHQuZ2V0KCJjb21taXQiKSBpZiBpc2luc3RhbmNlKHJlc3Vs
dCwgZGljdCkgZWxzZSB7fQogICAgcmV0dXJuIHsib2siOiBUcnVlLCAicGF0aCI6IHBhdGgsICJj
b21taXRVcmwiOiBzdHIoKGNvbW1pdCBvciB7fSkuZ2V0KCJodG1sX3VybCIpIG9yICIiKX0KCgpk
ZWYgZ2l0aHViX2RlbGV0ZV93b3JrZmxvdyhyZXBvc2l0b3J5LCBwYXRoLCBicmFuY2gpOgogICAg
dG9rZW4sIHVybCwgcGF5bG9hZCwgXyA9IGdpdGh1Yl93b3JrZmxvd19maWxlKHJlcG9zaXRvcnks
IHBhdGgsIGJyYW5jaCkKICAgIHJlc3VsdCA9IGdpdGh1Yl9qc29uKCJERUxFVEUiLCB1cmwsIHsK
ICAgICAgICAibWVzc2FnZSI6ICJSZW1vdmUgR2l0SHViIEFjdGlvbnMgd29ya2Zsb3cgIiArIHBh
dGgucnNwbGl0KCIvIiwgMSlbLTFdLAogICAgICAgICJzaGEiOiBwYXlsb2FkWyJzaGEiXSwKICAg
ICAgICAiYnJhbmNoIjogYnJhbmNoLAogICAgfSwgdG9rZW49dG9rZW4pCiAgICBjb21taXQgPSBy
ZXN1bHQuZ2V0KCJjb21taXQiKSBpZiBpc2luc3RhbmNlKHJlc3VsdCwgZGljdCkgZWxzZSB7fQog
ICAgcmV0dXJuIHsib2siOiBUcnVlLCAicGF0aCI6IHBhdGgsICJjb21taXRVcmwiOiBzdHIoKGNv
bW1pdCBvciB7fSkuZ2V0KCJodG1sX3VybCIpIG9yICIiKX0KCgpkZWYgZ2l0aHViX3dvcmtmbG93
cyhyZXBvc2l0b3J5KToKICAgIGlmIG5vdCBSRVBPX1JFLmZ1bGxtYXRjaChyZXBvc2l0b3J5KToK
ICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIHJlcG9zaXRvcnkuIikKICAgIHRva2Vu
ID0gZ2l0aHViX3VzZXJfdG9rZW4oKQogICAgaXRlbXMgPSBbXQogICAgYWN0aW9uX2lkc19ieV9w
YXRoID0ge30KICAgIHRyeToKICAgICAgICBwYXlsb2FkID0gZ2l0aHViX2pzb24oIkdFVCIsIGYi
e0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9hY3Rpb25zL3dvcmtmbG93cz9wZXJfcGFn
ZT0xMDAiLCB0b2tlbj10b2tlbikKICAgICAgICBhY3Rpb25faXRlbXMgPSBwYXlsb2FkLmdldCgi
d29ya2Zsb3dzIikgaWYgaXNpbnN0YW5jZShwYXlsb2FkLCBkaWN0KSBlbHNlIE5vbmUKICAgICAg
ICBpZiBpc2luc3RhbmNlKGFjdGlvbl9pdGVtcywgbGlzdCk6CiAgICAgICAgICAgIGZvciBpdGVt
IGluIGFjdGlvbl9pdGVtczoKICAgICAgICAgICAgICAgIHBhdGggPSBzdHIoaXRlbS5nZXQoInBh
dGgiKSBvciAiIikKICAgICAgICAgICAgICAgIGlmIHBhdGg6CiAgICAgICAgICAgICAgICAgICAg
YWN0aW9uX2lkc19ieV9wYXRoW3BhdGhdID0gaXRlbS5nZXQoImlkIikKICAgICAgICAgICAgICAg
ICAgICBpdGVtcy5hcHBlbmQoewogICAgICAgICAgICAgICAgICAgICAgICAicGF0aCI6IHBhdGgs
CiAgICAgICAgICAgICAgICAgICAgICAgICJpZCI6IGl0ZW0uZ2V0KCJpZCIpLAogICAgICAgICAg
ICAgICAgICAgICAgICAibmFtZSI6IHN0cihpdGVtLmdldCgibmFtZSIpIG9yICIiKSwKICAgICAg
ICAgICAgICAgICAgICAgICAgInN0YXRlIjogc3RyKGl0ZW0uZ2V0KCJzdGF0ZSIpIG9yICIiKSwK
ICAgICAgICAgICAgICAgICAgICAgICAgImh0bWxfdXJsIjogc3RyKGl0ZW0uZ2V0KCJodG1sX3Vy
bCIpIG9yICIiKSwKICAgICAgICAgICAgICAgICAgICB9KQogICAgZXhjZXB0IFJ1bnRpbWVFcnJv
cjoKICAgICAgICBpdGVtcyA9IFtdCgogICAgaWYgbm90IGl0ZW1zOgogICAgICAgIHRyeToKICAg
ICAgICAgICAgbGlzdGluZyA9IGdpdGh1Yl9qc29uKCJHRVQiLCBmIntHSVRIVUJfQVBJfS9yZXBv
cy97cmVwb3NpdG9yeX0vY29udGVudHMvLmdpdGh1Yi93b3JrZmxvd3MiLCB0b2tlbj10b2tlbikK
ICAgICAgICBleGNlcHQgUnVudGltZUVycm9yIGFzIGV4YzoKICAgICAgICAgICAgaWYgIk5vdCBG
b3VuZCIgaW4gc3RyKGV4Yyk6CiAgICAgICAgICAgICAgICBsaXN0aW5nID0gW10KICAgICAgICAg
ICAgZWxzZToKICAgICAgICAgICAgICAgIHJhaXNlCiAgICAgICAgaWYgaXNpbnN0YW5jZShsaXN0
aW5nLCBsaXN0KToKICAgICAgICAgICAgZm9yIGl0ZW0gaW4gbGlzdGluZzoKICAgICAgICAgICAg
ICAgIHBhdGggPSBzdHIoaXRlbS5nZXQoInBhdGgiKSBvciAiIikKICAgICAgICAgICAgICAgIGlm
IHN0cihpdGVtLmdldCgidHlwZSIpIG9yICIiKSA9PSAiZmlsZSIgYW5kIHBhdGgubG93ZXIoKS5l
bmRzd2l0aCgoIi55bWwiLCAiLnlhbWwiKSk6CiAgICAgICAgICAgICAgICAgICAgaXRlbXMuYXBw
ZW5kKHsKICAgICAgICAgICAgICAgICAgICAgICAgInBhdGgiOiBwYXRoLAogICAgICAgICAgICAg
ICAgICAgICAgICAiaWQiOiBhY3Rpb25faWRzX2J5X3BhdGguZ2V0KHBhdGgpLAogICAgICAgICAg
ICAgICAgICAgICAgICAibmFtZSI6ICIiLAogICAgICAgICAgICAgICAgICAgICAgICAic3RhdGUi
OiAiIiwKICAgICAgICAgICAgICAgICAgICAgICAgImh0bWxfdXJsIjogc3RyKGl0ZW0uZ2V0KCJo
dG1sX3VybCIpIG9yICIiKSwKICAgICAgICAgICAgICAgICAgICB9KQoKICAgIGxhdGVzdF9ieV93
b3JrZmxvdyA9IHt9CiAgICB0cnk6CiAgICAgICAgcnVuc19wYXlsb2FkID0gZ2l0aHViX2pzb24o
IkdFVCIsIGYie0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9hY3Rpb25zL3J1bnM/cGVy
X3BhZ2U9MTAwIiwgdG9rZW49dG9rZW4pCiAgICAgICAgcnVucyA9IHJ1bnNfcGF5bG9hZC5nZXQo
IndvcmtmbG93X3J1bnMiKSBpZiBpc2luc3RhbmNlKHJ1bnNfcGF5bG9hZCwgZGljdCkgZWxzZSBO
b25lCiAgICAgICAgaWYgaXNpbnN0YW5jZShydW5zLCBsaXN0KToKICAgICAgICAgICAgZm9yIHJ1
biBpbiBydW5zOgogICAgICAgICAgICAgICAgd29ya2Zsb3dfaWQgPSBydW4uZ2V0KCJ3b3JrZmxv
d19pZCIpCiAgICAgICAgICAgICAgICBpZiB3b3JrZmxvd19pZCBpcyBub3QgTm9uZSBhbmQgd29y
a2Zsb3dfaWQgbm90IGluIGxhdGVzdF9ieV93b3JrZmxvdzoKICAgICAgICAgICAgICAgICAgICBs
YXRlc3RfYnlfd29ya2Zsb3dbd29ya2Zsb3dfaWRdID0gcnVuCiAgICBleGNlcHQgUnVudGltZUVy
cm9yOgogICAgICAgIHBhc3MKCiAgICByZXN1bHQgPSBbXQogICAgZm9yIGl0ZW0gaW4gaXRlbXM6
CiAgICAgICAgd29ya2Zsb3dfaWQgPSBpdGVtLmdldCgiaWQiKQogICAgICAgIHBhdGggPSBzdHIo
aXRlbS5nZXQoInBhdGgiKSBvciAiIikKICAgICAgICBzb3VyY2UgPSAiIgogICAgICAgIHNvdXJj
ZV9zaGEgPSAiIgogICAgICAgIGlmIHBhdGguc3RhcnRzd2l0aCgiLmdpdGh1Yi93b3JrZmxvd3Mv
IikgYW5kICIuLiIgbm90IGluIHBhdGg6CiAgICAgICAgICAgIHRyeToKICAgICAgICAgICAgICAg
IGNvbnRlbnRfcGF5bG9hZCA9IGdpdGh1Yl9qc29uKAogICAgICAgICAgICAgICAgICAgICJHRVQi
LAogICAgICAgICAgICAgICAgICAgIGYie0dJVEhVQl9BUEl9L3JlcG9zL3tyZXBvc2l0b3J5fS9j
b250ZW50cy97dXJsbGliLnBhcnNlLnF1b3RlKHBhdGgsIHNhZmU9Jy8nKX0iLAogICAgICAgICAg
ICAgICAgICAgIHRva2VuPXRva2VuLAogICAgICAgICAgICAgICAgKQogICAgICAgICAgICAgICAg
ZW5jb2RlZCA9IHN0cihjb250ZW50X3BheWxvYWQuZ2V0KCJjb250ZW50Iikgb3IgIiIpLnJlcGxh
Y2UoIlxuIiwgIiIpCiAgICAgICAgICAgICAgICBpZiBlbmNvZGVkIGFuZCBzdHIoY29udGVudF9w
YXlsb2FkLmdldCgiZW5jb2RpbmciKSBvciAiIikgPT0gImJhc2U2NCI6CiAgICAgICAgICAgICAg
ICAgICAgc291cmNlID0gYmFzZTY0LmI2NGRlY29kZShlbmNvZGVkKS5kZWNvZGUoInV0Zi04Iiwg
ZXJyb3JzPSJyZXBsYWNlIikKICAgICAgICAgICAgICAgICAgICBzb3VyY2Vfc2hhID0gc3RyKGNv
bnRlbnRfcGF5bG9hZC5nZXQoInNoYSIpIG9yICIiKQogICAgICAgICAgICBleGNlcHQgUnVudGlt
ZUVycm9yOgogICAgICAgICAgICAgICAgc291cmNlID0gIiIKICAgICAgICBmYWxsYmFja19uYW1l
ID0gc3RyKGl0ZW0uZ2V0KCJuYW1lIikgb3IgcGF0aC5yc3BsaXQoIi8iLCAxKVstMV0gb3IgIldv
cmtmbG93IikKICAgICAgICBsYXRlc3QgPSBsYXRlc3RfYnlfd29ya2Zsb3cuZ2V0KHdvcmtmbG93
X2lkKSBvciB7fQogICAgICAgIHJlc3VsdC5hcHBlbmQoewogICAgICAgICAgICAiaWQiOiB3b3Jr
Zmxvd19pZCwKICAgICAgICAgICAgIm5hbWUiOiBwYXJzZV93b3JrZmxvd19uYW1lKHNvdXJjZSwg
ZmFsbGJhY2tfbmFtZSksCiAgICAgICAgICAgICJwYXRoIjogcGF0aCwKICAgICAgICAgICAgInN0
YXRlIjogc3RyKGl0ZW0uZ2V0KCJzdGF0ZSIpIG9yICIiKSwKICAgICAgICAgICAgImh0bWxVcmwi
OiBzdHIoaXRlbS5nZXQoImh0bWxfdXJsIikgb3IgIiIpLAogICAgICAgICAgICAicnVuc09uIjog
cGFyc2Vfd29ya2Zsb3dfcnVuc19vbihzb3VyY2UpLAogICAgICAgICAgICAiam9icyI6IHBhcnNl
X3dvcmtmbG93X2pvYnMoc291cmNlKSwKICAgICAgICAgICAgInNvdXJjZVNoYSI6IHNvdXJjZV9z
aGEsCiAgICAgICAgICAgICJsYXRlc3RSdW4iOiB7CiAgICAgICAgICAgICAgICAiaWQiOiBsYXRl
c3QuZ2V0KCJpZCIpLAogICAgICAgICAgICAgICAgInN0YXR1cyI6IHN0cihsYXRlc3QuZ2V0KCJz
dGF0dXMiKSBvciAiIiksCiAgICAgICAgICAgICAgICAiY29uY2x1c2lvbiI6IHN0cihsYXRlc3Qu
Z2V0KCJjb25jbHVzaW9uIikgb3IgIiIpLAogICAgICAgICAgICAgICAgImV2ZW50Ijogc3RyKGxh
dGVzdC5nZXQoImV2ZW50Iikgb3IgIiIpLAogICAgICAgICAgICAgICAgImJyYW5jaCI6IHN0cihs
YXRlc3QuZ2V0KCJoZWFkX2JyYW5jaCIpIG9yICIiKSwKICAgICAgICAgICAgICAgICJodG1sVXJs
Ijogc3RyKGxhdGVzdC5nZXQoImh0bWxfdXJsIikgb3IgIiIpLAogICAgICAgICAgICAgICAgImNy
ZWF0ZWRBdCI6IHN0cihsYXRlc3QuZ2V0KCJjcmVhdGVkX2F0Iikgb3IgIiIpLAogICAgICAgICAg
ICAgICAgInVwZGF0ZWRBdCI6IHN0cihsYXRlc3QuZ2V0KCJ1cGRhdGVkX2F0Iikgb3IgIiIpLAog
ICAgICAgICAgICB9IGlmIGxhdGVzdCBlbHNlIE5vbmUsCiAgICAgICAgfSkKICAgIHJlc3VsdC5z
b3J0KGtleT1sYW1iZGEgaXRlbTogaXRlbVsibmFtZSJdLmxvd2VyKCkpCiAgICByZXR1cm4geyJy
ZXBvc2l0b3J5IjogcmVwb3NpdG9yeSwgIndvcmtmbG93cyI6IHJlc3VsdH0KCgpkZWYgZ2l0aHVi
X3JlbmFtZV93b3JrZmxvdyhyZXBvc2l0b3J5LCBwYXRoLCBicmFuY2gsIG5hbWUpOgogICAgbmFt
ZSA9IHN0cihuYW1lIG9yICIiKS5zdHJpcCgpCiAgICBpZiBub3QgV09SS0ZMT1dfTkFNRV9SRS5m
dWxsbWF0Y2gobmFtZSk6CiAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiV29ya2Zsb3cgbmFtZSBt
dXN0IGJlIDEtMTAwIGNoYXJhY3RlcnMgb24gb25lIGxpbmUuIikKICAgIHRva2VuLCB1cmwsIHBh
eWxvYWQsIHNvdXJjZSA9IGdpdGh1Yl93b3JrZmxvd19maWxlKHJlcG9zaXRvcnksIHBhdGgsIGJy
YW5jaCkKICAgIHlhbWxfbmFtZSA9IGpzb24uZHVtcHMobmFtZSwgZW5zdXJlX2FzY2lpPUZhbHNl
KQogICAgdXBkYXRlZCwgY291bnQgPSByZS5zdWJuKHIiKD9tKV5uYW1lXHMqOlxzKi4qJCIsICJu
YW1lOiAiICsgeWFtbF9uYW1lLCBzb3VyY2UsIGNvdW50PTEpCiAgICBpZiBjb3VudCA9PSAwOgog
ICAgICAgIHVwZGF0ZWQgPSAibmFtZTogIiArIHlhbWxfbmFtZSArICJcbiIgKyBzb3VyY2UKICAg
IHRyeToKICAgICAgICByZXN1bHQgPSBnaXRodWJfanNvbigiUFVUIiwgdXJsLCB7CiAgICAgICAg
ICAgICJtZXNzYWdlIjogIlJlbmFtZSBHaXRIdWIgQWN0aW9ucyB3b3JrZmxvdyB0byAiICsgbmFt
ZSwKICAgICAgICAgICAgImNvbnRlbnQiOiBiYXNlNjQuYjY0ZW5jb2RlKHVwZGF0ZWQuZW5jb2Rl
KCJ1dGYtOCIpKS5kZWNvZGUoImFzY2lpIiksCiAgICAgICAgICAgICJzaGEiOiBwYXlsb2FkWyJz
aGEiXSwKICAgICAgICAgICAgImJyYW5jaCI6IGJyYW5jaCwKICAgICAgICB9LCB0b2tlbj10b2tl
bikKICAgIGV4Y2VwdCBSdW50aW1lRXJyb3IgYXMgZXhjOgogICAgICAgIG1lc3NhZ2UgPSBzdHIo
ZXhjKQogICAgICAgIGlmICJSZXNvdXJjZSBub3QgYWNjZXNzaWJsZSIgaW4gbWVzc2FnZSBvciAi
cGVybWlzc2lvbiIgaW4gbWVzc2FnZS5sb3dlcigpIG9yICJmb3JiaWRkZW4iIGluIG1lc3NhZ2Uu
bG93ZXIoKToKICAgICAgICAgICAgcmFpc2UgUnVudGltZUVycm9yKCJXb3JrZmxvdyByZW5hbWUg
bmVlZHMgR2l0SHViIENvbnRlbnRzOiBSZWFkICYgd3JpdGUgcGVybWlzc2lvbiBmb3IgdGhpcyBG
b3JnZUNvcmUgR2l0SHViIEFwcC4iKSBmcm9tIGV4YwogICAgICAgIHJhaXNlCiAgICBjb21taXQg
PSByZXN1bHQuZ2V0KCJjb21taXQiKSBpZiBpc2luc3RhbmNlKHJlc3VsdCwgZGljdCkgZWxzZSB7
fQogICAgcmV0dXJuIHsKICAgICAgICAib2siOiBUcnVlLAogICAgICAgICJuYW1lIjogbmFtZSwK
ICAgICAgICAicGF0aCI6IHBhdGgsCiAgICAgICAgImNvbW1pdFVybCI6IHN0cigoY29tbWl0IG9y
IHt9KS5nZXQoImh0bWxfdXJsIikgb3IgIiIpLAogICAgfQoKCmRlZiB1cGRhdGVfcnVubmVyX29i
c2VydmF0aW9ucyhyZXBvc2l0b3J5LCBydW5uZXJzKToKICAgIHdpdGggUlVOTkVSX09CU0VSVkFU
SU9OU19MT0NLOgogICAgICAgIG9ic2VydmF0aW9ucyA9IHJlYWRfanNvbihSVU5ORVJfT0JTRVJW
QVRJT05TX0ZJTEUsIHt9KQogICAgICAgIGlmIG5vdCBpc2luc3RhbmNlKG9ic2VydmF0aW9ucywg
ZGljdCk6CiAgICAgICAgICAgIG9ic2VydmF0aW9ucyA9IHt9CiAgICAgICAgb2JzZXJ2ZWRfYXQg
PSB1dGNfbm93KCkKICAgICAgICBmb3IgcnVubmVyIGluIHJ1bm5lcnM6CiAgICAgICAgICAgIHJ1
bm5lcl9pZCA9IHJ1bm5lci5nZXQoImlkIikKICAgICAgICAgICAgaWYgcnVubmVyX2lkIGlzIE5v
bmU6CiAgICAgICAgICAgICAgICBjb250aW51ZQogICAgICAgICAgICBrZXkgPSByZXBvc2l0b3J5
ICsgIjoiICsgc3RyKHJ1bm5lcl9pZCkKICAgICAgICAgICAgcHJldmlvdXMgPSBvYnNlcnZhdGlv
bnMuZ2V0KGtleSkKICAgICAgICAgICAgaWYgbm90IGlzaW5zdGFuY2UocHJldmlvdXMsIGRpY3Qp
OgogICAgICAgICAgICAgICAgcHJldmlvdXMgPSB7fQogICAgICAgICAgICBmaXJzdF9zZWVuID0g
c3RyKHByZXZpb3VzLmdldCgiZmlyc3RTZWVuQXQiKSBvciBvYnNlcnZlZF9hdCkKICAgICAgICAg
ICAgbGFzdF9vbmxpbmUgPSBzdHIocHJldmlvdXMuZ2V0KCJsYXN0T25saW5lQXQiKSBvciAiIikK
ICAgICAgICAgICAgaWYgcnVubmVyLmdldCgib25saW5lIik6CiAgICAgICAgICAgICAgICBsYXN0
X29ubGluZSA9IG9ic2VydmVkX2F0CiAgICAgICAgICAgIHJlY29yZCA9IHsKICAgICAgICAgICAg
ICAgICJyZXBvc2l0b3J5IjogcmVwb3NpdG9yeSwKICAgICAgICAgICAgICAgICJydW5uZXJJZCI6
IHJ1bm5lcl9pZCwKICAgICAgICAgICAgICAgICJuYW1lIjogc3RyKHJ1bm5lci5nZXQoIm5hbWUi
KSBvciAiIiksCiAgICAgICAgICAgICAgICAiZmlyc3RTZWVuQXQiOiBmaXJzdF9zZWVuLAogICAg
ICAgICAgICAgICAgImxhc3RTZWVuQXQiOiBvYnNlcnZlZF9hdCwKICAgICAgICAgICAgICAgICJs
YXN0T25saW5lQXQiOiBsYXN0X29ubGluZSwKICAgICAgICAgICAgICAgICJzdGF0dXMiOiBzdHIo
cnVubmVyLmdldCgic3RhdHVzIikgb3IgIm9mZmxpbmUiKSwKICAgICAgICAgICAgfQogICAgICAg
ICAgICBvYnNlcnZhdGlvbnNba2V5XSA9IHJlY29yZAogICAgICAgICAgICBydW5uZXJbImZpcnN0
U2VlbkF0Il0gPSBmaXJzdF9zZWVuCiAgICAgICAgICAgIHJ1bm5lclsibGFzdFNlZW5BdCJdID0g
b2JzZXJ2ZWRfYXQKICAgICAgICAgICAgcnVubmVyWyJsYXN0T25saW5lQXQiXSA9IGxhc3Rfb25s
aW5lCiAgICAgICAgaWYgbGVuKG9ic2VydmF0aW9ucykgPiAxNTAwOgogICAgICAgICAgICBvcmRl
cmVkID0gc29ydGVkKAogICAgICAgICAgICAgICAgb2JzZXJ2YXRpb25zLml0ZW1zKCksCiAgICAg
ICAgICAgICAgICBrZXk9bGFtYmRhIGl0ZW06IHN0cigoaXRlbVsxXSBvciB7fSkuZ2V0KCJsYXN0
U2VlbkF0Iikgb3IgIiIpLAogICAgICAgICAgICAgICAgcmV2ZXJzZT1UcnVlLAogICAgICAgICAg
ICApCiAgICAgICAgICAgIG9ic2VydmF0aW9ucyA9IGRpY3Qob3JkZXJlZFs6MTAwMF0pCiAgICAg
ICAgd3JpdGVfanNvbl9wcml2YXRlKFJVTk5FUl9PQlNFUlZBVElPTlNfRklMRSwgb2JzZXJ2YXRp
b25zKQoKCmRlZiBnaXRodWJfcnVubmVycyhyZXBvc2l0b3J5KToKICAgIGlmIG5vdCBSRVBPX1JF
LmZ1bGxtYXRjaChyZXBvc2l0b3J5KToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlk
IHJlcG9zaXRvcnkuIikKICAgIHRva2VuID0gZ2l0aHViX3VzZXJfdG9rZW4oKQogICAgcGF5bG9h
ZCA9IGdpdGh1Yl9qc29uKCJHRVQiLCBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0v
YWN0aW9ucy9ydW5uZXJzP3Blcl9wYWdlPTEwMCIsIHRva2VuPXRva2VuKQogICAgaXRlbXMgPSBw
YXlsb2FkLmdldCgicnVubmVycyIpIGlmIGlzaW5zdGFuY2UocGF5bG9hZCwgZGljdCkgZWxzZSBO
b25lCiAgICBpZiBub3QgaXNpbnN0YW5jZShpdGVtcywgbGlzdCk6CiAgICAgICAgaXRlbXMgPSBb
XQogICAgcnVubmVycyA9IFtdCiAgICBmb3IgaXRlbSBpbiBpdGVtczoKICAgICAgICBsYWJlbHMg
PSBbCiAgICAgICAgICAgIHN0cihsYWJlbC5nZXQoIm5hbWUiKSkKICAgICAgICAgICAgZm9yIGxh
YmVsIGluIChpdGVtLmdldCgibGFiZWxzIikgb3IgW10pCiAgICAgICAgICAgIGlmIGlzaW5zdGFu
Y2UobGFiZWwsIGRpY3QpIGFuZCBsYWJlbC5nZXQoIm5hbWUiKQogICAgICAgIF0KICAgICAgICBz
dGF0dXMgPSBzdHIoaXRlbS5nZXQoInN0YXR1cyIpIG9yICJvZmZsaW5lIikubG93ZXIoKQogICAg
ICAgIHJ1bm5lcnMuYXBwZW5kKHsKICAgICAgICAgICAgImlkIjogaXRlbS5nZXQoImlkIiksCiAg
ICAgICAgICAgICJuYW1lIjogc3RyKGl0ZW0uZ2V0KCJuYW1lIikgb3IgIkdpdEh1YiBydW5uZXIi
KSwKICAgICAgICAgICAgIm9zIjogc3RyKGl0ZW0uZ2V0KCJvcyIpIG9yICIiKSwKICAgICAgICAg
ICAgInN0YXR1cyI6IHN0YXR1cywKICAgICAgICAgICAgIm9ubGluZSI6IHN0YXR1cyA9PSAib25s
aW5lIiwKICAgICAgICAgICAgImJ1c3kiOiBib29sKGl0ZW0uZ2V0KCJidXN5IikpLAogICAgICAg
ICAgICAibGFiZWxzIjogbGFiZWxzLAogICAgICAgICAgICAiZm9yZ2Vjb3JlUnVubmVyIjogYW55
KGxhYmVsLmxvd2VyKCkgPT0gImZvcmdlY29yZSIgZm9yIGxhYmVsIGluIGxhYmVscyksCiAgICAg
ICAgfSkKCiAgICBsb2NhbF9ieV9uYW1lID0gewogICAgICAgIGl0ZW1bIm5hbWUiXTogaXRlbVsi
aWQiXQogICAgICAgIGZvciBpdGVtIGluIGxpc3RfcnVubmVycygpCiAgICAgICAgaWYgaXRlbS5n
ZXQoInJlcG9zaXRvcnkiKSA9PSByZXBvc2l0b3J5IGFuZCBpdGVtLmdldCgibmFtZSIpCiAgICB9
CiAgICBmb3JnZWNvcmVfY2FuZGlkYXRlcyA9IFsKICAgICAgICBydW5uZXIgZm9yIHJ1bm5lciBp
biBydW5uZXJzCiAgICAgICAgaWYgcnVubmVyLmdldCgiZm9yZ2Vjb3JlUnVubmVyIikgb3Igc3Ry
KHJ1bm5lci5nZXQoIm5hbWUiKSBvciAiIikubG93ZXIoKS5zdGFydHN3aXRoKCJmb3JnZWNvcmUi
KQogICAgXQogICAgZHVwbGljYXRlX2NvdW50ID0gbGVuKGZvcmdlY29yZV9jYW5kaWRhdGVzKQog
ICAgZm9yIHJ1bm5lciBpbiBydW5uZXJzOgogICAgICAgIGxvY2FsX2lkID0gbG9jYWxfYnlfbmFt
ZS5nZXQocnVubmVyLmdldCgibmFtZSIpKQogICAgICAgIHJ1bm5lclsibWFuYWdlZEJ5Rm9yZ2VD
b3JlIl0gPSBib29sKGxvY2FsX2lkKQogICAgICAgIHJ1bm5lclsibG9jYWxSdW5uZXJJZCJdID0g
bG9jYWxfaWQgb3IgIiIKICAgICAgICBydW5uZXJbInBvc3NpYmxlRHVwbGljYXRlIl0gPSBib29s
KGR1cGxpY2F0ZV9jb3VudCA+IDEgYW5kIHJ1bm5lciBpbiBmb3JnZWNvcmVfY2FuZGlkYXRlcykK
ICAgICAgICBydW5uZXJbImR1cGxpY2F0ZUNvdW50Il0gPSBkdXBsaWNhdGVfY291bnQgaWYgcnVu
bmVyWyJwb3NzaWJsZUR1cGxpY2F0ZSJdIGVsc2UgMAoKICAgIHVwZGF0ZV9ydW5uZXJfb2JzZXJ2
YXRpb25zKHJlcG9zaXRvcnksIHJ1bm5lcnMpCiAgICByZXR1cm4gewogICAgICAgICJyZXBvc2l0
b3J5IjogcmVwb3NpdG9yeSwKICAgICAgICAicnVubmVycyI6IHJ1bm5lcnMsCiAgICAgICAgInNl
dHRpbmdzVXJsIjogImh0dHBzOi8vZ2l0aHViLmNvbS8iICsgcmVwb3NpdG9yeSArICIvc2V0dGlu
Z3MvYWN0aW9ucy9ydW5uZXJzIiwKICAgICAgICAibmV3UnVubmVyVXJsIjogImh0dHBzOi8vZ2l0
aHViLmNvbS8iICsgcmVwb3NpdG9yeSArICIvc2V0dGluZ3MvYWN0aW9ucy9ydW5uZXJzL25ldyIs
CiAgICAgICAgInBvc3NpYmxlRm9yZ2VDb3JlRHVwbGljYXRlcyI6IGR1cGxpY2F0ZV9jb3VudCA+
IDEsCiAgICAgICAgImZvcmdlQ29yZUNhbmRpZGF0ZUNvdW50IjogZHVwbGljYXRlX2NvdW50LAog
ICAgfQoKCmRlZiBnaXRodWJfcnVubmVyX3Rva2VuKHJlcG9zaXRvcnksIGtpbmQpOgogICAgaWYg
bm90IFJFUE9fUkUuZnVsbG1hdGNoKHJlcG9zaXRvcnkpOgogICAgICAgIHJhaXNlIFZhbHVlRXJy
b3IoIkludmFsaWQgcmVwb3NpdG9yeS4iKQogICAgZW5kcG9pbnQgPSAicmVnaXN0cmF0aW9uLXRv
a2VuIiBpZiBraW5kID09ICJyZWdpc3RlciIgZWxzZSAicmVtb3ZlLXRva2VuIgogICAgcmV0dXJu
IGdpdGh1Yl9qc29uKCJQT1NUIiwgZiJ7R0lUSFVCX0FQSX0vcmVwb3Mve3JlcG9zaXRvcnl9L2Fj
dGlvbnMvcnVubmVycy97ZW5kcG9pbnR9Iiwge30sIHRva2VuPWdpdGh1Yl91c2VyX3Rva2VuKCkp
CgoKZGVmIGdpdGh1Yl9ydW5uZXJfam9iKHJlcG9zaXRvcnksIHJ1bm5lcl9pZCk6CiAgICBpZiBu
b3QgUkVQT19SRS5mdWxsbWF0Y2gocmVwb3NpdG9yeSk6CiAgICAgICAgcmFpc2UgVmFsdWVFcnJv
cigiSW52YWxpZCByZXBvc2l0b3J5LiIpCiAgICB0cnk6CiAgICAgICAgcnVubmVyX2lkID0gaW50
KHJ1bm5lcl9pZCkKICAgIGV4Y2VwdCAoVHlwZUVycm9yLCBWYWx1ZUVycm9yKToKICAgICAgICBy
YWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIHJ1bm5lciBpZC4iKQogICAgdG9rZW4gPSBnaXRodWJf
dXNlcl90b2tlbigpCiAgICBydW5zID0gZ2l0aHViX2pzb24oIkdFVCIsIGYie0dJVEhVQl9BUEl9
L3JlcG9zL3tyZXBvc2l0b3J5fS9hY3Rpb25zL3J1bnM/c3RhdHVzPWluX3Byb2dyZXNzJnBlcl9w
YWdlPTIwIiwgdG9rZW49dG9rZW4pCiAgICBpdGVtcyA9IHJ1bnMuZ2V0KCJ3b3JrZmxvd19ydW5z
IikgaWYgaXNpbnN0YW5jZShydW5zLCBkaWN0KSBlbHNlIFtdCiAgICBmb3IgcnVuIGluIChpdGVt
cyBvciBbXSlbOjIwXToKICAgICAgICBydW5faWQgPSBpbnQocnVuLmdldCgiaWQiKSBvciAwKQog
ICAgICAgIGlmIG5vdCBydW5faWQ6CiAgICAgICAgICAgIGNvbnRpbnVlCiAgICAgICAgam9icyA9
IGdpdGh1Yl9qc29uKCJHRVQiLCBmIntHSVRIVUJfQVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vYWN0
aW9ucy9ydW5zL3tydW5faWR9L2pvYnM/ZmlsdGVyPWxhdGVzdCZwZXJfcGFnZT0xMDAiLCB0b2tl
bj10b2tlbikKICAgICAgICBmb3Igam9iIGluIChqb2JzLmdldCgiam9icyIpIG9yIFtdKToKICAg
ICAgICAgICAgaWYgaW50KGpvYi5nZXQoInJ1bm5lcl9pZCIpIG9yIDApICE9IHJ1bm5lcl9pZDoK
ICAgICAgICAgICAgICAgIGNvbnRpbnVlCiAgICAgICAgICAgIHJldHVybiB7CiAgICAgICAgICAg
ICAgICAicnVuSWQiOiBydW5faWQsCiAgICAgICAgICAgICAgICAiam9iSWQiOiBqb2IuZ2V0KCJp
ZCIpLAogICAgICAgICAgICAgICAgImpvYk5hbWUiOiBzdHIoam9iLmdldCgibmFtZSIpIG9yICJH
aXRIdWIgQWN0aW9ucyBqb2IiKSwKICAgICAgICAgICAgICAgICJ3b3JrZmxvd05hbWUiOiBzdHIo
cnVuLmdldCgibmFtZSIpIG9yIHJ1bi5nZXQoImRpc3BsYXlfdGl0bGUiKSBvciAiV29ya2Zsb3ci
KSwKICAgICAgICAgICAgICAgICJzdGF0dXMiOiBzdHIoam9iLmdldCgic3RhdHVzIikgb3IgIiIp
LAogICAgICAgICAgICAgICAgInN0YXJ0ZWRBdCI6IGpvYi5nZXQoInN0YXJ0ZWRfYXQiKSwKICAg
ICAgICAgICAgICAgICJodG1sVXJsIjogc3RyKGpvYi5nZXQoImh0bWxfdXJsIikgb3IgcnVuLmdl
dCgiaHRtbF91cmwiKSBvciAiIiksCiAgICAgICAgICAgICAgICAicnVubmVyTmFtZSI6IHN0cihq
b2IuZ2V0KCJydW5uZXJfbmFtZSIpIG9yICIiKSwKICAgICAgICAgICAgfQogICAgcmV0dXJuIE5v
bmUKCgpkZWYgcmVhZF9pbnQocGF0aCwgZGVmYXVsdD0wKToKICAgIHRyeToKICAgICAgICByZXR1
cm4gaW50KHBhdGgucmVhZF90ZXh0KGVuY29kaW5nPSJ1dGYtOCIpLnN0cmlwKCkpCiAgICBleGNl
cHQgKE9TRXJyb3IsIFZhbHVlRXJyb3IsIFR5cGVFcnJvcik6CiAgICAgICAgcmV0dXJuIGRlZmF1
bHQKCgpkZWYgdmFsaWRhdGVfcnVubmVyX25hbWUodmFsdWUpOgogICAgbmFtZSA9IHN0cih2YWx1
ZSBvciAiIikuc3RyaXAoKQogICAgaWYgbm90IFJVTk5FUl9OQU1FX1JFLmZ1bGxtYXRjaChuYW1l
KToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJSdW5uZXIgbmFtZSBtdXN0IGJlIDEtNjQgY2hh
cmFjdGVycyBhbmQgdXNlIGxldHRlcnMsIG51bWJlcnMsIHNwYWNlcywgZG90cywgdW5kZXJzY29y
ZXMgb3IgaHlwaGVucy4iKQogICAgcmV0dXJuIG5hbWUKCgpkZWYgdmFsaWRhdGVfcnVubmVyX2xh
YmVscyh2YWx1ZSk6CiAgICBpZiB2YWx1ZSBpcyBOb25lOgogICAgICAgIGl0ZW1zID0gW10KICAg
IGVsaWYgaXNpbnN0YW5jZSh2YWx1ZSwgbGlzdCk6CiAgICAgICAgaXRlbXMgPSB2YWx1ZQogICAg
ZWxzZToKICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJSdW5uZXIgbGFiZWxzIG11c3QgYmUgYSBs
aXN0LiIpCiAgICByZXN1bHQgPSBbXQogICAgc2VlbiA9IHsiZm9yZ2Vjb3JlIn0KICAgIGN1c3Rv
bV9jb3VudCA9IDAKICAgIGZvciBpdGVtIGluIGl0ZW1zOgogICAgICAgIGxhYmVsID0gc3RyKGl0
ZW0gb3IgIiIpLnN0cmlwKCkKICAgICAgICBpZiBub3QgbGFiZWw6CiAgICAgICAgICAgIGNvbnRp
bnVlCiAgICAgICAgaWYgbm90IFJVTk5FUl9MQUJFTF9SRS5mdWxsbWF0Y2gobGFiZWwpOgogICAg
ICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJFYWNoIGN1c3RvbSBsYWJlbCBtdXN0IGJlIDEtMzIg
Y2hhcmFjdGVycyB1c2luZyBsZXR0ZXJzLCBudW1iZXJzLCBkb3RzLCB1bmRlcnNjb3JlcyBvciBo
eXBoZW5zLiIpCiAgICAgICAga2V5ID0gbGFiZWwubG93ZXIoKQogICAgICAgIGlmIGtleSBpbiBz
ZWVuOgogICAgICAgICAgICBjb250aW51ZQogICAgICAgIHNlZW4uYWRkKGtleSkKICAgICAgICBp
ZiBub3Qga2V5LnN0YXJ0c3dpdGgoImZjLXJvdXRlLSIpOgogICAgICAgICAgICBjdXN0b21fY291
bnQgKz0gMQogICAgICAgIHJlc3VsdC5hcHBlbmQobGFiZWwpCiAgICBpZiBjdXN0b21fY291bnQg
PiA4OgogICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIlVzZSBhdCBtb3N0IDggY3VzdG9tIHJ1bm5l
ciBsYWJlbHMuIikKICAgIHJldHVybiBbIkZvcmdlQ29yZSIsICpyZXN1bHRdCgoKZGVmIGxpc3Rf
cnVubmVycygpOgogICAgcmVzdWx0ID0gW10KICAgIHRyeToKICAgICAgICBkaXJzID0gc29ydGVk
KFtwYXRoIGZvciBwYXRoIGluIFJVTk5FUl9ST09ULml0ZXJkaXIoKSBpZiBwYXRoLmlzX2Rpcigp
XSkKICAgIGV4Y2VwdCBPU0Vycm9yOgogICAgICAgIGRpcnMgPSBbXQogICAgZm9yIGRpcmVjdG9y
eSBpbiBkaXJzOgogICAgICAgIG1ldGEgPSByZWFkX2pzb24oZGlyZWN0b3J5IC8gIi5mb3JnZWNv
cmUtcnVubmVyLmpzb24iKQogICAgICAgIGlmIG5vdCBpc2luc3RhbmNlKG1ldGEsIGRpY3QpIG9y
IG1ldGEuZ2V0KCJraW5kIikgIT0gIkZvcmdlQ29yZVJ1bm5lciI6CiAgICAgICAgICAgIGNvbnRp
bnVlCiAgICAgICAgcnVubmVyX2lkID0gZGlyZWN0b3J5Lm5hbWUKICAgICAgICBydW50aW1lID0g
cmVhZF9qc29uKFNUQVRFX0RJUiAvIGYicnVubmVyLXtydW5uZXJfaWR9Lmpzb24iLCB7fSkKICAg
ICAgICBzdG9wcGVkID0gKFNUQVRFX0RJUiAvIGYicnVubmVyLXtydW5uZXJfaWR9LmRpc2FibGVk
IikuZXhpc3RzKCkKICAgICAgICByZXN1bHQuYXBwZW5kKHsKICAgICAgICAgICAgImlkIjogcnVu
bmVyX2lkLAogICAgICAgICAgICAicmVwb3NpdG9yeSI6IHN0cihtZXRhLmdldCgicmVwb3NpdG9y
eSIpIG9yICIiKSwKICAgICAgICAgICAgIm5hbWUiOiBzdHIobWV0YS5nZXQoIm5hbWUiKSBvciAo
IkZvcmdlQ29yZS0iICsgcnVubmVyX2lkKSksCiAgICAgICAgICAgICJsYWJlbHMiOiBtZXRhLmdl
dCgibGFiZWxzIikgaWYgaXNpbnN0YW5jZShtZXRhLmdldCgibGFiZWxzIiksIGxpc3QpIGVsc2Ug
WyJGb3JnZUNvcmUiXSwKICAgICAgICAgICAgInJvdXRlTGFiZWwiOiBydW5uZXJfcm91dGVfbGFi
ZWwoeyJyZXBvc2l0b3J5Ijogc3RyKG1ldGEuZ2V0KCJyZXBvc2l0b3J5Iikgb3IgIiIpLCAiaWQi
OiBydW5uZXJfaWR9KSwKICAgICAgICAgICAgInBoYXNlIjogInN0b3BwZWQiIGlmIHN0b3BwZWQg
ZWxzZSBzdHIocnVudGltZS5nZXQoInBoYXNlIikgb3IgIm9mZmxpbmUiKSwKICAgICAgICAgICAg
Im1lc3NhZ2UiOiAiU3RvcHBlZCBieSBvcGVyYXRvciIgaWYgc3RvcHBlZCBlbHNlIHN0cihydW50
aW1lLmdldCgibWVzc2FnZSIpIG9yICIiKSwKICAgICAgICAgICAgIm9ubGluZSI6IEZhbHNlIGlm
IHN0b3BwZWQgZWxzZSBib29sKHJ1bnRpbWUuZ2V0KCJvbmxpbmUiKSksCiAgICAgICAgICAgICJw
aWQiOiBOb25lIGlmIHN0b3BwZWQgZWxzZSBydW50aW1lLmdldCgicGlkIiksCiAgICAgICAgICAg
ICJzdG9wcGVkIjogc3RvcHBlZCwKICAgICAgICAgICAgInN0YXJ0ZWRFcG9jaCI6IHJlYWRfaW50
KGRpcmVjdG9yeSAvICIuc3RhcnRlZC1lcG9jaCIpLAogICAgICAgICAgICAicmVzdGFydENvdW50
IjogcmVhZF9pbnQoZGlyZWN0b3J5IC8gIi5yZXN0YXJ0LWNvdW50IiksCiAgICAgICAgICAgICJs
YXN0UmVzdGFydEVwb2NoIjogcmVhZF9pbnQoZGlyZWN0b3J5IC8gIi5sYXN0LXJlc3RhcnQtZXBv
Y2giKSwKICAgICAgICB9KQogICAgcmV0dXJuIHJlc3VsdAoKCmNsYXNzIEhhbmRsZXIoQmFzZUhU
VFBSZXF1ZXN0SGFuZGxlcik6CiAgICBzZXJ2ZXJfdmVyc2lvbiA9ICJGb3JnZUNvcmVDbGVhbi8w
LjEiCgogICAgZGVmIGxvZ19tZXNzYWdlKHNlbGYsIGZtdCwgKmFyZ3MpOgogICAgICAgIHByaW50
KCIlcyAtICVzIiAlIChzZWxmLmFkZHJlc3Nfc3RyaW5nKCksIGZtdCAlIGFyZ3MpLCBmbHVzaD1U
cnVlKQoKICAgIGRlZiBwYXJzZV9jb29raWVzKHNlbGYpOgogICAgICAgIGNvb2tpZSA9IGh0dHAu
Y29va2llcy5TaW1wbGVDb29raWUoKQogICAgICAgIGNvb2tpZS5sb2FkKHNlbGYuaGVhZGVycy5n
ZXQoIkNvb2tpZSIsICIiKSkKICAgICAgICByZXR1cm4gY29va2llCgogICAgZGVmIGN1cnJlbnRf
dXNlcihzZWxmKToKICAgICAgICBjb29raWUgPSBzZWxmLnBhcnNlX2Nvb2tpZXMoKQogICAgICAg
IG1vcnNlbCA9IGNvb2tpZS5nZXQoU0VTU0lPTl9DT09LSUUpCiAgICAgICAgcmV0dXJuIHNlc3Np
b25fdXNlcihtb3JzZWwudmFsdWUgaWYgbW9yc2VsIGVsc2UgIiIpCgogICAgZGVmIHJlcXVpcmVf
dXNlcihzZWxmKToKICAgICAgICB1c2VyID0gc2VsZi5jdXJyZW50X3VzZXIoKQogICAgICAgIGlm
IG5vdCB1c2VyOgogICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDAxLCB7ImVycm9yIjog
IkF1dGhlbnRpY2F0aW9uIHJlcXVpcmVkIn0pCiAgICAgICAgICAgIHJldHVybiBOb25lCiAgICAg
ICAgcmV0dXJuIHVzZXIKCiAgICBkZWYganNvbl9ib2R5KHNlbGYpOgogICAgICAgIGxlbmd0aCA9
IGludChzZWxmLmhlYWRlcnMuZ2V0KCJDb250ZW50LUxlbmd0aCIsICIwIikgb3IgMCkKICAgICAg
ICBpZiBsZW5ndGggPD0gMDoKICAgICAgICAgICAgcmV0dXJuIHt9CiAgICAgICAgaWYgbGVuZ3Ro
ID4gMl8wMDBfMDAwOgogICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJSZXF1ZXN0IHRvbyBs
YXJnZS4iKQogICAgICAgIHJhdyA9IHNlbGYucmZpbGUucmVhZChsZW5ndGgpCiAgICAgICAgdHJ5
OgogICAgICAgICAgICB2YWx1ZSA9IGpzb24ubG9hZHMocmF3LmRlY29kZSgidXRmLTgiKSkKICAg
ICAgICBleGNlcHQgKFZhbHVlRXJyb3IsIFVuaWNvZGVFcnJvcik6CiAgICAgICAgICAgIHJhaXNl
IFZhbHVlRXJyb3IoIkludmFsaWQgSlNPTi4iKQogICAgICAgIHJldHVybiB2YWx1ZSBpZiBpc2lu
c3RhbmNlKHZhbHVlLCBkaWN0KSBlbHNlIHt9CgogICAgZGVmIGpzb25fcmVzcG9uc2Uoc2VsZiwg
c3RhdHVzLCB2YWx1ZSwgaGVhZGVycz1Ob25lKToKICAgICAgICBib2R5ID0ganNvbi5kdW1wcyh2
YWx1ZSwgZW5zdXJlX2FzY2lpPUZhbHNlKS5lbmNvZGUoKQogICAgICAgIHNlbGYuc2VuZF9yZXNw
b25zZShzdGF0dXMpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiQ29udGVudC1UeXBlIiwgImFw
cGxpY2F0aW9uL2pzb247IGNoYXJzZXQ9dXRmLTgiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIo
IkNhY2hlLUNvbnRyb2wiLCAibm8tc3RvcmUiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIlgt
Rm9yZ2VDb3JlLVZlcnNpb24iLCBWRVJTSU9OKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkNv
bnRlbnQtTGVuZ3RoIiwgc3RyKGxlbihib2R5KSkpCiAgICAgICAgZm9yIGtleSwgdmFsIGluICho
ZWFkZXJzIG9yIHt9KS5pdGVtcygpOgogICAgICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKGtleSwg
dmFsKQogICAgICAgIHNlbGYuZW5kX2hlYWRlcnMoKQogICAgICAgIHNlbGYud2ZpbGUud3JpdGUo
Ym9keSkKCiAgICBkZWYgaHRtbF9yZXNwb25zZShzZWxmLCBzdGF0dXMsIGh0bWwsIGhlYWRlcnM9
Tm9uZSk6CiAgICAgICAgYm9keSA9IGh0bWwuZW5jb2RlKCJ1dGYtOCIpCiAgICAgICAgc2VsZi5z
ZW5kX3Jlc3BvbnNlKHN0YXR1cykKICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKCJDb250ZW50LVR5
cGUiLCAidGV4dC9odG1sOyBjaGFyc2V0PXV0Zi04IikKICAgICAgICBzZWxmLnNlbmRfaGVhZGVy
KCJDYWNoZS1Db250cm9sIiwgIm5vLXN0b3JlIikKICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKCJY
LUZvcmdlQ29yZS1WZXJzaW9uIiwgVkVSU0lPTikKICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKCJD
b250ZW50LUxlbmd0aCIsIHN0cihsZW4oYm9keSkpKQogICAgICAgIGZvciBrZXksIHZhbCBpbiAo
aGVhZGVycyBvciB7fSkuaXRlbXMoKToKICAgICAgICAgICAgc2VsZi5zZW5kX2hlYWRlcihrZXks
IHZhbCkKICAgICAgICBzZWxmLmVuZF9oZWFkZXJzKCkKICAgICAgICBzZWxmLndmaWxlLndyaXRl
KGJvZHkpCgogICAgZGVmIHJlZGlyZWN0KHNlbGYsIGxvY2F0aW9uKToKICAgICAgICBzZWxmLnNl
bmRfcmVzcG9uc2UoMzAyKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkxvY2F0aW9uIiwgbG9j
YXRpb24pCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiQ2FjaGUtQ29udHJvbCIsICJuby1zdG9y
ZSIpCiAgICAgICAgc2VsZi5lbmRfaGVhZGVycygpCgogICAgZGVmIHNldF9zZXNzaW9uX2Nvb2tp
ZShzZWxmLCB0b2tlbik6CiAgICAgICAgcmV0dXJuIGYie1NFU1NJT05fQ09PS0lFfT17dG9rZW59
OyBQYXRoPS87IEh0dHBPbmx5OyBTYW1lU2l0ZT1MYXg7IE1heC1BZ2U9e1NFU1NJT05fVFRMfSIK
CiAgICBkZWYgY2xlYXJfc2Vzc2lvbl9jb29raWUoc2VsZik6CiAgICAgICAgcmV0dXJuIGYie1NF
U1NJT05fQ09PS0lFfT07IFBhdGg9LzsgSHR0cE9ubHk7IFNhbWVTaXRlPUxheDsgTWF4LUFnZT0w
IgoKICAgIGRlZiBkb19HRVQoc2VsZik6CiAgICAgICAgcGFyc2VkID0gdXJsbGliLnBhcnNlLnVy
bHBhcnNlKHNlbGYucGF0aCkKICAgICAgICBwYXRoID0gcGFyc2VkLnBhdGgKICAgICAgICBwYXJh
bXMgPSB1cmxsaWIucGFyc2UucGFyc2VfcXMocGFyc2VkLnF1ZXJ5KQoKICAgICAgICB0cnk6CiAg
ICAgICAgICAgIGlmIHBhdGggPT0gIi9oZWFsdGgiOgogICAgICAgICAgICAgICAgc2VsZi5qc29u
X3Jlc3BvbnNlKDIwMCwgeyJvayI6IFRydWUsICJ2ZXJzaW9uIjogVkVSU0lPTn0pCiAgICAgICAg
ICAgICAgICByZXR1cm4KICAgICAgICAgICAgaWYgcGF0aCA9PSAiLyI6CiAgICAgICAgICAgICAg
ICBzZWxmLmh0bWxfcmVzcG9uc2UoMjAwLCBJTkRFWF9GSUxFLnJlYWRfdGV4dChlbmNvZGluZz0i
dXRmLTgiKSkKICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICBpZiBwYXRoID09ICIv
YXBpL3Nlc3Npb24iOgogICAgICAgICAgICAgICAgYXV0aCA9IHJlYWRfanNvbihBVVRIX0ZJTEUs
IHt9KQogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgewogICAgICAgICAg
ICAgICAgICAgICJzZXR1cFJlcXVpcmVkIjogbm90IGJvb2woYXV0aC5nZXQoInVzZXJuYW1lIikp
LAogICAgICAgICAgICAgICAgICAgICJhdXRoZW50aWNhdGVkIjogYm9vbChzZWxmLmN1cnJlbnRf
dXNlcigpKSwKICAgICAgICAgICAgICAgICAgICAidXNlcm5hbWUiOiBzZWxmLmN1cnJlbnRfdXNl
cigpIG9yICIiLAogICAgICAgICAgICAgICAgICAgICJ2ZXJzaW9uIjogVkVSU0lPTiwKICAgICAg
ICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgaWYgcGF0aCA9
PSAiL2FwaS9naXRodWIvc3RhdHVzIjoKICAgICAgICAgICAgICAgIGlmIG5vdCBzZWxmLnJlcXVp
cmVfdXNlcigpOgogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgYXBw
ID0gZ2l0aHViX2FwcF9jb25maWcoKQogICAgICAgICAgICAgICAgYWNjb3VudCA9IGdpdGh1Yl9h
Y2NvdW50KCkKICAgICAgICAgICAgICAgIGNvbm5lY3RlZCA9IGJvb2woYWNjb3VudC5nZXQoImxv
Z2luIikgYW5kIEdJVEhVQl9UT0tFTl9GSUxFLmV4aXN0cygpKQogICAgICAgICAgICAgICAgc2Vs
Zi5qc29uX3Jlc3BvbnNlKDIwMCwgewogICAgICAgICAgICAgICAgICAgICJyZWdpc3RlcmVkIjog
Ym9vbChhcHAuZ2V0KCJjbGllbnRfaWQiKSksCiAgICAgICAgICAgICAgICAgICAgImNvbm5lY3Rl
ZCI6IGNvbm5lY3RlZCwKICAgICAgICAgICAgICAgICAgICAiYWNjb3VudCI6IHsKICAgICAgICAg
ICAgICAgICAgICAgICAgImxvZ2luIjogYWNjb3VudC5nZXQoImxvZ2luIiwgIiIpLAogICAgICAg
ICAgICAgICAgICAgICAgICAiYXZhdGFyVXJsIjogYWNjb3VudC5nZXQoImF2YXRhcl91cmwiLCAi
IiksCiAgICAgICAgICAgICAgICAgICAgICAgICJpbnN0YWxsYXRpb25JZCI6IGFjY291bnQuZ2V0
KCJpbnN0YWxsYXRpb25faWQiKSwKICAgICAgICAgICAgICAgICAgICB9IGlmIGNvbm5lY3RlZCBl
bHNlIE5vbmUsCiAgICAgICAgICAgICAgICAgICAgImFwcCI6IHsKICAgICAgICAgICAgICAgICAg
ICAgICAgInNsdWciOiBhcHAuZ2V0KCJzbHVnIiwgIiIpLAogICAgICAgICAgICAgICAgICAgICAg
ICAiaHRtbFVybCI6IGFwcC5nZXQoImh0bWxfdXJsIiwgIiIpLAogICAgICAgICAgICAgICAgICAg
IH0gaWYgYXBwIGVsc2UgTm9uZSwKICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICBy
ZXR1cm4KICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2FwaS9naXRodWIvcmVwb3NpdG9yaWVzIjoK
ICAgICAgICAgICAgICAgIGlmIG5vdCBzZWxmLnJlcXVpcmVfdXNlcigpOgogICAgICAgICAgICAg
ICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgeyJy
ZXBvc2l0b3JpZXMiOiBnaXRodWJfcmVwb3NpdG9yaWVzKCl9KQogICAgICAgICAgICAgICAgcmV0
dXJuCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0aHViL3J1bm5lcnMiOgogICAgICAg
ICAgICAgICAgaWYgbm90IHNlbGYucmVxdWlyZV91c2VyKCk6CiAgICAgICAgICAgICAgICAgICAg
cmV0dXJuCiAgICAgICAgICAgICAgICByZXBvc2l0b3J5ID0gc3RyKHBhcmFtcy5nZXQoInJlcG9z
aXRvcnkiLCBbIiJdKVswXSkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAs
IGdpdGh1Yl9ydW5uZXJzKHJlcG9zaXRvcnkpKQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAg
ICAgICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0aHViL3dvcmtmbG93cyI6CiAgICAgICAgICAgICAg
ICBpZiBub3Qgc2VsZi5yZXF1aXJlX3VzZXIoKToKICAgICAgICAgICAgICAgICAgICByZXR1cm4K
ICAgICAgICAgICAgICAgIHJlcG9zaXRvcnkgPSBzdHIocGFyYW1zLmdldCgicmVwb3NpdG9yeSIs
IFsiIl0pWzBdKS5zdHJpcCgpCiAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAw
LCBnaXRodWJfd29ya2Zsb3dzKHJlcG9zaXRvcnkpKQogICAgICAgICAgICAgICAgcmV0dXJuCiAg
ICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0aHViL3J1bm5lci1qb2IiOgogICAgICAgICAg
ICAgICAgcmVwb3NpdG9yeSA9IHN0cihwYXJhbXMuZ2V0KCJyZXBvc2l0b3J5IiwgWyIiXSlbMF0p
CiAgICAgICAgICAgICAgICBydW5uZXJfaWQgPSBzdHIocGFyYW1zLmdldCgicnVubmVyX2lkIiwg
WyIiXSlbMF0pCiAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAwLCB7ImpvYiI6
IGdpdGh1Yl9ydW5uZXJfam9iKHJlcG9zaXRvcnksIHJ1bm5lcl9pZCl9KQogICAgICAgICAgICBp
ZiBwYXRoID09ICIvYXBpL3J1bm5lcnMiOgogICAgICAgICAgICAgICAgaWYgbm90IHNlbGYucmVx
dWlyZV91c2VyKCk6CiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBy
dW5uZXJzID0gbGlzdF9ydW5uZXJzKCkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25z
ZSgyMDAsIHsicnVubmVycyI6IHJ1bm5lcnN9KQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAg
ICAgICAgIGlmIHBhdGguc3RhcnRzd2l0aCgiL2FwaS9ydW5uZXJzLyIpIGFuZCBwYXRoLmVuZHN3
aXRoKCIvZGlhZ25vc3RpY3MiKToKICAgICAgICAgICAgICAgIGlmIG5vdCBzZWxmLnJlcXVpcmVf
dXNlcigpOgogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgcnVubmVy
X2lkID0gcGF0aFtsZW4oIi9hcGkvcnVubmVycy8iKTotbGVuKCIvZGlhZ25vc3RpY3MiKV0uc3Ry
aXAoIi8iKQogICAgICAgICAgICAgICAgaWYgbm90IFNMVUdfUkUuZnVsbG1hdGNoKHJ1bm5lcl9p
ZCk6CiAgICAgICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDQwMCwgeyJlcnJvciI6
ICJJbnZhbGlkIFJ1bm5lciBpZCJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAg
ICAgICAgICAgcnVubmVyID0gbmV4dCgoaXRlbSBmb3IgaXRlbSBpbiBsaXN0X3J1bm5lcnMoKSBp
ZiBpdGVtWyJpZCJdID09IHJ1bm5lcl9pZCksIE5vbmUpCiAgICAgICAgICAgICAgICBpZiBub3Qg
cnVubmVyOgogICAgICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQsIHsiZXJy
b3IiOiAiUnVubmVyIG5vdCBmb3VuZCJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAg
ICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgewogICAgICAgICAgICAgICAgICAg
ICJydW5uZXIiOiBydW5uZXIsCiAgICAgICAgICAgICAgICAgICAgInJ1bm5lckxvZyI6IChMT0df
RElSIC8gZiJydW5uZXIte3J1bm5lcl9pZH0ubG9nIikucmVhZF90ZXh0KGVuY29kaW5nPSJ1dGYt
OCIsIGVycm9ycz0icmVwbGFjZSIpWy0xNjAwMDpdIGlmIChMT0dfRElSIC8gZiJydW5uZXIte3J1
bm5lcl9pZH0ubG9nIikuZXhpc3RzKCkgZWxzZSAiIiwKICAgICAgICAgICAgICAgICAgICAicmVn
aXN0cmF0aW9uTG9nIjogKExPR19ESVIgLyBmInJ1bm5lci1yZWdpc3RyYXRpb24te3J1bm5lcl9p
ZH0ubG9nIikucmVhZF90ZXh0KGVuY29kaW5nPSJ1dGYtOCIsIGVycm9ycz0icmVwbGFjZSIpWy0x
NjAwMDpdIGlmIChMT0dfRElSIC8gZiJydW5uZXItcmVnaXN0cmF0aW9uLXtydW5uZXJfaWR9Lmxv
ZyIpLmV4aXN0cygpIGVsc2UgIiIsCiAgICAgICAgICAgICAgICB9KQogICAgICAgICAgICAgICAg
cmV0dXJuCgogICAgICAgICAgICBpZiBwYXRoID09ICIvZ2l0aHViL21hbmlmZXN0L2NhbGxiYWNr
IjoKICAgICAgICAgICAgICAgIHN0YXRlID0gc3RyKHBhcmFtcy5nZXQoInN0YXRlIiwgWyIiXSlb
MF0pCiAgICAgICAgICAgICAgICBjb2RlID0gc3RyKHBhcmFtcy5nZXQoImNvZGUiLCBbIiJdKVsw
XSkKICAgICAgICAgICAgICAgIHBlbmRpbmcgPSByZWFkX2pzb24ocGVuZGluZ19wYXRoKHN0YXRl
KSkKICAgICAgICAgICAgICAgIGlmIG5vdCBzdGF0ZSBvciBub3QgY29kZSBvciBub3QgaXNpbnN0
YW5jZShwZW5kaW5nLCBkaWN0KSBvciBwZW5kaW5nLmdldCgia2luZCIpICE9ICJtYW5pZmVzdCI6
CiAgICAgICAgICAgICAgICAgICAgc2VsZi5yZWRpcmVjdCgiLz9naXRodWJfZXJyb3I9bWFuaWZl
c3QiKQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgaWYgaW50KHBl
bmRpbmcuZ2V0KCJleHBpcmVzIikgb3IgMCkgPCBub3dfZXBvY2goKToKICAgICAgICAgICAgICAg
ICAgICBwZW5kaW5nX3BhdGgoc3RhdGUpLnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAg
ICAgICAgICAgICAgc2VsZi5yZWRpcmVjdCgiLz9naXRodWJfZXJyb3I9ZXhwaXJlZCIpCiAgICAg
ICAgICAgICAgICAgICAgcmV0dXJuCgogICAgICAgICAgICAgICAgY3JlYXRlZCA9IGdpdGh1Yl9q
c29uKCJQT1NUIiwgZiJ7R0lUSFVCX0FQSX0vYXBwLW1hbmlmZXN0cy97dXJsbGliLnBhcnNlLnF1
b3RlKGNvZGUpfS9jb252ZXJzaW9ucyIsIHt9KQogICAgICAgICAgICAgICAgY29uZmlnID0gewog
ICAgICAgICAgICAgICAgICAgICJhcHBfaWQiOiBjcmVhdGVkLmdldCgiaWQiKSwKICAgICAgICAg
ICAgICAgICAgICAiY2xpZW50X2lkIjogY3JlYXRlZC5nZXQoImNsaWVudF9pZCIpLAogICAgICAg
ICAgICAgICAgICAgICJjbGllbnRfc2VjcmV0IjogY3JlYXRlZC5nZXQoImNsaWVudF9zZWNyZXQi
KSwKICAgICAgICAgICAgICAgICAgICAic2x1ZyI6IGNyZWF0ZWQuZ2V0KCJzbHVnIiksCiAgICAg
ICAgICAgICAgICAgICAgImh0bWxfdXJsIjogY3JlYXRlZC5nZXQoImh0bWxfdXJsIiksCiAgICAg
ICAgICAgICAgICAgICAgImNyZWF0ZWRfYXQiOiB1dGNfbm93KCksCiAgICAgICAgICAgICAgICAg
ICAgIm9yaWdpbiI6IHBlbmRpbmcuZ2V0KCJvcmlnaW4iKSwKICAgICAgICAgICAgICAgIH0KICAg
ICAgICAgICAgICAgIGlmIG5vdCBjb25maWdbImFwcF9pZCJdIG9yIG5vdCBjb25maWdbImNsaWVu
dF9pZCJdIG9yIG5vdCBjb25maWdbImNsaWVudF9zZWNyZXQiXSBvciBub3QgY29uZmlnWyJzbHVn
Il06CiAgICAgICAgICAgICAgICAgICAgcmFpc2UgUnVudGltZUVycm9yKCJHaXRIdWIgQXBwIHJl
Z2lzdHJhdGlvbiBkaWQgbm90IHJldHVybiB0aGUgcmVxdWlyZWQgY3JlZGVudGlhbHMuIikKICAg
ICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShHSVRIVUJfQVBQX0ZJTEUsIGNvbmZpZykK
ICAgICAgICAgICAgICAgIHBlbmRpbmdfcGF0aChzdGF0ZSkudW5saW5rKG1pc3Npbmdfb2s9VHJ1
ZSkKICAgICAgICAgICAgICAgIHNlbGYucmVkaXJlY3QoImh0dHBzOi8vZ2l0aHViLmNvbS9hcHBz
LyIgKyB1cmxsaWIucGFyc2UucXVvdGUoc3RyKGNvbmZpZ1sic2x1ZyJdKSkgKyAiL2luc3RhbGxh
dGlvbnMvbmV3IikKICAgICAgICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9
PSAiL2dpdGh1Yi9pbnN0YWxsL2NhbGxiYWNrIjoKICAgICAgICAgICAgICAgIGFwcCA9IGdpdGh1
Yl9hcHBfY29uZmlnKCkKICAgICAgICAgICAgICAgIGluc3RhbGxhdGlvbl9pZCA9IHN0cihwYXJh
bXMuZ2V0KCJpbnN0YWxsYXRpb25faWQiLCBbIiJdKVswXSkKICAgICAgICAgICAgICAgIG9yaWdp
biA9IGNsZWFuX29yaWdpbihhcHAuZ2V0KCJvcmlnaW4iKSkKICAgICAgICAgICAgICAgIGlmIG5v
dCBhcHAuZ2V0KCJjbGllbnRfaWQiKSBvciBub3QgaW5zdGFsbGF0aW9uX2lkIG9yIG5vdCBvcmln
aW46CiAgICAgICAgICAgICAgICAgICAgc2VsZi5yZWRpcmVjdCgiLz9naXRodWJfZXJyb3I9aW5z
dGFsbCIpCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBzdGF0ZSA9
IHNlY3JldHMudG9rZW5fdXJsc2FmZSgyNCkKICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJp
dmF0ZShwZW5kaW5nX3BhdGgoc3RhdGUpLCB7CiAgICAgICAgICAgICAgICAgICAgImtpbmQiOiAi
b2F1dGgiLAogICAgICAgICAgICAgICAgICAgICJpbnN0YWxsYXRpb25faWQiOiBpbnN0YWxsYXRp
b25faWQsCiAgICAgICAgICAgICAgICAgICAgIm9yaWdpbiI6IG9yaWdpbiwKICAgICAgICAgICAg
ICAgICAgICAiZXhwaXJlcyI6IG5vd19lcG9jaCgpICsgMzYwMCwKICAgICAgICAgICAgICAgIH0p
CiAgICAgICAgICAgICAgICByZWRpcmVjdF91cmkgPSBvcmlnaW4gKyAiL2dpdGh1Yi9vYXV0aC9j
YWxsYmFjayIKICAgICAgICAgICAgICAgIHF1ZXJ5ID0gdXJsbGliLnBhcnNlLnVybGVuY29kZSh7
CiAgICAgICAgICAgICAgICAgICAgImNsaWVudF9pZCI6IGFwcFsiY2xpZW50X2lkIl0sCiAgICAg
ICAgICAgICAgICAgICAgInJlZGlyZWN0X3VyaSI6IHJlZGlyZWN0X3VyaSwKICAgICAgICAgICAg
ICAgICAgICAic3RhdGUiOiBzdGF0ZSwKICAgICAgICAgICAgICAgIH0pCiAgICAgICAgICAgICAg
ICBzZWxmLnJlZGlyZWN0KCJodHRwczovL2dpdGh1Yi5jb20vbG9naW4vb2F1dGgvYXV0aG9yaXpl
PyIgKyBxdWVyeSkKICAgICAgICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9
PSAiL2dpdGh1Yi9vYXV0aC9jYWxsYmFjayI6CiAgICAgICAgICAgICAgICBhcHAgPSBnaXRodWJf
YXBwX2NvbmZpZygpCiAgICAgICAgICAgICAgICBzdGF0ZSA9IHN0cihwYXJhbXMuZ2V0KCJzdGF0
ZSIsIFsiIl0pWzBdKQogICAgICAgICAgICAgICAgY29kZSA9IHN0cihwYXJhbXMuZ2V0KCJjb2Rl
IiwgWyIiXSlbMF0pCiAgICAgICAgICAgICAgICBwZW5kaW5nID0gcmVhZF9qc29uKHBlbmRpbmdf
cGF0aChzdGF0ZSkpCiAgICAgICAgICAgICAgICBpZiBub3QgaXNpbnN0YW5jZShwZW5kaW5nLCBk
aWN0KSBvciBwZW5kaW5nLmdldCgia2luZCIpICE9ICJvYXV0aCIgb3IgaW50KHBlbmRpbmcuZ2V0
KCJleHBpcmVzIikgb3IgMCkgPCBub3dfZXBvY2goKToKICAgICAgICAgICAgICAgICAgICBzZWxm
LnJlZGlyZWN0KCIvP2dpdGh1Yl9lcnJvcj1vYXV0aF9zdGF0ZSIpCiAgICAgICAgICAgICAgICAg
ICAgcmV0dXJuCiAgICAgICAgICAgICAgICBvcmlnaW4gPSBjbGVhbl9vcmlnaW4ocGVuZGluZy5n
ZXQoIm9yaWdpbiIpKQogICAgICAgICAgICAgICAgaWYgbm90IG9yaWdpbjoKICAgICAgICAgICAg
ICAgICAgICBzZWxmLnJlZGlyZWN0KCIvP2dpdGh1Yl9lcnJvcj1vcmlnaW4iKQogICAgICAgICAg
ICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgdG9rZW5fcGF5bG9hZCA9IGdpdGh1Yl9q
c29uKCJQT1NUIiwgImh0dHBzOi8vZ2l0aHViLmNvbS9sb2dpbi9vYXV0aC9hY2Nlc3NfdG9rZW4i
LCB7CiAgICAgICAgICAgICAgICAgICAgImNsaWVudF9pZCI6IGFwcC5nZXQoImNsaWVudF9pZCIp
LAogICAgICAgICAgICAgICAgICAgICJjbGllbnRfc2VjcmV0IjogYXBwLmdldCgiY2xpZW50X3Nl
Y3JldCIpLAogICAgICAgICAgICAgICAgICAgICJjb2RlIjogY29kZSwKICAgICAgICAgICAgICAg
ICAgICAicmVkaXJlY3RfdXJpIjogb3JpZ2luICsgIi9naXRodWIvb2F1dGgvY2FsbGJhY2siLAog
ICAgICAgICAgICAgICAgfSwgZm9ybT1UcnVlKQogICAgICAgICAgICAgICAgcmVjb3JkID0gc2F2
ZV9naXRodWJfdG9rZW4odG9rZW5fcGF5bG9hZCkKICAgICAgICAgICAgICAgIHRva2VuID0gcmVj
b3JkWyJhY2Nlc3NfdG9rZW4iXQogICAgICAgICAgICAgICAgdXNlciA9IGdpdGh1Yl9qc29uKCJH
RVQiLCBmIntHSVRIVUJfQVBJfS91c2VyIiwgdG9rZW49dG9rZW4pCiAgICAgICAgICAgICAgICBl
eHBlY3RlZF9pbnN0YWxsYXRpb24gPSBpbnQocGVuZGluZy5nZXQoImluc3RhbGxhdGlvbl9pZCIp
IG9yIDApCiAgICAgICAgICAgICAgICBpbnN0YWxsYXRpb25zID0gZ2l0aHViX2luc3RhbGxhdGlv
bnModG9rZW4pCiAgICAgICAgICAgICAgICBpbnN0YWxsYXRpb24gPSBuZXh0KCgKICAgICAgICAg
ICAgICAgICAgICBpdGVtIGZvciBpdGVtIGluIGluc3RhbGxhdGlvbnMKICAgICAgICAgICAgICAg
ICAgICBpZiBpbnQoaXRlbS5nZXQoImlkIikgb3IgMCkgPT0gZXhwZWN0ZWRfaW5zdGFsbGF0aW9u
IGFuZCBpbnQoaXRlbS5nZXQoImFwcF9pZCIpIG9yIDApID09IGludChhcHAuZ2V0KCJhcHBfaWQi
KSBvciAwKQogICAgICAgICAgICAgICAgKSwgTm9uZSkKICAgICAgICAgICAgICAgIGlmIGluc3Rh
bGxhdGlvbiBpcyBOb25lOgogICAgICAgICAgICAgICAgICAgIHJhaXNlIFJ1bnRpbWVFcnJvcigi
VGhlIEdpdEh1YiBBcHAgaW5zdGFsbGF0aW9uIGNvdWxkIG5vdCBiZSB2ZXJpZmllZCBmb3IgdGhp
cyBhY2NvdW50LiIpCiAgICAgICAgICAgICAgICB3cml0ZV9qc29uX3ByaXZhdGUoR0lUSFVCX0FD
Q09VTlRfRklMRSwgewogICAgICAgICAgICAgICAgICAgICJsb2dpbiI6IHN0cih1c2VyLmdldCgi
bG9naW4iKSBvciAiIiksCiAgICAgICAgICAgICAgICAgICAgImF2YXRhcl91cmwiOiBzdHIodXNl
ci5nZXQoImF2YXRhcl91cmwiKSBvciAiIiksCiAgICAgICAgICAgICAgICAgICAgInVzZXJfaWQi
OiB1c2VyLmdldCgiaWQiKSwKICAgICAgICAgICAgICAgICAgICAiaW5zdGFsbGF0aW9uX2lkIjog
aW5zdGFsbGF0aW9uLmdldCgiaWQiKSwKICAgICAgICAgICAgICAgICAgICAiaW5zdGFsbGF0aW9u
X2FjY291bnQiOiAoaW5zdGFsbGF0aW9uLmdldCgiYWNjb3VudCIpIG9yIHt9KS5nZXQoImxvZ2lu
IiksCiAgICAgICAgICAgICAgICAgICAgImNvbm5lY3RlZF9hdCI6IHV0Y19ub3coKSwKICAgICAg
ICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICBwZW5kaW5nX3BhdGgoc3RhdGUpLnVubGluayht
aXNzaW5nX29rPVRydWUpCiAgICAgICAgICAgICAgICBzZWxmLnJlZGlyZWN0KCIvP2dpdGh1Yj1j
b25uZWN0ZWQiKQogICAgICAgICAgICAgICAgcmV0dXJuCgogICAgICAgICAgICBzZWxmLmpzb25f
cmVzcG9uc2UoNDA0LCB7ImVycm9yIjogIk5vdCBmb3VuZCJ9KQogICAgICAgIGV4Y2VwdCAoVmFs
dWVFcnJvciwgUnVudGltZUVycm9yKSBhcyBleGM6CiAgICAgICAgICAgIGlmIHBhdGguc3RhcnRz
d2l0aCgiL2dpdGh1Yi8iKToKICAgICAgICAgICAgICAgIHNlbGYucmVkaXJlY3QoIi8/Z2l0aHVi
X2Vycm9yPSIgKyB1cmxsaWIucGFyc2UucXVvdGUoc3RyKGV4YylbOjEyMF0pKQogICAgICAgICAg
ICBlbHNlOgogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDQwMCwgeyJlcnJvciI6
IHN0cihleGMpfSkKICAgICAgICBleGNlcHQgRXhjZXB0aW9uIGFzIGV4YzoKICAgICAgICAgICAg
cHJpbnQoIkdFVCBlcnJvcjoiLCByZXByKGV4YyksIGZsdXNoPVRydWUpCiAgICAgICAgICAgIHNl
bGYuanNvbl9yZXNwb25zZSg1MDAsIHsiZXJyb3IiOiAiRm9yZ2VDb3JlIGVuY291bnRlcmVkIGFu
IHVuZXhwZWN0ZWQgZXJyb3IuIn0pCgogICAgZGVmIGRvX1BPU1Qoc2VsZik6CiAgICAgICAgcGFy
c2VkID0gdXJsbGliLnBhcnNlLnVybHBhcnNlKHNlbGYucGF0aCkKICAgICAgICBwYXRoID0gcGFy
c2VkLnBhdGgKICAgICAgICB0cnk6CiAgICAgICAgICAgIGRhdGEgPSBzZWxmLmpzb25fYm9keSgp
CgogICAgICAgICAgICBpZiBwYXRoID09ICIvYXBpL2FjY291bnQvc2V0dXAiOgogICAgICAgICAg
ICAgICAgZXhpc3RpbmcgPSByZWFkX2pzb24oQVVUSF9GSUxFLCB7fSkKICAgICAgICAgICAgICAg
IGlmIGV4aXN0aW5nLmdldCgidXNlcm5hbWUiKToKICAgICAgICAgICAgICAgICAgICBzZWxmLmpz
b25fcmVzcG9uc2UoNDA5LCB7ImVycm9yIjogIkZvcmdlQ29yZSBhY2NvdW50IGFscmVhZHkgZXhp
c3RzLiJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgdXNlcm5h
bWUgPSBzdHIoZGF0YS5nZXQoInVzZXJuYW1lIikgb3IgIiIpLnN0cmlwKCkKICAgICAgICAgICAg
ICAgIHBhc3N3b3JkID0gc3RyKGRhdGEuZ2V0KCJwYXNzd29yZCIpIG9yICIiKQogICAgICAgICAg
ICAgICAgaWYgbGVuKHVzZXJuYW1lKSA8IDIgb3IgbGVuKHVzZXJuYW1lKSA+IDQwOgogICAgICAg
ICAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIkNob29zZSBhIHVzZXJuYW1lIGJldHdlZW4g
MiBhbmQgNDAgY2hhcmFjdGVycy4iKQogICAgICAgICAgICAgICAgaWYgbGVuKHBhc3N3b3JkKSA8
IDEwOgogICAgICAgICAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIkNob29zZSBhIHBhc3N3
b3JkIHdpdGggYXQgbGVhc3QgMTAgY2hhcmFjdGVycy4iKQogICAgICAgICAgICAgICAgc2FsdCwg
ZGlnZXN0ID0gcGFzc3dvcmRfaGFzaChwYXNzd29yZCkKICAgICAgICAgICAgICAgIHdyaXRlX2pz
b25fcHJpdmF0ZShBVVRIX0ZJTEUsIHsidXNlcm5hbWUiOiB1c2VybmFtZSwgInNhbHQiOiBzYWx0
LCAicGFzc3dvcmRIYXNoIjogZGlnZXN0LCAiY3JlYXRlZEF0IjogdXRjX25vdygpfSkKICAgICAg
ICAgICAgICAgIHRva2VuID0gY3JlYXRlX3Nlc3Npb24odXNlcm5hbWUpCiAgICAgICAgICAgICAg
ICBzZWxmLmpzb25fcmVzcG9uc2UoMjAxLCB7Im9rIjogVHJ1ZSwgInVzZXJuYW1lIjogdXNlcm5h
bWV9LCB7IlNldC1Db29raWUiOiBzZWxmLnNldF9zZXNzaW9uX2Nvb2tpZSh0b2tlbil9KQogICAg
ICAgICAgICAgICAgcmV0dXJuCgogICAgICAgICAgICBpZiBwYXRoID09ICIvYXBpL2xvZ2luIjoK
ICAgICAgICAgICAgICAgIGF1dGggPSByZWFkX2pzb24oQVVUSF9GSUxFLCB7fSkKICAgICAgICAg
ICAgICAgIHVzZXJuYW1lID0gc3RyKGRhdGEuZ2V0KCJ1c2VybmFtZSIpIG9yICIiKS5zdHJpcCgp
CiAgICAgICAgICAgICAgICBwYXNzd29yZCA9IHN0cihkYXRhLmdldCgicGFzc3dvcmQiKSBvciAi
IikKICAgICAgICAgICAgICAgIGlmIG5vdCBhdXRoLmdldCgidXNlcm5hbWUiKSBvciB1c2VybmFt
ZSAhPSBhdXRoLmdldCgidXNlcm5hbWUiKSBvciBub3QgdmVyaWZ5X3Bhc3N3b3JkKHBhc3N3b3Jk
LCBhdXRoLmdldCgic2FsdCIsICIiKSwgYXV0aC5nZXQoInBhc3N3b3JkSGFzaCIsICIiKSk6CiAg
ICAgICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDQwMSwgeyJlcnJvciI6ICJJbmNv
cnJlY3QgdXNlcm5hbWUgb3IgcGFzc3dvcmQuIn0pCiAgICAgICAgICAgICAgICAgICAgcmV0dXJu
CiAgICAgICAgICAgICAgICB0b2tlbiA9IGNyZWF0ZV9zZXNzaW9uKHVzZXJuYW1lKQogICAgICAg
ICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgeyJvayI6IFRydWUsICJ1c2VybmFtZSI6
IHVzZXJuYW1lfSwgeyJTZXQtQ29va2llIjogc2VsZi5zZXRfc2Vzc2lvbl9jb29raWUodG9rZW4p
fSkKICAgICAgICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2FwaS9s
b2dvdXQiOgogICAgICAgICAgICAgICAgY29va2llID0gc2VsZi5wYXJzZV9jb29raWVzKCkKICAg
ICAgICAgICAgICAgIG1vcnNlbCA9IGNvb2tpZS5nZXQoU0VTU0lPTl9DT09LSUUpCiAgICAgICAg
ICAgICAgICBpZiBtb3JzZWw6CiAgICAgICAgICAgICAgICAgICAgc2Vzc2lvbl9wYXRoKG1vcnNl
bC52YWx1ZSkudW5saW5rKG1pc3Npbmdfb2s9VHJ1ZSkKICAgICAgICAgICAgICAgIHNlbGYuanNv
bl9yZXNwb25zZSgyMDAsIHsib2siOiBUcnVlfSwgeyJTZXQtQ29va2llIjogc2VsZi5jbGVhcl9z
ZXNzaW9uX2Nvb2tpZSgpfSkKICAgICAgICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYg
bm90IHNlbGYucmVxdWlyZV91c2VyKCk6CiAgICAgICAgICAgICAgICByZXR1cm4KCiAgICAgICAg
ICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0aHViL21hbmlmZXN0L3N0YXJ0IjoKICAgICAgICAgICAg
ICAgIG9yaWdpbiA9IGNsZWFuX29yaWdpbihkYXRhLmdldCgib3JpZ2luIikpCiAgICAgICAgICAg
ICAgICBpZiBub3Qgb3JpZ2luOgogICAgICAgICAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3Io
IkZvcmdlQ29yZSBjb3VsZCBub3QgZGV0ZXJtaW5lIGl0cyBicm93c2VyIGFkZHJlc3MuIikKICAg
ICAgICAgICAgICAgIGV4aXN0aW5nX2FwcCA9IGdpdGh1Yl9hcHBfY29uZmlnKCkKICAgICAgICAg
ICAgICAgIGlmIGV4aXN0aW5nX2FwcC5nZXQoInNsdWciKSBhbmQgZXhpc3RpbmdfYXBwLmdldCgi
Y2xpZW50X2lkIik6CiAgICAgICAgICAgICAgICAgICAgZXhpc3RpbmdfYXBwWyJvcmlnaW4iXSA9
IG9yaWdpbgogICAgICAgICAgICAgICAgICAgIHdyaXRlX2pzb25fcHJpdmF0ZShHSVRIVUJfQVBQ
X0ZJTEUsIGV4aXN0aW5nX2FwcCkKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9u
c2UoMjAwLCB7CiAgICAgICAgICAgICAgICAgICAgICAgICJtb2RlIjogInJlZGlyZWN0IiwKICAg
ICAgICAgICAgICAgICAgICAgICAgInVybCI6ICJodHRwczovL2dpdGh1Yi5jb20vYXBwcy8iICsg
dXJsbGliLnBhcnNlLnF1b3RlKHN0cihleGlzdGluZ19hcHBbInNsdWciXSkpICsgIi9pbnN0YWxs
YXRpb25zL25ldyIsCiAgICAgICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgICAgICBy
ZXR1cm4KICAgICAgICAgICAgICAgIHN0YXRlID0gc2VjcmV0cy50b2tlbl91cmxzYWZlKDI0KQog
ICAgICAgICAgICAgICAgaW5zdGFuY2VfaWQgPSBJTlNUQU5DRV9GSUxFLnJlYWRfdGV4dChlbmNv
ZGluZz0idXRmLTgiKS5zdHJpcCgpCiAgICAgICAgICAgICAgICB3cml0ZV9qc29uX3ByaXZhdGUo
cGVuZGluZ19wYXRoKHN0YXRlKSwgewogICAgICAgICAgICAgICAgICAgICJraW5kIjogIm1hbmlm
ZXN0IiwKICAgICAgICAgICAgICAgICAgICAib3JpZ2luIjogb3JpZ2luLAogICAgICAgICAgICAg
ICAgICAgICJleHBpcmVzIjogbm93X2Vwb2NoKCkgKyAzNjAwLAogICAgICAgICAgICAgICAgfSkK
ICAgICAgICAgICAgICAgIG1hbmlmZXN0ID0gewogICAgICAgICAgICAgICAgICAgICJuYW1lIjog
IkZvcmdlQ29yZSAiICsgaW5zdGFuY2VfaWRbOjZdLnVwcGVyKCksCiAgICAgICAgICAgICAgICAg
ICAgInVybCI6IEdJVEhVQl9IT01FUEFHRSwKICAgICAgICAgICAgICAgICAgICAiZGVzY3JpcHRp
b24iOiAiUHJpdmF0ZSBHaXRIdWIgaW50ZWdyYXRpb24gZm9yIG9uZSBGb3JnZUNvcmUgVW1icmVs
IGluc3RhbGxhdGlvbi4iLAogICAgICAgICAgICAgICAgICAgICJob29rX2F0dHJpYnV0ZXMiOiB7
InVybCI6IG9yaWdpbiArICIvYXBpL2dpdGh1Yi93ZWJob29rIiwgImFjdGl2ZSI6IEZhbHNlfSwK
ICAgICAgICAgICAgICAgICAgICAicmVkaXJlY3RfdXJsIjogb3JpZ2luICsgIi9naXRodWIvbWFu
aWZlc3QvY2FsbGJhY2siLAogICAgICAgICAgICAgICAgICAgICJjYWxsYmFja191cmxzIjogW29y
aWdpbiArICIvZ2l0aHViL29hdXRoL2NhbGxiYWNrIl0sCiAgICAgICAgICAgICAgICAgICAgInNl
dHVwX3VybCI6IG9yaWdpbiArICIvZ2l0aHViL2luc3RhbGwvY2FsbGJhY2siLAogICAgICAgICAg
ICAgICAgICAgICJzZXR1cF9vbl91cGRhdGUiOiBUcnVlLAogICAgICAgICAgICAgICAgICAgICJw
dWJsaWMiOiBGYWxzZSwKICAgICAgICAgICAgICAgICAgICAiZGVmYXVsdF9wZXJtaXNzaW9ucyI6
IHsKICAgICAgICAgICAgICAgICAgICAgICAgIm1ldGFkYXRhIjogInJlYWQiLAogICAgICAgICAg
ICAgICAgICAgICAgICAiY29udGVudHMiOiAid3JpdGUiLAogICAgICAgICAgICAgICAgICAgICAg
ICAiYWN0aW9ucyI6ICJyZWFkIiwKICAgICAgICAgICAgICAgICAgICAgICAgImFkbWluaXN0cmF0
aW9uIjogIndyaXRlIiwKICAgICAgICAgICAgICAgICAgICB9LAogICAgICAgICAgICAgICAgICAg
ICJkZWZhdWx0X2V2ZW50cyI6IFtdLAogICAgICAgICAgICAgICAgfQogICAgICAgICAgICAgICAg
c2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgewogICAgICAgICAgICAgICAgICAgICJhY3Rpb24iOiAi
aHR0cHM6Ly9naXRodWIuY29tL3NldHRpbmdzL2FwcHMvbmV3P3N0YXRlPSIgKyB1cmxsaWIucGFy
c2UucXVvdGUoc3RhdGUpLAogICAgICAgICAgICAgICAgICAgICJtYW5pZmVzdCI6IG1hbmlmZXN0
LAogICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAg
aWYgcGF0aCA9PSAiL2FwaS9naXRodWIvZGlzY29ubmVjdCI6CiAgICAgICAgICAgICAgICBHSVRI
VUJfQUNDT1VOVF9GSUxFLnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAgICAgICAgICBH
SVRIVUJfVE9LRU5fRklMRS51bmxpbmsobWlzc2luZ19vaz1UcnVlKQogICAgICAgICAgICAgICAg
c2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgeyJvayI6IFRydWV9KQogICAgICAgICAgICAgICAgcmV0
dXJuCgogICAgICAgICAgICBpZiBwYXRoID09ICIvYXBpL2dpdGh1Yi93b3JrZmxvd3MvcmVuYW1l
IjoKICAgICAgICAgICAgICAgIHJlcG9zaXRvcnkgPSBzdHIoZGF0YS5nZXQoInJlcG9zaXRvcnki
KSBvciAiIikuc3RyaXAoKQogICAgICAgICAgICAgICAgd29ya2Zsb3dfcGF0aCA9IHN0cihkYXRh
LmdldCgicGF0aCIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgICAgICAgICBicmFuY2ggPSBzdHIo
ZGF0YS5nZXQoImJyYW5jaCIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgICAgICAgICB3b3JrZmxv
d19uYW1lID0gc3RyKGRhdGEuZ2V0KCJuYW1lIikgb3IgIiIpLnN0cmlwKCkKICAgICAgICAgICAg
ICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIGdpdGh1Yl9yZW5hbWVfd29ya2Zsb3cocmVwb3Np
dG9yeSwgd29ya2Zsb3dfcGF0aCwgYnJhbmNoLCB3b3JrZmxvd19uYW1lKSkKICAgICAgICAgICAg
ICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aCA9PSAiL2FwaS9naXRodWIvd29ya2Zsb3dz
L3JvdXRlIjoKICAgICAgICAgICAgICAgIHJlcG9zaXRvcnkgPSBzdHIoZGF0YS5nZXQoInJlcG9z
aXRvcnkiKSBvciAiIikuc3RyaXAoKQogICAgICAgICAgICAgICAgd29ya2Zsb3dfcGF0aCA9IHN0
cihkYXRhLmdldCgicGF0aCIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgICAgICAgICBicmFuY2gg
PSBzdHIoZGF0YS5nZXQoImJyYW5jaCIpIG9yICIiKS5zdHJpcCgpCiAgICAgICAgICAgICAgICBy
b3V0ZXMgPSBkYXRhLmdldCgicm91dGVzIikKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNw
b25zZSgyMDAsIGdpdGh1Yl9yb3V0ZV93b3JrZmxvdyhyZXBvc2l0b3J5LCB3b3JrZmxvd19wYXRo
LCBicmFuY2gsIHJvdXRlcykpCiAgICAgICAgICAgICAgICByZXR1cm4KCiAgICAgICAgICAgIGlm
IHBhdGggPT0gIi9hcGkvcnVubmVycyI6CiAgICAgICAgICAgICAgICByZXBvc2l0b3J5ID0gc3Ry
KGRhdGEuZ2V0KCJyZXBvc2l0b3J5Iikgb3IgIiIpLnN0cmlwKCkKICAgICAgICAgICAgICAgIHJl
cGxhY2VfZXhpc3RpbmcgPSBkYXRhLmdldCgicmVwbGFjZUV4aXN0aW5nIikgaXMgVHJ1ZQogICAg
ICAgICAgICAgICAgaWYgbm90IFJFUE9fUkUuZnVsbG1hdGNoKHJlcG9zaXRvcnkpOgogICAgICAg
ICAgICAgICAgICAgIHJhaXNlIFZhbHVlRXJyb3IoIkNob29zZSBhIHZhbGlkIEdpdEh1YiByZXBv
c2l0b3J5LiIpCiAgICAgICAgICAgICAgICBydW5uZXJfaWQgPSBzbHVnKHJlcG9zaXRvcnkpCiAg
ICAgICAgICAgICAgICBleGlzdHMgPSBhbnkoaXRlbVsiaWQiXSA9PSBydW5uZXJfaWQgZm9yIGl0
ZW0gaW4gbGlzdF9ydW5uZXJzKCkpCiAgICAgICAgICAgICAgICBpZiBleGlzdHMgYW5kIG5vdCBy
ZXBsYWNlX2V4aXN0aW5nOgogICAgICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0
MDksIHsiZXJyb3IiOiAiQSBsb2NhbCBGb3JnZUNvcmUgUnVubmVyIGFscmVhZHkgZXhpc3RzIGZv
ciB0aGlzIHJlcG9zaXRvcnkuIn0pCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAg
ICAgICAgICByZXF1ZXN0ZWRfbmFtZSA9IHN0cihkYXRhLmdldCgibmFtZSIpIG9yICgiRm9yZ2VD
b3JlLSIgKyBydW5uZXJfaWQpKS5zdHJpcCgpCiAgICAgICAgICAgICAgICByZXF1ZXN0ZWRfbmFt
ZSA9IHZhbGlkYXRlX3J1bm5lcl9uYW1lKHJlcXVlc3RlZF9uYW1lKQogICAgICAgICAgICAgICAg
cmVxdWVzdGVkX2xhYmVscyA9IHZhbGlkYXRlX3J1bm5lcl9sYWJlbHMoZGF0YS5nZXQoImxhYmVs
cyIpKQogICAgICAgICAgICAgICAgcmVnID0gZ2l0aHViX3J1bm5lcl90b2tlbihyZXBvc2l0b3J5
LCAicmVnaXN0ZXIiKQogICAgICAgICAgICAgICAgd3JpdGVfanNvbl9wcml2YXRlKFJVTk5FUl9S
RVFVRVNUX0RJUiAvIChydW5uZXJfaWQgKyAiLmpzb24iKSwgewogICAgICAgICAgICAgICAgICAg
ICJraW5kIjogIkZvcmdlQ29yZVJ1bm5lclJlcXVlc3QiLAogICAgICAgICAgICAgICAgICAgICJy
ZXBvc2l0b3J5IjogcmVwb3NpdG9yeSwKICAgICAgICAgICAgICAgICAgICAicmVnaXN0cmF0aW9u
VG9rZW4iOiByZWcuZ2V0KCJ0b2tlbiIpLAogICAgICAgICAgICAgICAgICAgICJydW5uZXJOYW1l
IjogcmVxdWVzdGVkX25hbWUsCiAgICAgICAgICAgICAgICAgICAgInJ1bm5lckxhYmVscyI6IHJl
cXVlc3RlZF9sYWJlbHMsCiAgICAgICAgICAgICAgICAgICAgInJlcGxhY2VFeGlzdGluZyI6IHJl
cGxhY2VfZXhpc3RpbmcsCiAgICAgICAgICAgICAgICAgICAgInJlcXVlc3RlZEF0IjogdXRjX25v
dygpLAogICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25z
ZSgyMDIsIHsib2siOiBUcnVlLCAiaWQiOiBydW5uZXJfaWQsICJuYW1lIjogcmVxdWVzdGVkX25h
bWUsICJsYWJlbHMiOiByZXF1ZXN0ZWRfbGFiZWxzfSkKICAgICAgICAgICAgICAgIHJldHVybgoK
ICAgICAgICAgICAgaWYgcGF0aC5zdGFydHN3aXRoKCIvYXBpL3J1bm5lcnMvIikgYW5kIHBhdGgu
ZW5kc3dpdGgoIi9yZW5hbWUiKToKICAgICAgICAgICAgICAgIHJ1bm5lcl9pZCA9IHBhdGhbbGVu
KCIvYXBpL3J1bm5lcnMvIik6LWxlbigiL3JlbmFtZSIpXS5zdHJpcCgiLyIpCiAgICAgICAgICAg
ICAgICBpZiBub3QgU0xVR19SRS5mdWxsbWF0Y2gocnVubmVyX2lkKToKICAgICAgICAgICAgICAg
ICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIFJ1bm5lciBpZC4iKQogICAgICAgICAgICAg
ICAgcnVubmVyID0gbmV4dCgoaXRlbSBmb3IgaXRlbSBpbiBsaXN0X3J1bm5lcnMoKSBpZiBpdGVt
WyJpZCJdID09IHJ1bm5lcl9pZCksIE5vbmUpCiAgICAgICAgICAgICAgICBpZiBub3QgcnVubmVy
OgogICAgICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQsIHsiZXJyb3IiOiAi
UnVubmVyIG5vdCBmb3VuZCJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAg
ICAgICAgcmVxdWVzdGVkX25hbWUgPSB2YWxpZGF0ZV9ydW5uZXJfbmFtZShkYXRhLmdldCgibmFt
ZSIpKQogICAgICAgICAgICAgICAgcmVxdWVzdGVkX2xhYmVscyA9IHZhbGlkYXRlX3J1bm5lcl9s
YWJlbHMocnVubmVyLmdldCgibGFiZWxzIikpCiAgICAgICAgICAgICAgICBpZiByZXF1ZXN0ZWRf
bmFtZSA9PSBydW5uZXIuZ2V0KCJuYW1lIik6CiAgICAgICAgICAgICAgICAgICAgc2VsZi5qc29u
X3Jlc3BvbnNlKDIwMCwgeyJvayI6IFRydWUsICJpZCI6IHJ1bm5lcl9pZCwgIm5hbWUiOiByZXF1
ZXN0ZWRfbmFtZX0pCiAgICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBp
bnZlbnRvcnkgPSBnaXRodWJfcnVubmVycyhydW5uZXJbInJlcG9zaXRvcnkiXSkKICAgICAgICAg
ICAgICAgIHJlZ2lzdGVyZWQgPSBuZXh0KChpdGVtIGZvciBpdGVtIGluIGludmVudG9yeS5nZXQo
InJ1bm5lcnMiLCBbXSkgaWYgaXRlbS5nZXQoIm5hbWUiKSA9PSBydW5uZXIuZ2V0KCJuYW1lIikp
LCBOb25lKQogICAgICAgICAgICAgICAgaWYgcmVnaXN0ZXJlZCBhbmQgcmVnaXN0ZXJlZC5nZXQo
ImJ1c3kiKToKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDA5LCB7ImVy
cm9yIjogIlRoaXMgcnVubmVyIGlzIGJ1c3kgd2l0aCBhIEdpdEh1YiBBY3Rpb25zIGpvYi4gV2Fp
dCBmb3IgdGhlIGpvYiB0byBmaW5pc2ggYmVmb3JlIHJlbmFtaW5nIGl0LiJ9KQogICAgICAgICAg
ICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgcmVtb3ZlID0gZ2l0aHViX3J1bm5lcl90
b2tlbihydW5uZXJbInJlcG9zaXRvcnkiXSwgInJlbW92ZSIpCiAgICAgICAgICAgICAgICByZWcg
PSBnaXRodWJfcnVubmVyX3Rva2VuKHJ1bm5lclsicmVwb3NpdG9yeSJdLCAicmVnaXN0ZXIiKQog
ICAgICAgICAgICAgICAgd3JpdGVfanNvbl9wcml2YXRlKFJVTk5FUl9SRVNFVF9ESVIgLyAocnVu
bmVyX2lkICsgIi5qc29uIiksIHsKICAgICAgICAgICAgICAgICAgICAia2luZCI6ICJGb3JnZUNv
cmVSdW5uZXJSZXNldCIsCiAgICAgICAgICAgICAgICAgICAgInJlcG9zaXRvcnkiOiBydW5uZXJb
InJlcG9zaXRvcnkiXSwKICAgICAgICAgICAgICAgICAgICAicmVtb3ZlVG9rZW4iOiByZW1vdmUu
Z2V0KCJ0b2tlbiIpLAogICAgICAgICAgICAgICAgICAgICJyZXF1ZXN0ZWRBdCI6IHV0Y19ub3co
KSwKICAgICAgICAgICAgICAgICAgICAicmVhc29uIjogInJlbmFtZSIsCiAgICAgICAgICAgICAg
ICB9KQogICAgICAgICAgICAgICAgd3JpdGVfanNvbl9wcml2YXRlKFJVTk5FUl9SRVFVRVNUX0RJ
UiAvIChydW5uZXJfaWQgKyAiLmpzb24iKSwgewogICAgICAgICAgICAgICAgICAgICJraW5kIjog
IkZvcmdlQ29yZVJ1bm5lclJlcXVlc3QiLAogICAgICAgICAgICAgICAgICAgICJyZXBvc2l0b3J5
IjogcnVubmVyWyJyZXBvc2l0b3J5Il0sCiAgICAgICAgICAgICAgICAgICAgInJlZ2lzdHJhdGlv
blRva2VuIjogcmVnLmdldCgidG9rZW4iKSwKICAgICAgICAgICAgICAgICAgICAicnVubmVyTmFt
ZSI6IHJlcXVlc3RlZF9uYW1lLAogICAgICAgICAgICAgICAgICAgICJydW5uZXJMYWJlbHMiOiBy
ZXF1ZXN0ZWRfbGFiZWxzLAogICAgICAgICAgICAgICAgICAgICJyZXBsYWNlRXhpc3RpbmciOiBU
cnVlLAogICAgICAgICAgICAgICAgICAgICJyZXF1ZXN0ZWRBdCI6IHV0Y19ub3coKSwKICAgICAg
ICAgICAgICAgIH0pCiAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoMjAyLCB7Im9r
IjogVHJ1ZSwgImlkIjogcnVubmVyX2lkLCAibmFtZSI6IHJlcXVlc3RlZF9uYW1lfSkKICAgICAg
ICAgICAgICAgIHJldHVybgoKICAgICAgICAgICAgaWYgcGF0aC5zdGFydHN3aXRoKCIvYXBpL3J1
bm5lcnMvIikgYW5kIHBhdGguZW5kc3dpdGgoKCIvc3RhcnQiLCAiL3N0b3AiLCAiL3Jlc3RhcnQi
KSk6CiAgICAgICAgICAgICAgICBpZiBwYXRoLmVuZHN3aXRoKCIvc3RhcnQiKToKICAgICAgICAg
ICAgICAgICAgICBhY3Rpb24gPSAic3RhcnQiCiAgICAgICAgICAgICAgICAgICAgc3VmZml4ID0g
Ii9zdGFydCIKICAgICAgICAgICAgICAgICAgICByZXF1ZXN0X2RpciA9IFJVTk5FUl9TVEFSVF9E
SVIKICAgICAgICAgICAgICAgIGVsaWYgcGF0aC5lbmRzd2l0aCgiL3N0b3AiKToKICAgICAgICAg
ICAgICAgICAgICBhY3Rpb24gPSAic3RvcCIKICAgICAgICAgICAgICAgICAgICBzdWZmaXggPSAi
L3N0b3AiCiAgICAgICAgICAgICAgICAgICAgcmVxdWVzdF9kaXIgPSBSVU5ORVJfU1RPUF9ESVIK
ICAgICAgICAgICAgICAgIGVsc2U6CiAgICAgICAgICAgICAgICAgICAgYWN0aW9uID0gInJlc3Rh
cnQiCiAgICAgICAgICAgICAgICAgICAgc3VmZml4ID0gIi9yZXN0YXJ0IgogICAgICAgICAgICAg
ICAgICAgIHJlcXVlc3RfZGlyID0gUlVOTkVSX1JFU1RBUlRfRElSCiAgICAgICAgICAgICAgICBy
dW5uZXJfaWQgPSBwYXRoW2xlbigiL2FwaS9ydW5uZXJzLyIpOi1sZW4oc3VmZml4KV0uc3RyaXAo
Ii8iKQogICAgICAgICAgICAgICAgaWYgbm90IFNMVUdfUkUuZnVsbG1hdGNoKHJ1bm5lcl9pZCk6
CiAgICAgICAgICAgICAgICAgICAgcmFpc2UgVmFsdWVFcnJvcigiSW52YWxpZCBSdW5uZXIgaWQu
IikKICAgICAgICAgICAgICAgIHJ1bm5lciA9IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4gbGlzdF9y
dW5uZXJzKCkgaWYgaXRlbVsiaWQiXSA9PSBydW5uZXJfaWQpLCBOb25lKQogICAgICAgICAgICAg
ICAgaWYgbm90IHJ1bm5lcjoKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2Uo
NDA0LCB7ImVycm9yIjogIlJ1bm5lciBub3QgZm91bmQifSkKICAgICAgICAgICAgICAgICAgICBy
ZXR1cm4KICAgICAgICAgICAgICAgIGludmVudG9yeSA9IGdpdGh1Yl9ydW5uZXJzKHJ1bm5lclsi
cmVwb3NpdG9yeSJdKQogICAgICAgICAgICAgICAgcmVnaXN0ZXJlZCA9IG5leHQoKGl0ZW0gZm9y
IGl0ZW0gaW4gaW52ZW50b3J5LmdldCgicnVubmVycyIsIFtdKSBpZiBpdGVtLmdldCgibmFtZSIp
ID09IHJ1bm5lci5nZXQoIm5hbWUiKSksIE5vbmUpCiAgICAgICAgICAgICAgICBpZiBhY3Rpb24g
aW4geyJzdG9wIiwgInJlc3RhcnQifSBhbmQgcmVnaXN0ZXJlZCBhbmQgcmVnaXN0ZXJlZC5nZXQo
ImJ1c3kiKToKICAgICAgICAgICAgICAgICAgICBzZWxmLmpzb25fcmVzcG9uc2UoNDA5LCB7ImVy
cm9yIjogIlRoaXMgcnVubmVyIGlzIGJ1c3kgd2l0aCBhIEdpdEh1YiBBY3Rpb25zIGpvYi4gV2Fp
dCBmb3IgdGhlIGpvYiB0byBmaW5pc2ggYmVmb3JlIGNoYW5naW5nIGl0cyBwcm9jZXNzIHN0YXRl
LiJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgd3JpdGVfanNv
bl9wcml2YXRlKHJlcXVlc3RfZGlyIC8gKHJ1bm5lcl9pZCArICIuanNvbiIpLCB7CiAgICAgICAg
ICAgICAgICAgICAgImtpbmQiOiAiRm9yZ2VDb3JlUnVubmVyIiArIGFjdGlvbi5jYXBpdGFsaXpl
KCksCiAgICAgICAgICAgICAgICAgICAgInJlcG9zaXRvcnkiOiBydW5uZXJbInJlcG9zaXRvcnki
XSwKICAgICAgICAgICAgICAgICAgICAicmVxdWVzdGVkQXQiOiB1dGNfbm93KCksCiAgICAgICAg
ICAgICAgICB9KQogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMiwgeyJvayI6
IFRydWUsICJpZCI6IHJ1bm5lcl9pZCwgImFjdGlvbiI6IGFjdGlvbn0pCiAgICAgICAgICAgICAg
ICByZXR1cm4KCiAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQsIHsiZXJyb3IiOiAi
Tm90IGZvdW5kIn0pCiAgICAgICAgZXhjZXB0IChWYWx1ZUVycm9yLCBSdW50aW1lRXJyb3IpIGFz
IGV4YzoKICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDQwMCwgeyJlcnJvciI6IHN0cihl
eGMpfSkKICAgICAgICBleGNlcHQgRXhjZXB0aW9uIGFzIGV4YzoKICAgICAgICAgICAgcHJpbnQo
IlBPU1QgZXJyb3I6IiwgcmVwcihleGMpLCBmbHVzaD1UcnVlKQogICAgICAgICAgICBzZWxmLmpz
b25fcmVzcG9uc2UoNTAwLCB7ImVycm9yIjogIkZvcmdlQ29yZSBlbmNvdW50ZXJlZCBhbiB1bmV4
cGVjdGVkIGVycm9yLiJ9KQoKICAgIGRlZiBkb19ERUxFVEUoc2VsZik6CiAgICAgICAgcGFyc2Vk
ID0gdXJsbGliLnBhcnNlLnVybHBhcnNlKHNlbGYucGF0aCkKICAgICAgICBwYXRoID0gcGFyc2Vk
LnBhdGgKICAgICAgICB0cnk6CiAgICAgICAgICAgIGlmIG5vdCBzZWxmLnJlcXVpcmVfdXNlcigp
OgogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHBhdGggPT0gIi9hcGkvZ2l0
aHViL3dvcmtmbG93cyI6CiAgICAgICAgICAgICAgICBwYXJhbXMgPSB1cmxsaWIucGFyc2UucGFy
c2VfcXMocGFyc2VkLnF1ZXJ5KQogICAgICAgICAgICAgICAgcmVwb3NpdG9yeSA9IHN0cihwYXJh
bXMuZ2V0KCJyZXBvc2l0b3J5IiwgWyIiXSlbMF0pLnN0cmlwKCkKICAgICAgICAgICAgICAgIHdv
cmtmbG93X3BhdGggPSBzdHIocGFyYW1zLmdldCgicGF0aCIsIFsiIl0pWzBdKS5zdHJpcCgpCiAg
ICAgICAgICAgICAgICBicmFuY2ggPSBzdHIocGFyYW1zLmdldCgiYnJhbmNoIiwgWyIiXSlbMF0p
LnN0cmlwKCkKICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSgyMDAsIGdpdGh1Yl9k
ZWxldGVfd29ya2Zsb3cocmVwb3NpdG9yeSwgd29ya2Zsb3dfcGF0aCwgYnJhbmNoKSkKICAgICAg
ICAgICAgICAgIHJldHVybgogICAgICAgICAgICBpZiBwYXRoLnN0YXJ0c3dpdGgoIi9hcGkvZ2l0
aHViL3J1bm5lcnMvIik6CiAgICAgICAgICAgICAgICBydW5uZXJfaWQgPSBwYXRoW2xlbigiL2Fw
aS9naXRodWIvcnVubmVycy8iKTpdLnN0cmlwKCIvIikKICAgICAgICAgICAgICAgIHJlcG9zaXRv
cnkgPSBzdHIodXJsbGliLnBhcnNlLnBhcnNlX3FzKHBhcnNlZC5xdWVyeSkuZ2V0KCJyZXBvc2l0
b3J5IiwgWyIiXSlbMF0pLnN0cmlwKCkKICAgICAgICAgICAgICAgIGlmIG5vdCBydW5uZXJfaWQu
aXNkaWdpdCgpIG9yIG5vdCBSRVBPX1JFLmZ1bGxtYXRjaChyZXBvc2l0b3J5KToKICAgICAgICAg
ICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIEdpdEh1YiBydW5uZXIgb3IgcmVw
b3NpdG9yeS4iKQogICAgICAgICAgICAgICAgaW52ZW50b3J5ID0gZ2l0aHViX3J1bm5lcnMocmVw
b3NpdG9yeSkKICAgICAgICAgICAgICAgIHJlbW90ZSA9IG5leHQoKGl0ZW0gZm9yIGl0ZW0gaW4g
aW52ZW50b3J5LmdldCgicnVubmVycyIsIFtdKSBpZiBzdHIoaXRlbS5nZXQoImlkIikpID09IHJ1
bm5lcl9pZCksIE5vbmUpCiAgICAgICAgICAgICAgICBpZiBub3QgcmVtb3RlOgogICAgICAgICAg
ICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQsIHsiZXJyb3IiOiAiR2l0SHViIHJ1bm5l
ciBub3QgZm91bmQifSkKICAgICAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAg
IGlmIHJlbW90ZS5nZXQoIm1hbmFnZWRCeUZvcmdlQ29yZSIpOgogICAgICAgICAgICAgICAgICAg
IHNlbGYuanNvbl9yZXNwb25zZSg0MDksIHsiZXJyb3IiOiAiVGhpcyBydW5uZXIgaXMgbWFuYWdl
ZCBieSBGb3JnZUNvcmUuIFVzZSB0aGUgbWFuYWdlZCBydW5uZXIgUmVtb3ZlIGFjdGlvbiBpbnN0
ZWFkLiJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgaWYgcmVt
b3RlLmdldCgiYnVzeSIpOgogICAgICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0
MDksIHsiZXJyb3IiOiAiVGhpcyBydW5uZXIgaXMgYnVzeSB3aXRoIGEgR2l0SHViIEFjdGlvbnMg
am9iLiBXYWl0IGZvciB0aGUgam9iIHRvIGZpbmlzaCBiZWZvcmUgcmVtb3ZpbmcgaXQuIn0pCiAg
ICAgICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICBnaXRodWJfanNvbigKICAg
ICAgICAgICAgICAgICAgICAiREVMRVRFIiwKICAgICAgICAgICAgICAgICAgICBmIntHSVRIVUJf
QVBJfS9yZXBvcy97cmVwb3NpdG9yeX0vYWN0aW9ucy9ydW5uZXJzL3tydW5uZXJfaWR9IiwKICAg
ICAgICAgICAgICAgICAgICB0b2tlbj1naXRodWJfdXNlcl90b2tlbigpLAogICAgICAgICAgICAg
ICAgKQogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMCwgeyJvayI6IFRydWUs
ICJydW5uZXJJZCI6IGludChydW5uZXJfaWQpfSkKICAgICAgICAgICAgICAgIHJldHVybgogICAg
ICAgICAgICBpZiBwYXRoLnN0YXJ0c3dpdGgoIi9hcGkvcnVubmVycy8iKToKICAgICAgICAgICAg
ICAgIHJ1bm5lcl9pZCA9IHBhdGhbbGVuKCIvYXBpL3J1bm5lcnMvIik6XS5zdHJpcCgiLyIpCiAg
ICAgICAgICAgICAgICBpZiBub3QgU0xVR19SRS5mdWxsbWF0Y2gocnVubmVyX2lkKToKICAgICAg
ICAgICAgICAgICAgICByYWlzZSBWYWx1ZUVycm9yKCJJbnZhbGlkIFJ1bm5lciBpZC4iKQogICAg
ICAgICAgICAgICAgcnVubmVyID0gbmV4dCgoaXRlbSBmb3IgaXRlbSBpbiBsaXN0X3J1bm5lcnMo
KSBpZiBpdGVtWyJpZCJdID09IHJ1bm5lcl9pZCksIE5vbmUpCiAgICAgICAgICAgICAgICBpZiBu
b3QgcnVubmVyOgogICAgICAgICAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQsIHsi
ZXJyb3IiOiAiUnVubmVyIG5vdCBmb3VuZCJ9KQogICAgICAgICAgICAgICAgICAgIHJldHVybgog
ICAgICAgICAgICAgICAgaW52ZW50b3J5ID0gZ2l0aHViX3J1bm5lcnMocnVubmVyWyJyZXBvc2l0
b3J5Il0pCiAgICAgICAgICAgICAgICByZWdpc3RlcmVkID0gbmV4dCgoaXRlbSBmb3IgaXRlbSBp
biBpbnZlbnRvcnkuZ2V0KCJydW5uZXJzIiwgW10pIGlmIGl0ZW0uZ2V0KCJuYW1lIikgPT0gcnVu
bmVyLmdldCgibmFtZSIpKSwgTm9uZSkKICAgICAgICAgICAgICAgIGlmIHJlZ2lzdGVyZWQgYW5k
IHJlZ2lzdGVyZWQuZ2V0KCJidXN5Iik6CiAgICAgICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jl
c3BvbnNlKDQwOSwgeyJlcnJvciI6ICJUaGlzIHJ1bm5lciBpcyBidXN5IHdpdGggYSBHaXRIdWIg
QWN0aW9ucyBqb2IuIFdhaXQgZm9yIHRoZSBqb2IgdG8gZmluaXNoIGJlZm9yZSByZW1vdmluZyBp
dC4ifSkKICAgICAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgIHJlbW92ZSA9
IGdpdGh1Yl9ydW5uZXJfdG9rZW4ocnVubmVyWyJyZXBvc2l0b3J5Il0sICJyZW1vdmUiKQogICAg
ICAgICAgICAgICAgd3JpdGVfanNvbl9wcml2YXRlKFJVTk5FUl9SRVNFVF9ESVIgLyAocnVubmVy
X2lkICsgIi5qc29uIiksIHsKICAgICAgICAgICAgICAgICAgICAia2luZCI6ICJGb3JnZUNvcmVS
dW5uZXJSZXNldCIsCiAgICAgICAgICAgICAgICAgICAgInJlcG9zaXRvcnkiOiBydW5uZXJbInJl
cG9zaXRvcnkiXSwKICAgICAgICAgICAgICAgICAgICAicmVtb3ZlVG9rZW4iOiByZW1vdmUuZ2V0
KCJ0b2tlbiIpLAogICAgICAgICAgICAgICAgICAgICJyZXF1ZXN0ZWRBdCI6IHV0Y19ub3coKSwK
ICAgICAgICAgICAgICAgICAgICAicmVhc29uIjogInJlbW92ZSIsCiAgICAgICAgICAgICAgICB9
KQogICAgICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDIwMiwgeyJvayI6IFRydWV9KQog
ICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg0MDQs
IHsiZXJyb3IiOiAiTm90IGZvdW5kIn0pCiAgICAgICAgZXhjZXB0IChWYWx1ZUVycm9yLCBSdW50
aW1lRXJyb3IpIGFzIGV4YzoKICAgICAgICAgICAgc2VsZi5qc29uX3Jlc3BvbnNlKDQwMCwgeyJl
cnJvciI6IHN0cihleGMpfSkKICAgICAgICBleGNlcHQgRXhjZXB0aW9uIGFzIGV4YzoKICAgICAg
ICAgICAgcHJpbnQoIkRFTEVURSBlcnJvcjoiLCByZXByKGV4YyksIGZsdXNoPVRydWUpCiAgICAg
ICAgICAgIHNlbGYuanNvbl9yZXNwb25zZSg1MDAsIHsiZXJyb3IiOiAiRm9yZ2VDb3JlIGVuY291
bnRlcmVkIGFuIHVuZXhwZWN0ZWQgZXJyb3IuIn0pCgoKaWYgX19uYW1lX18gPT0gIl9fbWFpbl9f
IjoKICAgIGVuc3VyZV9kaXJzKCkKICAgIHBvcnQgPSBpbnQob3MuZW52aXJvbi5nZXQoIlBPUlQi
LCAiODA4MCIpKQogICAgcHJpbnQoZiJGb3JnZUNvcmUgQ2xlYW4gQmV0YSB7VkVSU0lPTn0gbGlz
dGVuaW5nIG9uIDp7cG9ydH0iLCBmbHVzaD1UcnVlKQogICAgVGhyZWFkaW5nSFRUUFNlcnZlcigo
IjAuMC4wLjAiLCBwb3J0KSwgSGFuZGxlcikuc2VydmVfZm9yZXZlcigpCg==
